[2017-04-26 14:39] Yvand opened #3 "Placeholder for images"
![ldapcp_ppicker](https://cloud.githubusercontent.com/assets/8788631/25440203/f57202f2-2a9e-11e7-819e-30e2f5361cb4.PNG)

[2017-04-26 14:40] crossan007 commented on #3
Images would be a great addition to the "search as you type" lookup box.

[2017-04-26 14:56] Yvand commented on #3
![ldapcp_ppicker](https://cloud.githubusercontent.com/assets/8788631/25440961/3b8db40a-2aa1-11e7-9070-aee808950f38.PNG)

[2017-04-26 14:57] Yvand commented on #3
@crossan007 I created this issue only to store some images that I plan to use in md files :)
I'm not sure I got your suggestion, can you please explain?

[2017-04-26 15:01] crossan007 commented on #3
Ah - I interpreted this as an idea to include the user's profile image within the LDAPCP result selection list to the left (or right) of the user name:

![image](https://cloud.githubusercontent.com/assets/11679900/25441265/b4ba9406-2a6f-11e7-8dc0-1673f74ea7ec.png)

[2017-04-26 15:03] crossan007 commented on #3
@Yvand for storing the images (for use in readme.md?) you could check them into a new branch in the project too...

[2017-04-26 15:07] Yvand commented on #3
@crossan007 ah, yes, indeed, I could (and probably should) do that...
Regarding your suggestion, it is really great, but it's not something that can be implemented in a custom claims provider.
You should submit this idea in [SharePoint uservoice](https://sharepoint.uservoice.com/)

[2017-04-26 15:13] crossan007 commented on #3
Posted: https://sharepoint.uservoice.com/forums/329214-sites-and-collaboration/suggestions/19057273-include-user-profile-photos-in-the-people-picker-r

[2017-04-27 14:59] sammtrend opened #4 "People picker search in contacts instead of users"
Hello,

I'm in a case where I would like to read an Active directory where the users are actually contacts and not users. How can I search on contacts in the directory instead of users?
Can you help me?
Any plan to make an option for this (search also in contacts and not only users) in your application?
This is because in the context of ADFS we use FIM to replicate users from a federated company a

[2017-04-28 07:18] Yvand commented on #4
Technically, the reason why LDAPCP doesn't query contacts is because LDAP object class of users is set to "user".
To include contacts, you can try to change it to "person", which includes both users and contacts (at least in Active Directory).
But I never tested this, I don't know if this would work fine.
You can make this change in central administration > security > LDAPCP claims mapping.
Can yo

[2017-04-28 10:01] sammtrend commented on #4
hello,
Yes it works !!! Thank you very much for your answer ! You saved me a lot of time!

[2017-04-28 11:02] Yvand commented on #4
My pleasure!

[2017-04-28 11:02] #4 closed

[2017-05-17 18:09] aovecka opened #5 "CN or DisplayName"
Does anyone know how to properly import the claim of Displayname? I have ADFS Sending DIsplay-Name, but the peoplepicker keeps showing the UPN in the window.  If i HOVER over the account, it is also showing the cn=(Users full name) which iisi what i want, but how do i have the peoplepicker show the Display Name there?

[2017-05-18 13:49] Yvand commented on #5
hello, the people picker (so LDAPCP here) doesn't use what ADFS sends, it uses its own configuration to query LDAP server and display results.
If you want to show the display name in the people picker, go to central administration > security > LDAPCP global configuration: in section "Display of permissions created with identity claim", type property displayName in "Display another LDAP attribute"

[2017-05-23 16:22] aovecka commented on #5
Thanks, I’ll try that!

From: Yvan Duhamel [mailto:notifications@github.com]
Sent: Thursday, May 18, 2017 9:50 AM
To: Yvand/LDAPCP <LDAPCP@noreply.github.com>
Cc: aovecka <alex.ovecka@gmail.com>; Author <author@noreply.github.com>
Subject: Re: [Yvand/LDAPCP] CN or DisplayName (#5)

hello, the people picker (so LDAPCP here) doesn't use what ADFS sends, it uses its own configuration to query LDAP se

[2017-06-13 10:33] Veggern opened #6 "The objectSid attribute"
Hi,

I started to use this provider a few days ago for testing and it seems like a solid solution. I have one minor issue though I am not sure if is supported or not and that is the usage of the objectSid attribute. When setting things up I get the attribute back but in binary form as stored in AD. So I think this will solve itself with a conversion to string? Is this a possiblity to implement or

[2017-06-13 12:49] Yvand commented on #6
Hi Vegard,
indeed objectSid attribute is not supported because it requires to convert value between hexadecimal and string, which is not handled.
In the past I already investigated the feasibility and it didn't sound difficult to implement, but to be honest it's not my todo list for the moment.
thanks,
Yvan

[2017-06-13 13:16] Veggern commented on #6
Thanks for reply Yvand. Just wanted clarification/confirmation. I would pobably stick to the augmentation future which works like a charm. At least until AD admin starts restructuring :P

Vegard

[2017-06-13 13:16] #6 closed

[2017-06-29 03:55] a4n0nym0u5 opened #12 "Issue of people picker for site collection admin. in Sharepoint Central Administrative System"
Since I am using your claim prvoider LDAPCP, after I have installed it, it causes error (cannot pick the role or even pick UPN) when I use people picker to set the site collection administrator of my webapp in  SharePoint Central Administrative site.  However, the people picker works (could pick role) when I set the permission inside site permission inside the web app. But, I can't set the site co

[2017-06-29 07:09] Yvand commented on #12
Can you check the SharePoint logs and filter on Product/Area "LDAPCP"?
It should give you more insight on what's happening.

[2017-06-29 12:19] jshenderson opened #13 "No Results in OOTB People Pickers (SP2016)"
I just installed LDAPCP on a fresh SP2016 installation. I'm using ADFS as a trusted provider. Sync is working and pulling in profiles. I'm able to login. However, now that the LDAPCP is installed I am not getting any results in my people picker.

I have installed your solution on a 2013 farm and had good results so I'm wondering if maybe I missed a step.

Thanks in advance for your assistance.

[2017-06-29 15:38] Yvand commented on #13
Can you check the SharePoint logs and filter on Product/Area "LDAPCP"?
It should give you more insight on what's happening.

[2017-06-29 15:54] jshenderson commented on #13
I turned on Verbose logging for LDAPCP and get no results from it in logs.

![image](https://user-images.githubusercontent.com/6308291/27697242-4a3712f4-5cb9-11e7-8b1d-c8a19f9b41db.png)

[2017-06-29 15:57] jshenderson commented on #13
This is a good example. I'm logged in as spadmin, but when I type it in to the people picker there no results. (I do have a couple of users that were previously NTLM and noticed they show up in the people picker, but no ADFS profiles)

![image](https://user-images.githubusercontent.com/6308291/27697399-c2063666-5cb9-11e7-9cca-ae507b37dd35.png)

[2017-06-30 06:15] Yvand commented on #13
Can you access LDAPCP administration page in central administration > security and confirm that there is nothing wrong (no error message in red)?
Then, in LDAPCP claims mapping page (same location), is the identity claim type (bold green line) present, with valid LDAP attribute/class?

[2017-06-30 12:16] jshenderson commented on #13
**Central Admin > Security**
![image](https://user-images.githubusercontent.com/6308291/27735054-3f0d9114-5d63-11e7-8cfe-01eb17c22730.png)

**LDAP Claims Mapping Page**
![image](https://user-images.githubusercontent.com/6308291/27735116-8fe1e16c-5d63-11e7-8669-275b77d21933.png)

NOTE: when i installed this on 2013, I was able to choose the attribute from a drop down list on the User Profile Proper

[2017-06-30 14:47] jshenderson commented on #13
NOTE: I'm using this on an extend web application. Where the default is NTLM for search results, and the actual domain is using the extranet zone for ADFS authentication. I'm not sure if this would make a difference do I wanted to throw that out there.

[2017-06-30 15:03] Yvand commented on #13
It makes no sense that you don't see any LDAPCP activity in the logs, it should log something, especially in verbose.
Can you run that to double check logs:
[code]

Can you also run this and confirm LDAPCP is displayed:
[code]

[2017-06-30 15:36] jshenderson commented on #13
Thank you for your responses.
The logs are producing now.
I can see "Add AD Server" > "Connecting to..." and where I'm getting "Get 0 Results"
but no errors.

There are a few entries throughout the logs that are "Monitorable" and say "[LDAPCP] Entry with LDAP class group is defined but it doesn't match any entry with the same LDAP class and a claim type defined. Add an entry with same LDAP object

[2017-07-03 08:19] Yvand commented on #13
So LDAPCP is connecting and does LDAP queries, but they return nothing.
Then the question is if LDAP server should actually return results, or if the LDAP query is invalid.
You can replay LDAP queries with PowerShell to investigate this further, you can use the script in http://ldapcp.com/Troubleshoot-LDAPCP.html

[2017-07-04 09:56] Bastien-RB opened #15 "Augmentation with Ldap Issue"
Hello

I have an issue with the augmentation with an ldap server ( No AD)
I Have uncheck the box "This is an Active Directory server, use UserPrincipal.GetAuthorizationGroups "

But The augmentation doesnt work and I have this uls error. LDAPCP Try with the AD method

`[LDAPCP] Unexpected error while getting AD group membership of user XXXXXXX in LDAP://xxxxxx:636/ou=XXX,o=XXX using UserPrincipal.

[2017-07-04 12:17] Yvand commented on #15
Hello,
when you leave the LDAPCP admin page and return to it, can you confirm that the check box "This is an Active Directory server, use UserPrincipal.GetAuthorizationGroups" remains unchecked?
Did you try to [refresh the non-interactive token](http://ldapcp.com/Troubleshoot-LDAPCP.html) in a new PowerShell process, that you start after you changed the setting?

[2017-07-04 13:08] Bastien-RB commented on #15
I cleared the sharepoint cache on the Front end (C:\ProgramData\Microsoft\SharePoint\Config\) And Its resolved the problem thanks for you help

[2017-07-04 13:15] Yvand commented on #15
Sure, thanks ! :)

[2017-07-04 13:15] #15 closed

[2017-07-04 13:16] Yvand commented on #5
Hello @aovecka, any news on that?

[2017-07-05 20:40] aovecka commented on #5
Sure! You have to make sure the ORDER of your mappings are correct and also the last powershell tag on your command uses -IdentifierClaim $upnclaimmap.InputClaimType  Anotherwords, make sure the UPN is your main claim (Which is what is set in Active Directory for each user) and in the Claim Mapping config in the “Attirbute to display” I use the “cn” (common name) attribute which is their full disp

[2017-07-06 12:20] Yvand commented on #5
Regarding the parameter "IdentifierClaim", I assume you talk about cmdlet [New-SPTrustedIdentityTokenIssuer](https://technet.microsoft.com/en-us/library/ff607628.aspx)n and indeed it's required SharePoint.
Regarding the order, I'm not sure I got your point
Anyway, I'm glad it works, and thank you for taking the time to reply

[2017-07-06 12:20] #5 closed

[2017-07-06 12:21] Yvand commented on #13
@jshenderson any update on this?

[2017-07-06 12:21] Yvand commented on #12
@a4n0nym0u5 any update on this?

[2017-07-06 12:25] jshenderson commented on #13
not yet. due to building the farm with the daggum port in the DB connection. I was unable to update the farm. So I am in the process of rebuilding, but I'm about done. I should have an answer very soon. Again, I really appreciate your tool, and your assistance. BTW, you're tool was suggested to me by a MS PFE .

[2017-07-06 13:27] Yvand commented on #13
Awesome, thanks for your feedback!
Please keep updating this thread with your progress

[2017-07-06 13:42] aovecka commented on #5
You're right, the order is not necessary.  I didn't mean to call that out.
But the identifier claim and then calling a different mapping.

On Thu, Jul 6, 2017 at 8:20 AM, Yvan Duhamel <notifications@github.com>
wrote:

[2017-07-12 18:17] jshenderson commented on #13
Thank you for your patience. I have rebuild the farm successfully and had good success with ADFS. However, I'm having the same issue with LDAPCP and the people picker having no results returned.

I have replayed the queries I found in the logs and they do bring back results in powershell, but say "Got 0 results..." in the logs.

Do you know what I could be missing?

[2017-07-12 18:33] Yvand commented on #13
Hi @jshenderson , you should pay attention about the LDAP filter, there must be something wrong with it that explains why LDAP server returns no result.
You can try to replay the LDAP query with PowerShell using the script available in http://ldapcp.com/Troubleshoot-LDAPCP.html
Hopefully you'll find what's wrong.

[2017-07-12 19:16] jshenderson commented on #13
You can make this complete. I have found the issue, and now need to figure out how to fix it.
The LDAP query the server is running is on a subdomain hence the 0 results. But my user profile sync is running on the actual domain and pulling everything correctly. I'm not sure why this happening maybe because the server is in the subdomain?

[2017-07-12 19:16] #13 closed

[2017-08-21 12:12] Yvand commented on #12
Closing since author didn't reply

[2017-08-21 12:12] #12 closed

[2017-08-22 16:11] Joeostr opened #16 "Unexpected error in SearchOrValidate"
Hi,

Installed and configured LDAPCP in SharePoint 2013. It all seems to be fine except the people picker doesnt return any results. i see the following errors in the log.

08/22/2017 12:02:52.44 	w3wp.exe (SHPTSrvr:0x1478)                	0x41F4	LDAPCP                        	LDAP Lookup                   	1337	Medium	[LDAPCP] 4 permission(s) to create after filtering	b8cd119e-ad17-d04e-d6c0-f866

[2017-08-23 09:33] Yvand commented on #16
Hello,
interesting, it seems it tries to get a LDAP property that does not exist, which should not happen since it should verify if it exists before.
- Do you get this with every user?
- Can you share your claims mapping configuration?
- What version of LDAPCP are you using?

[2017-08-23 17:06] Joeostr commented on #16
Hi there,

Yes, its pretty much all users. Requested info below. i just tried again, all returned results are  "_i:0#.w_" windows users

**Get-SPTrustedIdentityTokenIssuer** (relevant data)
ClaimTypes                    : {http://schemas.xmlsoap.org/ws/2005/05/identity
                                /claims/emailaddress, http://schemas.xmlsoap.or
                                g/ws/2005/05/ident

[2017-08-24 07:57] Yvand commented on #16
Can you send a screenshot of the LDAPCP claims mapping page in central administration > security?

[2017-08-24 21:35] Joeostr commented on #16
Ah, LDAPCP claims mapping. Sorry. See image below. I removed the error ones, IIS Reset and searched for a user david. See log below. I tested the query manually (in AD), and it works fine.

![ldapcp](https://user-images.githubusercontent.com/31250068/29689493-66251f6a-88f1-11e7-8cf2-e254157437b2.png)

08/24/2017 17:25:11.88 	w3wp.exe (SHPTSrvr:0x6C8C)                	0x286C	LDAPCP

[2017-08-28 06:29] Yvand commented on #16
I can't see anything wrong in your config.
Interestingly you get the same System.ArgumentOutOfRangeException in 2 different methods: LDAPCP.CreatePickerEntityHelper and ConsolidatedResultCollection.Contains

Is it possible for you to capture a dump on the System.ArgumentOutOfRangeException and share it with me?
You can use [procdump from sysinternals](https://docs.microsoft.com/en-us/sysinternals/

[2017-08-31 00:00] Joeostr commented on #16
Hi there,

Attached is the dump result. I've also uploaded the full dump to WeTransfer. i actually have two dumps, one of them i zipped (to shrink the size). Click [here ](https://wetransfer.com/downloads/a70dc5ca10c7d7e504904652fd8e7e5f20170830235516/5fd804ab9800eae10c9e30f1b30d88f120170830235516/cd57ff?utm_campaign=WT_email_tracking&utm_content=general&utm_medium=download_button&utm_source=notif

[2017-08-31 11:25] Yvand commented on #16
Thanks for your time to collect the dump, here is what happens:
The LDAP search returned 17 results, but one of the user does not have his identity attribute (mail) set, which causes the ArgumentOutOfRangeException exception. This user was found based on its cn, sn or displayname attribute.

This is a flaw in the LDAPCP logic: this kind of user should be detected and excluded, so that other result

[2017-08-31 23:28] Joeostr commented on #16
Thanks for the feedback. My issue is that i have a large number of users w/o the mail attribute. I just removed the mail claims mapping, and its working fine now.

I see you posted a fix. Perhaps if you could let me know when its available for download

Thanks!!

[2017-09-01 09:28] Yvand commented on #16
Yes, I needed some time to make additional tests, but now I'm happy with the result and I just published the update (v2017.09), you can download it directly from http://ldapcp.com/
Now, when this scenario happens, result is simply ignored and this message is recorded:
[code]
Can you please test the update and confirm if the issue is fully resolved?

[2017-09-01 20:28] Joeostr commented on #16
Ill give it a shot next week. If you can share with me your contacts, ill PM with the results.

Thank you for a fantastic solution!

[2017-09-05 14:37] barnabus86 opened #19 "Results Not showing - 2016"
We have installed LDAPCP on our SP2016 Farm, but when we attempt to add a user via their display name, we are told that there is 1 result, but nothing is returned

![image](https://user-images.githubusercontent.com/8266512/30066467-e0a1f058-924f-11e7-91ba-b442a4b112de.png)

It works fine if you add the user via their SAMAccountName.

[2017-09-05 14:53] Yvand commented on #19
Can you check SharePoint logs and filter on Product/Area LDAPCP ?

[2017-09-05 15:22] barnabus86 commented on #19
Thanks for the quick response.

I've had a look in the logs on both of our WFE Servers and can only see the following with a Area of LDAPCP

[LDAPCP] LdapcpConfig PersistedObject changed, refreshing configuration	af4b169e-bcb8-905a-1330-573c79e468af

Looking further in to the logs, i can see the following

[LDAPCP] Got 3 result(s) in 0ms from <ldap Server>

[LDAPCP] Added permission: claim value:

[2017-09-05 15:37] Yvand commented on #19
It's a bit weird
Can you show the claims mapping configuration in central admin > security > LDAPCP claims mapping page?

[2017-09-06 09:09] barnabus86 commented on #19
![image](https://user-images.githubusercontent.com/8266512/30103523-d2617482-92ea-11e7-9e1f-0a9fbbd03a4a.png)

We were previously mapping the UPN against the LDAP attribute UPN, but decided to use sAMAccountName instead. I haven't updated the ADFS claim type to "windows account name" as i already had UPN mapped as a  claim type in my trusted token issuer. I'm happy to change this if you think it m

[2017-09-06 13:35] Yvand commented on #19
The last row may be the cause of this: it duplicates the displayName attribute on the previous row (the "linked to identity claim" one).
But do you really need the claim type isregistereduser? I don't think it makes sense to bind a claim type to the attribute displayName: it's not unique and 2 users may have the same.

Can you try to remove isregistereduser row and see if results are returned corr

[2017-09-08 10:32] barnabus86 commented on #19
Hi Yvand,

Removing the isregistereduser has resolved the issue.

Thanks for the help.

LDAPCP has really saved us a lot of time in our move to ADFS Authentication.

[2017-09-08 10:48] Yvand commented on #19
Awesome, thank you for your feedback :)

[2017-09-08 10:49] #19 closed

[2017-09-08 10:50] Yvand commented on #16
HI @Joeostr, did you have time to test the update?

[2017-09-12 06:41] Yvand commented on #16
Closing issue since @Joeostr is unresponsive

[2017-09-12 06:41] #16 closed

[2017-09-12 22:18] swanle opened #20 "error in LDAPCP configuration page"
Hi Yvand

I edited some information in Claims mapping and now I see this error display whenever I open  Global Configuration page.
I deleted the entry in http://schemas.xmlsoap.org/ws/2005/05/identity/claims/role  in Claims mapping page

I see this error "There is no claim type associated with an entity type 'FormsRole' or 'SecurityGroup'  display on top of Global Configuration page.  I think may

[2017-09-14 06:59] Yvand commented on #20
Hi @swanle
LDAPCP searches an entry with entity 'FormsRole' or 'SecurityGroup', and uses its claim type for the groups it creates if augmentation is enabled.
If there is none, augmentation does not happen.
By default claim type http://schemas.xmlsoap.org/ws/2005/05/identity/claims/role is set with 'FormsRole', so (if LDACP augmentation is enabled), groups will be created with this claim type.
Does

[2017-09-19 17:43] XxXMike opened #21 "Claim provider with name LDAPCP does not exist."
The solution was deployed globally correctly, but when I do this
$tokenIssuerName = “ADFS”
$trust = Get-SPTrustedIdentityTokenIssuer –Identity $tokenIssuerName
$trust.ClaimProviderName = “LDAPCP”
$trust.Update()

I'm getting this error:
Claim provider with name LDAPCP does not exist.

[2017-09-20 08:02] Yvand commented on #21
Do you see LDAPCP when you run this cmdlet:
Get-SPClaimProvider
Are you running your script on a server that is not running SharePoint service "Microsoft SharePoint Foundation Web Application"?

[2017-09-20 13:24] XxXMike commented on #21
I dont see LDAPCP as a claim provider.
Microsoft Sharepoint Foundation Web Application is not showing in Central Admin, but its showing as started if I run Get-SPService | Select TypeName, Status

also, when I try to deploy the package, I get that:
if I force deployment, it will eventually say, that its deployed everywhere successfully.

XC-S-ZW00068 : Failed to load receiver assembly "ldapcp, Ver

[2017-09-20 13:32] Yvand commented on #21
Unfortunately something went wrong when you deployed the solution.
Don't rely on the successful deployment message, LDAPCP is not installed correctly and you need to re-install it.
Please carefully follow the steps in http://ldapcp.com/Fix-setup-issues.html to fix this.
Don't worry about potential side effects, this will clean up everything and after that you can re-install LDAPCP like if it was i

[2017-09-20 14:08] XxXMike commented on #21
I get something like that when trying to uninstall
![s1](https://user-images.githubusercontent.com/32107257/30648260-a1ad0f98-9deb-11e7-9541-6b499b9d6819.jpg)

[2017-09-20 14:14] Yvand commented on #21
This is why I wrote *carefully*
As explained in section "Identify LDAPCP features to fix", you must first create directory "LDAPCP" and put feature files inside

[2017-09-20 14:34] XxXMike commented on #21
I swear I did it!
ok now, it seems to be gone, I will try installing again
Get-SPFeature| ?{$_.DisplayName -like 'LDAPCP*'}| fl DisplayName, Scope, Id, RootDirectory
is not returning anything

anything else I should check to make sure its really gone, before doing it again ?

Thanks for your support.

[2017-09-20 14:48] Yvand commented on #21
No you're good, but for safety you should close and open a fresh PowerShell command line.

However, if the server where you are re-installing LDAPCP does not run "Microsoft Sharepoint Foundation Web Application", you need to manually add LDAPCP.dll in the GAC as described in section "Important - Limitations" in http://ldapcp.com/Install-LDAPCP.html

[2017-09-20 14:56] XxXMike commented on #21
:( new error now

![image](https://user-images.githubusercontent.com/32107257/30650981-5ff3f1d2-9df2-11e7-91ec-95d05867b868.png)

[2017-09-20 15:04] Yvand commented on #21
Aaaaahhhhh, sorry for that...
Unfortunately you need to redo all the steps in http://ldapcp.com/Fix-setup-issues.html.
But after that you also need to run this stsadm command to delete the LDAPCP persisted object:
[code]
No worries about this command, it deletes only the LDAPCP persisted object.
If you want to see how this persisted object looks like, you can run this SQL command in SharePoint con

[2017-09-20 17:43] XxXMike commented on #21
yay! its working now, merci beaucoup!

[2017-09-20 18:27] Yvand commented on #21
My pleasure :)

[2017-09-20 18:27] #21 closed

[2017-10-03 17:30] mrbubble62 opened #22 "Group Augmentation fails with email and AD"
When requestInfo.IncomingEntity.Value type is email

adUser = UserPrincipal.FindByIdentity(principalContext, requestInfo.IncomingEntity.Value)

FindByIdentity always returns null

[2017-10-04 14:31] mrbubble62 commented on #22
This solution works for email but will break every other type..

` using (PrincipalContext principalContext = new PrincipalContext(ContextType.Domain, directoryDomainFqdn))
                    {
                        using (UserPrincipal user_principal = new UserPrincipal(principalContext) { Enabled = true, EmailAddress = requestInfo.IncomingEntity.Value })
                        using (Princip

[2017-10-04 14:48] Yvand commented on #22
I will investigate this and let you know my findings

[2017-10-05 13:55] mrbubble62 commented on #22
I think you'll find UserPrincipal.FindByIdentity's IdentityType does not support email.

https://msdn.microsoft.com/en-us/library/bb356425%28v=vs.110%29.aspx?f=255&MSPPError=-2147217396

[2017-10-09 08:03] Yvand commented on #22
Thank you for your analysis, you are correct, current implementation doesn't work with emails.
I'm updating the code to check if current claim type is an email, and if so implement basically your solution.

[2017-10-10 13:08] Yvand commented on #22
I published a new release (v2017-10) that fixes this bug. Can you please try it out?

[2017-10-18 14:20] Yvand commented on #22
Closing as I got no feedback from @mrbubble62

[2017-10-18 14:20] #22 closed

[2017-10-19 12:58] jshenderson opened #24 "Should Results Autocomplete Just as with NTML?"
I'm a big fan of this tool. I'm using it to implement SSO in our organization via ADFS. I have have couple of questions that I'm not sure are issues, but could be miss configuration.

1. I'm having trouble with showing results in people pickers. It shows my result if I type it in exactly, but it does not auto populate results (ie. "Josh") - there are several Josh's, but not even mine pops up in re

[2017-10-20 07:16] Yvand commented on #24
Hello,
you should check LDAPCP configuration in central admin > security > LDAPCP global config:
- about the exact search, ensure that exact search is not enabled?
- about the display name, you can type which attribute you want to display in section "Display of permissions created with identity claim"
If config is not working as expected, you can check SharePoint logs and filter on Product/Area "L

[2017-10-20 12:31] jshenderson commented on #24
Thank you for your response.

1. This is not checked. However, it's not exactly "exact match" it's just that it's not showing results like with NTLM. Meaning, if i type Josh in CA, which uses NTLM, it gives me a list of Josh's even if their name is Joshua in AD. But with ADFS, and LDAPCP I get no results. Then with "Lucas" it pulls back several results. it's confusing as to why some will show and

[2017-10-20 15:01] Yvand commented on #24
Good :)
For the user search, you should check ULS logs to get the LDAP request sent.
Then you can replay it on your own with PowerShell to understand why it doesn't return results you expect.
Check http://ldapcp.com/Troubleshoot-LDAPCP.html to see how to replay LDAP queries

[2017-10-27 20:45] MiikkaLehtonen opened #25 "Sharepoint 2013 Implications of Claims Mode Authentication on service applications / Managed Metadata Service"
Hi there, We have an issue when converting Managed Metadata Service Application Windows claims authentication to SAML-based authentication. We are executing script Convert-ManagedMetadataServiceToTrusted.ps1 from the TechNet page  https://technet.microsoft.com/en-us/library/dn745644.aspx.

It throws the following error:

Write-LogError : ERROR: Exception in ShouldExecute: Exception calling ".ctor"

[2017-10-30 08:23] Yvand commented on #24
@jshenderson any news on issue 1?

[2017-10-30 08:43] Yvand commented on #25
Hi @MiikkaLehtonen,
As the log mentioned, SharePoint expects to use claims provider SPTrustedBackedByActiveDirectoryClaimProvider but since it's LDAPCP, it stops.

SPTrustedBackedByActiveDirectoryClaimProvider is a quite special, hidden claims provider that was implemented to ease migration from Windows claims to trusted authN.
It is never visible or used explicitely, the only way to use it is to

[2017-10-30 12:03] jshenderson commented on #24
@Yvand I'm still working this. However, I do not believe it is a LDAPCP issue. It's really strange. Any web app I connect to on the CA server I pull back full results in the people picker, but on both of my WFEs I get zero results. Have you ever seen this before? The only difference is the WFEs are load balanced with an F5.

[2017-10-31 09:07] Yvand commented on #24
To clarify if LDAPCP plays a role in this issue, you should check SharePoint logs and filter on Product/Area "LDAPCP", it will show you if LDAPCP returns permissions correctly

[2017-11-01 05:34] MiikkaLehtonen commented on #25
Thanks. I finally decided to change users manually in the managed metadata service. Then I also had to add the Claims based All Authenticated users group to hidden Taxonomy list. The hidden Taxonomy list can be browsed by putting this on the end of your Site Collection URL /Lists/TaxonomyHiddenList/.

Miikka

[2017-11-02 15:58] Yvand commented on #25
Ok, good news that you could do it this way

[2017-11-02 15:58] #25 closed

[2017-11-07 12:13] Yvand commented on #20
@swanle any update on this?

[2017-11-07 17:53] swanle commented on #20
Yvand

I apologize.   I didn't get an email alert of your reply on Sept 14.   I got one today 11/7.   Yes,  I got it back working now.

Thanks so much for the explanation.  Yes it make sense.

Swanl

[2017-11-07 17:53] #20 closed

[2017-11-09 16:20] Yvand commented on #20
No worries, thank you for your feedback :)

[2017-11-15 00:42] lancegosby opened #26 "don't expect LDAPCP results for a web application"
I'm sorry if this is something simple I have overlooked.

We've been using LDAPCP for a few years with 2 web applications that use ADFS in non-default zones. The people picker has been working perfectly. Recently, we've added a new web application that uses only windows authentication in the default zone. It has only the 1 zone.

From this new web app, when I use the people picker, I see results f

[2017-11-15 14:47] Yvand commented on #26
- If the SPTrustedLoginProvider is enabled in any zone, it is expected that LDAPCP returns results regardless of the current zone where people picker is used. The short explanation is that this is because of a SharePoint limitation and there is no choice.

- If the SPTrustedLoginProvider is not enabled in any zone, LDAPCP should not return any result. I tried and I cannot reproduce your behavior.

[2017-11-28 08:18] Albino1006 opened #27 "LDAPCP - EnsureUser issue"
Hello Yvan,

We have a scenario where certain users have their ID which is a subset for other user's ID like the below example.

User with ID: dpatil

For this user when we search in people picker with LDAPCP we see multiple entries like dptail1, dpatil2, dpatil10. In other words dpatil is a subset for other login IDs as well.

Now we have a service url that pulls the data from a list in SharePoin

[2017-11-28 10:06] Albino1006 opened #28 "Modifying LDAPCP mapping with powershell"
Hello Yvan,

Is it possible to modify LDAPCP Claim mapping with **powershell**, if yes can you share some example commands. We are basically trying to edit the current mappings of type **"Add a LDAP attribute to query and specify claim type of the permission"**. Awaiting your reply. Thanks.

[2017-11-29 13:51] Yvand commented on #27
Hi Albino,

LDAPCP does what it is asked by SharePoint: a lookup based on the input (supplied as a string) that should return all results found.
You are hitting a design limit of SharePoint implementation: input as a string always triggers a lookup that can return 1 to many results.

It's only when inputs is supplied as a SPClaim that (custom) claims provider must return exactly 1 result.

There i

[2017-11-29 13:59] Yvand commented on #28
Hi Albino,
unfortunately it's currently not possible, it's something I would like to make but this represents a significant work.

[2017-11-30 09:07] kurky91 opened #29 "Configuring an OU for groups augmentation not possible"
Scenario:
- We connect to a sub OU in the LDAPCP general settings to show only people from the employees OU in the people picker:
 campany.ch/users/employees
- The AD claims provider is set to invisible
- We don't want to include another OU: company.ch/users/students
- We need groups augmentation but the groups are not in the employees OU

Problem:
- We can't find groups because they are not in th

[2017-12-05 23:12] matthieu-bt opened #30 "Create "linked to identity claim" entry for different LDAP class"
Hello,

I am trying to configure LDAPCP to search users in an LDAP directory. In this directory, user objects do NOT have the attribute "objectClass = user". They do have other classes, for instance "objectClass = person".

LDAPCP by default will create queries such as this one:
`(&(objectclass=user)(displayName=john*))`

This returns 0 results obviously, because no users have this objectclass. So

[2017-12-08 15:02] matthieu-bt commented on #30
Seems more complex than I thought.

My identity claim type is `http://...../upn`. I have users from several directories, AD and some 3rd party LDAP.

What I want to configure is:
- In AD, my users have "objectclass=user" and their username is stored in attribute "userPrincipalName"
- In LDAP number 1, they have "objectclass=person" and username is stored in attribute "cn"
- In LDAP number 2, they

[2017-12-11 12:44] Albino1006 opened #32 "Check Permission via AD group - LDAPCP"
Hello Yvan,

We have encounter an issue in our SharePoint environment using LDAPCP.

Consider a scenario where a user is granted XYZ permission via AD group in SharePoint (and not explicitly using his ID). Now when we do check permission with that user ID, it should show that this user has XYZ permission via that AD group, but it doesn't (it only shows the permission assigned to it via his ID).

T

[2017-12-11 14:48] Yvand commented on #26
Hi @lancegosby, any news on this?

[2017-12-11 14:49] Yvand commented on #24
@jshenderson, any news on issue 1?

[2017-12-11 15:01] Yvand commented on #29
Hi @kurky91, thank you for the clear explanation.

I understand the need but this sounds very specific and requires some effort to update the admin page to propose this new setting while not making it confusing.

Besides, you can already do what you want by creating a custom version of LDAPCP and override method GetLDAPServers(RequestInformation).
Object RequestInformation contains the type of ope

[2017-12-11 15:28] Yvand commented on #30
Hi @matthieu-bt

Indeed, by default LDAPCP expects that objectclass of users is "user", but you can change this if you delete and recreate the mapping in LDAPCP page "claims mapping".

But as you noticed, you cannot specify a different objectclass based on the LDAP server it is hitting.

In theory, you could specify a different LDAP filter for each LDAP server if you created a custom version of LD

[2017-12-11 15:30] Yvand commented on #32
Hi @Albino1006
For this to work, it requires that augmentation is enabled and configured in LDAPCP.
Can you confirm if you did so in LDAPCP configuration page?

[2017-12-12 12:34] Albino1006 commented on #32
Hello @yvand

We have enabled the augmentation option and selected the claim type from dropdown. But still it doesn't show that the user has XYZ permission via that AD group on checknow in SharePoint permission page.

Is there anything else that can be checked?
Also what does this augmentation option do on enabling it?

Awaiting your reply. Thanks.

[2017-12-12 12:35] Albino1006 commented on #32
Hello @Yvand

We have enabled the augmentation option and selected the claim type from dropdown. But still it doesn't show that the user has XYZ permission via that AD group on checknow in SharePoint permission page.

Is there anything else that can be checked?
Also what does this augmentation option do on enabling it?

Awaiting your reply. Thanks.

[2017-12-13 14:24] steveareeno opened #33 "Not an issue, just a recommendation - color blindness"
I am red/green color blind and the claims mapping page in central admin uses red/green colored text to signify if a claim is mapped or not. It would be nice to either have a column stating whether it is mapped or use colors that are more contrasting.

Thanks.

[2017-12-13 14:45] Yvand commented on #33
Hello, thank you for your suggestion, what colours would you suggest to use instead?
I'm reluctant to add a new column because IMO there are already too many for a good readability...

[2017-12-13 16:43] steveareeno commented on #33
I can see what you mean by adding a column. I did a little reading online and found the following colors, when used together, cause the biggest problem for color blind people:

Green & Red
Green & Brown
Blue & Purple
Green & Blue
Light Green & Yellow
Blue & Grey
Green & Grey
Green & Black

Not a big issue, I just grabbed someone walking by and asked them which was which :)

Appreciate the quick re

[2017-12-14 08:36] Yvand commented on #33
Thank you for your feedback, I'll keep this in mind and see how I can change the colors for the next version.
What is not clear is if I should completely avoid green (for example), or just avoid mixing green with red?I think it's the latter, I'll make some research to find what other colour to use instead of red.

[2017-12-14 08:40] Yvand commented on #32
Basically, when you enable augmentation, LDAPCP will generate claims to provide the group membership of trusted users to SharePoint.
Then those role claims will be added to both the SAML token and the external (non-interactive) token of trusted users.

[2017-12-15 08:16] engineererr opened #34 "Proposal to the error: While trying to retrieve the authorization groups, an error (5) occurred."
.NET Framework 4.7 installed.

**Error**
[LDAPCP] Unexpected error while getting AD group membership of user [UPN OF USER] in LDAP://DC=bla,DC=ch using UserPrincipal.GetAuthorizationGroups(). This is likely due to a bug in .NET framework in UserPrincipal.GetAuthorizationGroups (as of v4.6.1), especially if user is member (directly or not) of a group either in a child domain that was migrated, or a

[2017-12-15 08:19] kurky91 commented on #29
Hi @Yvand

Thank you for your response and all of your work you put into LDAPCP.

We are thinking about extending LDAPCP in the future to support a directory differently to LDAP that allows us to access it through REST endpoints.

Thanks for your suggestion, I'll consider it if the clients decides to extend LDAPCP for his purposes.

[2017-12-15 08:19] #29 closed

[2017-12-15 09:43] Yvand commented on #34
When this exception occurs, you should see that LDAPCP attempts to get group membership using a different method (get group membership with a LDAP query).
If that fallback goes well, you should see a message like this:
"[LDAPCP] Domain {1} returned {2} groups for user {3}. Lookup took {4}ms on LDAP server '{5}'"
Do you see it?

[2017-12-15 10:00] kurky91 commented on #34
I was too euphoric about my solution..

I could reproduce the error by powershell and after the AD guy gave me the permissions the error vanished from powershell. The error is still there in the solution. My guess was that your solution and my powershell console use different assembly versions.

I see the fallback. This one works fine.

My main problem still exists: I can't get the groups recoursi

[2017-12-15 12:27] Yvand commented on #34
The PrincipalOperationException exception is thrown because of a but in .NET.
It is expected to be fixed in both.NET 4.6.2 and .NET 4.7.1, which should ship with the January 2018 updates of .NET.
Once the fix is installed, nested groups should work fine.
Until then, all user membership operations which get this exception will fallback to LDAP query, which does not get the nested groups, as you not

[2017-12-21 10:03] EWAS-ANZ opened #35 "Sharepoint Alert issue"
Hi Team

We having issues in setting up an alert for groups in Sharepoint 2010 and when we were working with Microsoft they advised us to download and install the LDAPCP file available on your website but we aren't able to update or add the solution. Please advise if the software available for download is compatible with Sharepoint 2010 or is it of use only for Sharepoint 2013 and 2016.

If you co

[2017-12-21 16:59] Yvand commented on #35
Hello,
In this repo there is no version available for SharePoint 2010.
You have 2 options:
- Download the source code and compile it for SharePoint 2010
- Download the very old and outdated LDAPCP 2010 available here: https://ldapcp2010.codeplex.com/ Note that this version is completely outdated and has bugs that may be blocking for you

[2018-01-08 09:38] EWAS-ANZ commented on #35
Hi

We are actually working with Microsoft and they mentioned that for SP 2010 they aren't able to find the below settings in the file ClaimsTable.aspx as seen in SP 2013, so is there a way to add that settings?

$('#rowClaimEntityType').hide('slow')
by this:
$('#rowClaimEntityType').show('slow')

[2018-01-09 16:47] Yvand commented on #35
It is missing much more than that, all the logic in the code behind to handle this is also missing.
To fit your needs you have only the 2 options I mentioned above

[2018-01-10 01:31] alpachi opened #37 "LDAPCP with SP16"
Hi, I am having trouble with configuration. I have configured as specified in the documentation and receiving some issues in the SharePoint logs with the following:

[LDAPCP] Got 0 result(s) in 2ms from "LDAP://domain.com/DC=domain,DC=com" with query "(| (&(objectclass=user)(userPrincipalName=user.name@domain.com)) )"

**Additional info:**
-My Claim Identifier is "userPrincipalName" which shows as

[2018-01-10 08:57] Yvand commented on #37
Hello, an easy way to troubleshoot this is to reply the LDAP query using PowerShell, so you can investigate why LDAP server returns nothing.
You can check [page Troubleshoot-LDAPCP](http://ldapcp.com/Troubleshoot-LDAPCP.html) to find how to do this

[2018-01-10 13:23] eduralph opened #38 "Issue with the Claim Augementation"
Hi,

there is a subtle issue with the method "Augment" for the Claims Augmentation. If a WebApplication has multiple different authentication methods, e.g. Windows, Forms & ADFS, the method FillClaimsForEntity will be called with different kinds of identities, latest when a token is re-issued after 1 hour. This in turn alls Augment for the heavy lifting which in turn calls "RunWithElevatedPrivileg

[2018-01-10 16:39] alpachi commented on #37
Here is some additional info from troubleshooting, still no progress:
[LDAPCP] Got 0 result(s) in 2ms from "LDAP://domain.com/DC=domain,DC=com" with query "(| (&(objectclass=user)(userPrincipalName=user.name@domain.com)) )"

My thought is, is there a way I can map the incoming claim for userPrincipalName to Email?
The authentication for SP16 only works when using UPN from the Trusted Claims Provid

[2018-01-12 12:48] Yvand commented on #38
Hi @eduralph, nice catch, thank you for reporting it.
The scenario is not completely clear to me.
Do you repro on SharePoint 2013 or 2016?
Do you repro with a trusted user or a WinClaims user can repro that too?

[2018-01-12 13:06] eduralph commented on #38
Hi Yvand,

sorry if I wasn't clear. We caught it on SharePoint 2013 and as far as I can see it happened exclusively with Forms-based users using Active Directory as repository for these in a Claims-based environment.  I couldn't see this happening in scenarios with ADFS (trusted users) or Negotiate (WinClaims). We didn't validate this on a 2016 environment either. We solved the problem by turning

[2018-01-12 13:57] Yvand commented on #38
Hi @eduralph, thank you for the additional info.
I can change the code to fix this even with augmentation enabled: instead of doing elevation of privileges immediately, I can first verify if incoming user is a federated user (so it must be augmented) or not (so nothing to do).
At first glance it's very easy to do. If I don't find any side effect I will put this change in the next release.

[2018-01-17 13:20] eduralph opened #39 "Help needed to unserstand our issue with the Filtering"
We've been having an issue in which the validation of a selected user from the people picker was filtered out by the system. The relevant log entries are

[LDAPCP] Got 1 result(s) from all LDAP server(s) with query "(| (&(objectclass=user)(userPrincipalName=******)) )"
[LDAPCP] 0 permission(s) to create after filtering

I looked at the code and honestly couldn't make out what the filter criteria w

[2018-01-17 13:38] Yvand commented on #37
Hi @alpachi, can you clarify what you mean exactly by mapping "the incoming claim for userPrincipalName to Email"?
Is it SharePoint or LDAPCP that should do some mapping?
In LDAPCP, you have the claims mapping page in central admin > security that lets you configure as you need the mapping between LDAP attribute and claim types. Isn't it what you are looking for?

[2018-01-17 13:44] Yvand commented on #39
The filtering is done in LDAPCP.ProcessLdapResults() method.
There can be a lot of reasons why a result is removed by the filtering.
If you want, you can clone the source code, download the
symbols from [LDAPCP_Debug.zip](https://github.com/Yvand/LDAPCP/releases) and live debug to find out why it is excluded.
It's heavy but it will work...

[2018-01-25 18:32] alpachi commented on #37
I was able to map out the configuration and narrow this down. Initially i thought to map the incoming claim from upn to mail, but thats incorrect. The way someone configured the Provider as it sends claims to SharePoint was incorrect. Once this was corrected, I reconfigured SharePoint to match the claim identifier and Namespaces, then things worked just fine. Thank you!

[2018-01-25 18:32] #37 closed

[2018-01-29 14:29] kurky91 commented on #34
Hallo @Yvand

Do you have any news on this one?
Is the bug fix already released? Do you have planned to build against the new framework-version soon?

Thank you very much
Kai

[2018-01-30 09:42] Yvand commented on #34
Hello @kurky91, yes, fix is now available, but not easy to find.
The key description is "TokenGroupSet now supports unresolvable SIDs by returning a principal with the original SID"
Here are the links:
- Windows Server 2008: https://support.microsoft.com/en-us/help/4054981
- Windows Server 2012: https://support.microsoft.com/en-us/help/4054979
- Windows Server 2012 R2: https://support.microsoft.co

[2018-01-31 08:29] MiikkaLehtonen opened #40 "People Picker showing disabled AD users"
We have users that still appear that have been  a) deactivated in AD, b) removed from the User Information List, c) user doesn't exist in UPA and d) deleted browser cookies and form data. In LDAPCP global configuration page ->  Exclude disabled users (as documented in KB 827754) is checked.

Any ideas?

Thanks,
Miikka Lehtonen

[2018-01-31 14:09] Yvand commented on #40
Do you reproduce the same behavior in a new site collection?

[2018-01-31 14:10] Yvand commented on #39
Hi @eduralph, did you figure out what was wrong?

[2018-01-31 14:13] #32 closed

[2018-01-31 14:14] #30 closed

[2018-01-31 14:14] #28 closed

[2018-01-31 14:15] #27 closed

[2018-01-31 14:16] #26 closed

[2018-01-31 14:17] #24 closed

[2018-01-31 23:11] MontanaMT opened #41 "LDAPCP Solution deploy error"
I have been trying to deploy the solution and I am getting an error after following your fix issues with the setup due to it not installing right.  The error on one server is The definition specifies a claim provider with a name already in use.  What did I miss cleaning up?

[2018-02-01 05:16] hippolascage opened #42 "LDAPCP for Developers.zip"
Hi

Is this "LDAPCP for Developers.zip" still available somewhere? It's referenced in the code and over at ldapcp.com but I can't seem to locate it anywhere.

[2018-02-01 07:04] MiikkaLehtonen commented on #40
Yes, it's same behavior in the new site collection.

[2018-02-01 07:54] Yvand commented on #41
It looks like SPClaimProvider object was not deleted, can you check if this commands returns it:
[code]
If so, you can remove it:
[code]
Please let me knw if it worked, if so I'll add these steps to [Fix-setup-issues page](http://ldapcp.com/Fix-setup-issues.html)

[2018-02-01 08:51] Yvand commented on #40
Then you can use SharePoint logs and filter on Product/Area "LDAPCP" to understand why the disabled user is returned.
The log will show the LDAP query executed, and you can replay it using the PowerShell script [here](http://ldapcp.com/Troubleshoot-LDAPCP.html).

[2018-02-01 08:53] Yvand commented on #42
Hello, it is published with each release and you can find it in [releases page](https://github.com/Yvand/LDAPCP/releases)

[2018-02-01 08:54] #42 closed

[2018-02-01 23:05] hippolascage commented on #42
Thanks!

[2018-02-02 04:48] MontanaMT commented on #41
When I run the command it doesn't find any custom claims providers and I am on getting the error on one server.

[2018-02-02 09:03] Yvand commented on #41
How do you reproduce the error, and what is the exact error message?

[2018-02-02 14:58] MontanaMT commented on #41
The error happens when I redeploy the solution using Central admin.  One server errors with The definition specifies a claim provider with a name already in use.  I can force the solution to deploy but then the claimprovider never shows up.

[2018-02-05 13:15] ricorocca opened #43 "[LDAPCP] Added permission: claim value: "System.Byte[]""
Hi,
We have an issue during pickup a user only for one webapplication (there is 5 webapplication):
Ldapcp return System.Byte[], and we have an error when we select it.

[2018-02-05 20:59] dnaigum opened #44 "LDAPCP.wsp"
Hi Yvand, is there a way for me to get the wsp for SharePoint 2010?

[2018-02-06 10:09] Yvand commented on #43
I don't know how you got that error.
Can you filter SharePoint logs on Product/Area "LDAPCP" to get more information?

[2018-02-06 10:11] Yvand commented on #44
Hi @dnaigum, you can download the archive [here](https://archive.codeplex.com/?p=ldapcp2010), but note that this is an old, outdated version, that is far from the stability of LDAPCP for SharePoint 2013/2016.

[2018-02-06 10:16] Yvand commented on #41
Solution deploys globally on all servers, it should not work on some and fail on others.
- How many SharePoint servers do you have?
- On how many servers do you have an error?
- On servers reporting the error:
  - Are those servers running SharePoint service “Microsoft SharePoint Foundation Web Application”?
  - Do they have "LDAPCP" folder created in folder C:\Program Files\Common Files\microsoft

[2018-02-09 04:40] ldapcphelp commented on #40
configured LDAPCP with AZURE AD, however people picker is showing blocked and disabled users. Is there anything that I am missing?

[2018-02-09 04:45] ldapcphelp opened #45 "Augmented setting doesn't seem to work with check permissions"
Enabled the augmentation setting under ldapcp configuration page. Did a refresh and clear cache. Unfortunately while doing a checkpermissions on a user that is part of a security group the group is not listed.
Any additionally recommendations?

[2018-02-09 06:03] MiikkaLehtonen commented on #40
Hi, thank you for your answer. It seems that the LDAP query is working (I used PowerShell script). The browsers Firefox and Chrome are working and I can’t see disabled users. For the users I searched before they were disabled I have to empty browser history and after that I can’t see them anymore. Strange thing is that with the Internet Explorer I can see disabled users whatever I try to do… Any i

[2018-02-09 13:33] Yvand commented on #40
People picker stores results in a local storage cache in the browser.
I thought this was the reason why you got disabled users, and why I initially asked you to try in a new site collection (results are stored per site collection).
To clear it, you can use the developer's toolbar of the the browser (press F12) and run this in the console:
[code]
After that, old results should be gone

[2018-02-09 13:39] Yvand commented on #45
"Check permission" feature relies on a special (called non-interactive) token that has a lifetime of 24h by default.
So after you enabled augmentation in LDAPCP, you need to wait at least 24h to be sure you use a non-interactive token that had a chance to be augmented by LDAPCP.
If you don't want to wait, here is how you can change its lifetime:
[code]
It's default value is [1440 minutes](https://

[2018-02-09 23:15] duffyjay opened #46 "Update job for LDAPCP succeeds but the LDAPCP Administration page isn't working"
Hi Yvan,

Followed you instructions to LDAPCP to the latest version from version V3.7.0.0.  After the upgrade I'm unable to connect to the administration link with the following error:

![image](https://user-images.githubusercontent.com/16782878/36054474-7dd99eda-0dab-11e8-97be-d1cbe5673fd8.png)

I run the steps to uninstall:

[code]

Those directories and files are there so I proceed to the next

[2018-02-12 10:18] Yvand commented on #46
Hello, unfortunately this happens sometimes, it's like the persisted object that LDAPCP creates and uses to store its config does not belong to LDAPCP anymore.
In this scenario, the only way is to delete that persisted object, so that LDAPCP creates it again. This is possible using stsadm.exe, located in "C:\Program Files\Common Files\microsoft shared\Web Server Extensions\15\BIN":
[code]

[2018-02-13 08:58] eduralph commented on #39
Hi Yvand,

thanks for following up. The issue was occuring in the production environment and we were hesitant to install a Debug version, so we couldn't drill as deep as we would have liked. Ultimately, it was an issue with a) the network connection to the AD Servers or b) the responses the AD Servers were bringing back. We could never really figure that one out as the issue vanished after a coupl

[2018-02-13 15:08] Yvand commented on #39
Hi @eduralph, there are too many reasons to filter out a potential result to record that in SharePoint logs, even in Verbose(Ex):
LDAPCP parses each LDAP attribute of each LDAP result, and keep only relevant values (to transform in PickerEntity result) based on many criteria.
In case you want to take a look, this logic is implemented in [method LDAPCP.ProcessLdapResults()](https://github.com/Yvand

[2018-02-13 22:09] jrbelmonte opened #47 "Inquiry: LDAPCP Installation on more than Web Server"
Hi,

Great component! Solves our issue on the people picker when using ADFS as the Auth Provider. However, I'd like to ask this one, we have another SP that is going to use this one, it has more than one Web Server and its behind a Load Balancer, that being said do we need to run the PS to install LDAPCP to all Web Servers? Appreciate if you can provide your thoughts on this. Thanks.

[2018-02-14 10:06] Yvand commented on #47
Hi @jrbelmonte
you need to run Add-SPSolution / Install-SPSolution only once, in 1 server.
But, as [documented here](http://ldapcp.com/Install-LDAPCP.html), you need to manually copy ldapcp.dll on the GAC of SharePoint servers that do not run SharePoint service “Microsoft SharePoint Foundation Web Application”

[2018-02-14 20:20] jrbelmonte commented on #47
thanks will check it out

[2018-02-20 19:05] MontanaMT commented on #41
I was finally able to get back into the test environment and I still can't get the $trust.claimprovidername to work.  I get an error of Claim provider with name LDAPCP does not exist.

[2018-02-21 11:47] Yvand commented on #41
On the server that thows this error, can you run this
[code]
If it finds the feature, can you run this:
[code]

[2018-02-23 07:51] Albino1006 opened #48 "LDAPCP doesn’t work for multiple claims provider"
Hello @Yvand,

At present, we have a web application in SharePoint configured with an Identity Provider, with LDAPCP as a claim provider. Everything works as per the requirements in this case.

Now we have another web application in same SharePoint farm configured with a different Identity Provider. At this point, when tested the sites were accessible for this new second webapp. Now in this case w

[2018-02-23 15:45] Yvand commented on #48
Hi @Albino1006, due to SharePoint API limitations, you cannot use LDAPCP for 2 different SPTrustedLoginProvider.
To workaround this, you can:
- use standard LDAPCP.wsp for 1 SPTrustedLoginProvider
- use a [custom LDAPCP](http://ldapcp.com/For-Developers.html) for the other SPTrustedLoginProvider

[2018-02-27 08:04] Albino1006 commented on #48
Hello @Yvand

Thanks for your reply.

At the moment we have the LDAPCP [https://github.com/Yvand/LDAPCP/releases/download/v2017-10/LDAPCP.wsp](url) configured on one webapp (working as expected). I think this is the one you referred to as custom LDAPCP in your reply.

Note sure what standard LDAPCP is, can you share more details on this.

Awaiting your reply. Thanks.

[2018-02-27 14:32] Yvand commented on #48
Hello @Albino1006, for [each release](https://github.com/Yvand/LDAPCP/releases) you have:
- LDAPCP.wsp: this is the standard LDAPCP package
- LDAPCP.Developers.zip: this is the custom LDAPCP, which developers can use to understand how to create a new claims provider from LDAPCP

[2018-03-06 14:52] Yvand commented on #46
@duffyjay did it resolve your issue?

[2018-03-06 18:32] duffyjay commented on #46
Hi @Yvand .. yes that did.  Thanks for your help!

[2018-03-07 07:59] #46 closed

[2018-03-07 08:00] Yvand commented on #35
@EWAS-ANZ did you make any progress?

[2018-03-07 08:01] #47 closed

[2018-03-07 08:02] #41 closed

[2018-03-15 13:07] steveareeno opened #49 "Bypass lookup for NTLM accounts"
Our environment is set up to use ADFS with LDAPCP. I set the people picker so it doesn't query our NTLM AD. I set a bypass lookup so we can add external users to SP. Everything is working good.

However, I realized we have a special circumstance where I need to be able to add an NTLM user to SP permissions. I thought I could use the bypass prefix to avoid name resolution but it adds the ADFS prefi

[2018-03-16 09:04] Yvand commented on #49
LDAPCP can only create Trusted accounts, SharePoint doesn't allow 3rd party claims providers to create WinClaims accounts.

[2018-03-25 20:31] aerotodorr opened #50 "LDAPCP and securitytoken.svc timeout"
Hi Yvan

We are experiencing this issue where users inteminnently are getting HTTP error 500 with message "The server is busy now. Try again later".
This happens after user is authenticatet and redirected to https://site/_trust/

In ULS I can see that calls to securitytoken.svc time out after 60 sec. It happens on both frontends.
The servers are not under pressure, doesn't look like a hardware cap

[2018-03-28 12:51] steveareeno commented on #49
Thanks.

[2018-03-28 12:55] steveareeno opened #51 "Claims mapping"
I set up my claims mapping and added a custom claim and set up a bypass for it. Everything is working great. However, when I access the claims mapping page in Central admin now, the settings seem to be back to the default. For instance, the "Prefix to bypass lookup" doesn't have a value in it but the prefix still works in SP. Also, the custom claim I added doesn't so up any more and it is still wo

[2018-03-29 18:47] steveareeno commented on #51
You can close this. My bad. Something is wrong with my User Profile Application.

[2018-04-03 14:26] Yvand commented on #50
Hi @aerotodorr
LDAPCP plays a role when user signs in, if augmentation if enabled.
Can you try to disable it and check if timeout issue disappears?

[2018-04-03 14:26] #49 closed

[2018-04-05 11:16] Albino1006 opened #52 "Assigning SharePoint permission using other attributes with LDAPCP"
Hello @Yvand ,

We need your suggestion on below:

**Scenario:**
We have some SharePoint sites that are accessible to all in the organization as well as accessible to external users via default group 'Everyone'

**Requirement:**
Now there are some sites that shouldn't be accessible to external users, but should be accessible to members within the organizations. For this case the default group of E

[2018-04-05 20:09] aerotodorr commented on #50
Hi @Yvand

This farm is in production and it takes time to get this trough.
I'll let you know how it goes.

[2018-04-13 14:34] Yvand commented on #52
Hi @Albino1006, unfortunately, due to a design limitation in SharePoint, it's not possible to apply a different filter per site collection:
During the permission creation process, SharePoint passes the URL of the web application (to LDAPCP), instead of the URL of the current site collection.
This behavior affects all custom claims providers.

[2018-04-18 06:47] Lightscatterer opened #53 "Possible encoding problem with groups"
We recently made it possible for users to search/grant access on the basis of groups. For some groups it works like a charm, but others were not found.

It seems all groups starting with 0-9 or  A-F after the \-character (corresponding to valid ASCII-characters) can not be searched, as soon as one starts to type a letter after the \-character. This looks like a problem with the escaping/encoding o

[2018-04-20 13:01] Yvand commented on #53
I tested your scenario:
- I created a group "group\ba-*" in AD
In the people picker:
- If I type "group\b": LDAPCP searches "group\b*" and AD does not find the result
- If I type "group\ba": LDAPCP searches "group\ba*" and AD finds the result, but LDAPCP excludes it
So there is a problem in both AD and LDAPCP side with this characters, but I don't know if there is an easy solution to fix this...

[2018-04-20 13:04] Yvand commented on #50
Hi @aerotodorr, the only way is to migrate them, e.g.:
[code]

[2018-04-21 08:53] aerotodorr commented on #50
Hi @Yvand

Thank you,
Is there any reason why SPFarm.MigrateUserAccount() should be used
comparing to using Move-SPUser ?

On Fri, 20 Apr 2018, 15:04 Yvan Duhamel, <notifications@github.com> wrote:

[2018-05-01 17:13] lancegosby commented on #26
Hi @Yvand . Sorry for not getting back to you.

I've looked into this more and after updating the WSP to v2017.10 in our test environment, the issue has gone away. Hopefully it works in production too.

[2018-05-07 12:49] Alxeonvince opened #54 "Hide UPN record"
I want to know how to remove record with (UPN) prefix from the result search ?
I tried in my environment and also saw your screenshot, when you search someone's account, it will appear 2 or 3 record which actually pointing to same person.
At least, can we distinct it?
Thanks.

![3b8db40a-2aa1-11e7-9070-aee808950f38](https://user-images.githubusercontent.com/39055386/39702541-653986b0-522f-11e8-97a

[2018-05-08 09:38] Alxeonvince commented on #54
This issue already solved by myself.
Delete claims mapping UPN from claim list LDAPCP configuration.
Thanks.

[2018-05-08 09:38] #54 closed

[2018-05-17 12:45] Yvand commented on #43
Without a reliable repro it will be tough to troubleshoot.
- Does issue affect 1 claim type? Multiple/all?
- Do other results (in the same search) display correctly while you repro issue?
- Do you query AD servers?

[2018-05-18 07:56] chrisgett commented on #43
We're using LDAPCP to query one active directory domain for ADFS-Claims. There is only one identity Claim (UPN) configured, some other possible claims (e.g. Name, mail, samaccountname) are mapped to this one.
When the issue occurs all claims from this domain are shown with System.byte[]. Users from another domain using windows authentication (and therefore not LDAPCP) are displayed correctly. So i

[2018-05-22 12:58] Yvand commented on #43
Thank you for the details, a couple more questions:
- Is UPN claim type mapped to LDAP attribute "userPrincipalName"?
- When you repro this issue in a web app, can you repro it in central administration (e.g. in "change site collection administrators" page)?

[2018-05-22 13:04] chrisgett commented on #43
•Is UPN claim type mapped to LDAP attribute "userPrincipalName"? => Yes
•When you repro this issue in a web app, can you repro it in central administration (e.g. in "change site collection administrators" page)? => I don't know as we're normally not using LDAPCP in the Central Administration  (All Admin-Accounts are in the other Domain). I will try this the next time the Issue occurs.

[2018-05-28 11:18] micholus commented on #43
Hi.
We are facing exactly te same issue, but in our case IIS reset doesn't help :(
What is interesting we are using one provider for 2 web apps and on one of them everything is working fine, we are facing issues only on the second one (though it was working for sometime).

[2018-06-01 18:33] mpatrick210 opened #55 "LDAPCP not permissioning groups"
We are using the LDAPCP add-in for our SharePoint Farm. We have finally got it to pull groups, but when the groups are added permissions for the users in the groups do not work. Is there any guidance on how this should work?

[2018-06-04 12:08] Yvand commented on #55
By default LDAPCP creates group claims with the FQDN of groups as value, e.g. contoso.local\groupName.
You need to ensure that the STS uses the same format for the group. Otherwise you can change the format of the groups in LDAPCP Claims mapping page.

[2018-06-07 08:46] Lightscatterer commented on #53
Do you have the opportunity to check the proposed change?

[2018-06-07 12:16] mpatrick210 commented on #55
We added the FQDN piece back to the claims mapping however, we still see no permissions based on the groups that we pull in. Again, it pulls in the groups, we just don't get permissions assigned based on the groups....

[2018-06-07 19:43] mpatrick210 commented on #55
Here is the error I get when trying to enable augmentation:

Unexpected	[LDAPCP] Unexpected error while getting group membership of user <MyUSERNAME> in LDAP://CONNECTION: System.DirectoryServices.DirectoryServicesCOMException: The user name or password is incorrect.  , Callstack:    at System.DirectoryServices.DirectoryEntry.Bind(Boolean throwIfFail)     at System.DirectoryServices.DirectoryEntry

[2018-06-08 08:01] Yvand commented on #55
In this case, it uses the account running the process. So in this case, the farm account, since the w3wp of the STS runs with the farm account.
To use the credentials that you set in LDAP connection, you need to uncheck "This is an Active Directory server, use UserPrincipal.GetAuthorizationGroups"
Can you try this?

[2018-06-08 08:05] Yvand commented on #53
To be honest, no, sorry.
Can you please give clear example(s) of how LDAPCP should change the input (before/after)?
Can you also test your proposed change using the [PowerShell script here](https://ldapcp.com/Troubleshoot-LDAPCP.html) and confirm if it works?

[2018-06-08 12:14] mpatrick210 commented on #55
I'm not sure I follow where to make the change. I do not see any place in the LDAPCP Configuration where I check/uncheck "This is an Active Directory Server". Also, I am not sure I follow using "UserPrincipal.GetAuthorizationGroups"....

Can you give a little more detail on how to do what you are asking?

[2018-06-08 13:14] Yvand commented on #55
In Central administration > Security > LDAPCP global settings: there is a section "Augmentation" that lists the LDAP/AD servers that are registered. This is where you can update the settings.

But this is a workaround, you shouldn't have to set this and LDAPCP should use the credentials you set in your scenario. This is a bug and I will fix this in the next version.

[2018-06-08 13:27] mpatrick210 commented on #55
This is the setting I had set up, when I received the errors in the log I attached before. When I remove that all together, I don't really get any activity against groups.

![image](https://user-images.githubusercontent.com/39839266/41160532-a3c97956-6af5-11e8-91d5-228ace63217f.png)

[2018-06-08 13:36] Yvand commented on #55
What is the LDAPCP version you are using?

[2018-06-08 13:39] mpatrick210 commented on #55
LDAPCP v5.1

[2018-06-08 13:46] Yvand commented on #55
This version doesn't have the setting. You can update to the current one, or wait for the new version (probably next week), that will fix the bug

[2018-06-08 13:53] mpatrick210 commented on #55
what are the implications or downtime that is associated to updating LDAPCP? I am using ADFS, of course, that leverages the solution. So I would retract/remove the solution, and add it back, and once I have my LDAP connection back in, it should just work as if it were never removed, correct?

Also, a little more background on this, we are trying to pull user and group information across domains. m

[2018-06-08 14:05] mpatrick210 commented on #55
Updated the solution...do I need to check the box next to "Query this server" instead of "This is an active directory server...."?

[2018-06-08 14:46] Yvand commented on #55
If you check the box "This is an active directory server...." you will have the same issue.
In the next version, it will work, regardless of this checkbox value
Can you confirm issue is resolved?

[2018-06-08 14:50] mpatrick210 commented on #55
It's still not working as expected, unfortunately. In the logs when I turned on Augmentation, I get the same error, and if I don't use augmentation, I don't get anything really that tries to associate my account with a group.

[2018-06-08 14:56] mpatrick210 commented on #55
this is the current solution, correct? LDAPCP v2017.10

[2018-06-11 15:31] Yvand commented on #55
Using v2017.10, it should work if you do not check the box "This is an active directory server....", otherwise you will get the same error.
With the next version (not published yet), it should work in all scenarios.

[2018-06-11 15:44] mpatrick210 commented on #55
From this morning's testing, it looks like augmentation is working, but still not able to get permissions from the groups. I rebuilt the token issuer, and reset the LDAPCP settings, and was able to at least see that groups seemed to be associated to my user account. But still getting access denied based on the group along...below are the logs showing what looks to be successful augmentation:

06/1

[2018-06-12 08:58] Yvand commented on #55
I just published version 10, that should completely fix the issue.
Can you give it a try?

[2018-06-12 12:21] mpatrick210 commented on #55
I was able to get the previous version you sent me to work late yesterday evening. I had to rebuild the trust provider, and select only "Query this server" under augmentation. I appreciate your help on this...I now have to move these changes to our production farm, so fingers crossed everything I did on our Stage farm will work on Prod!

Thanks!!

[2018-06-18 13:00] EdwinWUR opened #58 "Unexpected error in AugmentEntity"
I'm getting the following error on one of my two frontends, tried updating to the LDAPCP v2017-10 version but still having the same issues. Any (easy) fixes I could try?

Unexpected error in AugmentEntity: System.Runtime.InteropServices.COMException: Creating an instance of the COM component with CLSID {080D0D78-F421-11D0-A36E-00C04FB950DC} from the IClassFactory failed due to the following error:

[2018-06-19 06:51] Yvand commented on #58
What version is deployed now?
Does the people picker work?

[2018-06-24 18:36] EdwinWUR commented on #58
I did an upgrade from a previous version to version LDAPCP v2017-10, so that’s my current version. Did a total reinstall of LDAPCP last Friday, seems to have solved the problem, seeing the augmented groups on that serveragain. Gonna let it run for a workday day and give you an update.

From: Yvan Duhamel <notifications@github.com>
Sent: dinsdag 19 juni 2018 8:51
To: Yvand/LDAPCP <LDAPCP@noreply.gi

[2018-06-26 15:08] Yvand commented on #58
No worries, but just to be sure: did you check that augmentation is enabled in LDAPCP global configuration page?

[2018-06-28 14:16] Lightscatterer commented on #53
We got to test the changes with the script:

![ldapcp_org](https://user-images.githubusercontent.com/36055687/42039114-ed3c68da-7aec-11e8-93b7-29b41e38749b.png)

![ldapcp_cor](https://user-images.githubusercontent.com/36055687/42039665-38675ca6-7aee-11e8-83c4-ab015e0e0032.png)

We are using the admindisplayname for filtering, but the problem is independent from it. As soon as a "\" followed by a h

[2018-07-12 13:23] Lightscatterer commented on #53
Is the provided information sufficient and clear?

[2018-07-13 08:02] ricorocca opened #59 "Show claim name in display text"
Hello @Yvand ,

I cannot find the option 'Show claim name in display text' since the last update in Claims mapping section?

Thanks

[2018-07-26 08:23] Yvand commented on #59
Hi @ricorocca
indeed, the setting is not shown in the UI anymore, but you can still set it with PowerShell, e.g.:
[code]

[2018-07-26 08:23] #58 closed

[2018-07-26 08:24] #55 closed

[2018-07-26 08:44] Yvand commented on #53
I created a group with the name "group\specialchar":
In AD it was created with following properties:
- LDAP attribute "name" = group\specialchar
- LDAP attribute "sAMAccountName" = group_specialchar

I made following tests using [this PowerShell script](https://ldapcp.com/Troubleshoot-LDAPCP.html):
$filter = "(&(objectClass=group)(name=group\special*))"
=> Returns the group as expected

$filter =

[2018-07-26 09:16] #52 closed

[2018-07-26 09:17] Yvand commented on #50
Hi @aerotodorr
Sorry for the very late reply. I just find SPFarm.MigrateUserAccount() much more convenient to use than Move-SPUser since it just takes 2 string parameters...

[2018-07-26 09:17] #50 closed

[2018-07-26 09:18] #45 closed

[2018-07-26 09:18] #44 closed

[2018-07-26 09:19] #40 closed

[2018-07-26 09:19] #39 closed

[2018-07-26 09:21] Yvand commented on #38
It's fixed in [v10](https://github.com/Yvand/LDAPCP/releases/tag/v10)

[2018-07-26 09:21] #38 closed

[2018-07-26 09:21] #35 closed

[2018-07-26 10:11] Lightscatterer commented on #53
As mentioned earlier, the problem only occurs, when after the \ the group starts with a hexadecimal character (0-9a-f). So "group\specialchar" works fine (even though according the standard this should not work either, because all \ have to be encoded).
A better example would be: "group\acharacter".  Searching "group\achar*" will yield nothing and "group\5cachar*" will yield the group.

The encodi

[2018-07-26 10:22] Lightscatterer commented on #53
I just realized all my "\\" got replaced to "\" after typing. Sorry if that made earlier text a bit confusing.

[2018-07-26 13:13] Yvand commented on #53
Ok, now I can reproduce your scenario.
I made some changes in LDAPCP and fix this scenario if the corresponding ClaimTypeConfig doesn't have property ClaimValuePrefix set with dynamic tokens {domain} or {fqdn}. Are you using them?

[2018-07-26 13:50] Lightscatterer commented on #53
The person who has configurated the settings is on vaccation and we currently can't find the corresponding settings. But a colleague thinks we use the {domain} token.

[2018-07-27 12:05] Yvand commented on #53
I just fixed this bug in commit https://github.com/Yvand/LDAPCP/commit/57d6397a5d4b8834ec4550da8ae15a2cf98461ee, which actually handles all special LDAP characters, not only '\\'

[2018-07-29 12:08] aerotodorr commented on #50
Thanks @Yvand
Just to let you know, disabling augmentation solved our issue.

[2018-07-30 09:39] ricorocca commented on #59
hi @Yvand ,

Thanks for your feedback, i will try on the next upgrade off the farm

[2018-08-07 22:36] jaipalgithub opened #60 "We are Seeing Same User Multiple Times in the people Picker after we installed the latest LDAPCP"
We are seeing user name displayed with Login, Name and Email Address  as three rows in the People Picker when we search for a Unique User. Identifier claim is configured correctly

[2018-08-08 11:59] Yvand commented on #60
Can you show the issue with a screenshot?

[2018-08-08 12:27] jaipalgithub commented on #60
Below is the attached image of people picker

![peoplepicker](https://user-images.githubusercontent.com/1750440/43836884-c02799ce-9ae4-11e8-990e-348b1c1b98e1.jpg)

[2018-08-08 13:35] richjnsn opened #61 "LDAPCP, ADFS and external users?"
Hi,

I have installed a Sharepoint 2016 on-premise. I have intergrated ADFS to be able to invite external users. But as we all know, after a ADFS integration the people picker doesn't resolve users from the AD very well. LDAPCP do fix this.

But, I cannot invite external user, I only getting an error message telling me that... I cant. :) Is there a setting or a way to make this possible?

[2018-08-08 14:09] Yvand commented on #60
This is expected. If you want just 1 result, you can remove the claim types you don't want in LDAPCP claim types configuration page, in central administration > Security

[2018-08-08 14:16] jaipalgithub commented on #60
I think This was not the case in the previous versions. We have two environments on with the same claimtypes in the newer one we see claim types in peoplepicker where as in the old one we dont see the issue

[2018-08-08 14:47] Yvand commented on #61
Hi @richjnsn
Yes, this is possible: the idea is that you define a keywork for a given claim type.
Then, when user types the keyword in the people picker, what is after will be validated as-is. E.g.:
- You set keyword "ext:" on claim type email
- In the people picker you type "ext:email@partner.com" and LDAPCP validates "email@partner.com"

To set the keyword, go to central admin > LDAPCP claim typ

[2018-08-08 14:51] Yvand commented on #60
It's true you should not really see a difference if you never changed any setting in that list, but something to have in mind is that v10 has breaking changes and that list was reset during the upgrade, so somehow it might explain why results changed after.

[2018-08-08 15:54] richjnsn commented on #61
@Yvand That's great news! Thank you for your quick answer!

[2018-08-09 07:12] #61 closed

[2018-08-14 13:09] JasonHough75 opened #62 "LDAPCP with AD LDS"
Hi there,

I have connected our AD LDS with LDAPCP and it works fine, but I can only see Users not UserProxy accounts. We are using UserProxy accounts so that the password is not known on this side. Can LDAPCP find accounts which are UserProy in AD LDS ?

[2018-08-14 13:39] Yvand commented on #62
I don't have a AD LDS to verify this, but I think you need to update the LDAP object class to match the class of UserProxy accounts.
You can do this in central admin > Security > LDAPCP claim types configuration page

[2018-08-21 10:41] JasonHough75 opened #63 "(emailAddress) claim only works"
Hi there,
We are using Sharepoint 2013 with your fab product.. ADFS works fine and so does LDAPCP..
When I choose a user in the people picker all I can get is (email address) bob.builder@hardwork.co.uk to work.. if I add the user as UPN then it does add but the user cannot get their permission ? Have you heard of this before ?

Thanks, Jason.

[2018-08-21 10:52] JasonHough75 commented on #62
perfect answer, cheers!

[2018-08-21 10:52] #62 closed

[2018-08-24 15:51] bwar01 opened #64 "How to configure: "Set a keyword to bypass LDAP lookup""
How to configure the following?

**Set a keyword to bypass LDAP lookup**. e.g. input "extuser:partner@contoso.com" directly creates permission "partner@contoso.com" on claim type set for this.

[2018-08-28 11:43] KNareshChand commented on #50
HI Yvand,

I am still facing the same issue even thought the augmentation setting was not enabled. Restarting the SharePoint IIS is resolving the issue only. If I am not wrong, I went to the setting as : Central Admin->Security->LDAPCP Configuration->Global Configuration->Augmentation->Enable augmentation (checkbox unchecked).  Please help.

[2018-08-28 12:54] Yvand commented on #64
Through UI:
Go to Central Administration > Security > LDAPCP Claim types configuration page > Edit the claim type where you want to set the prefix > Set the prefix in column "Prefix to bypass lookup"

Through PowerShell:
[code]

[2018-08-28 12:56] Yvand commented on #63
Hi, you need to clarify what value you expect (what is issued in the SAML token by the 3rd party STS), and what value (LDAP attribute) you map in LDAPCP.
What you describe suggests that thoses values are not the same, which is why permission is not granted.

[2018-08-28 13:04] Yvand commented on #50
@KNareshChand What error exactly are you getting?

[2018-08-29 07:54] KNareshChand commented on #50
Thanks Yvand for the quick help.

This is the below error I am getting from ULS log

Claims Authentication         	8307	Critical	**An exception occurred in **LDAPCP** claim provider when calling SPClaimProvider.FillClaimsForEntity(): Retrieving the COM class factory for component with CLSID {BDEADF26-C265-11D0-BCED-00A0C90AB50F} failed due to the following error:** 800703fa Illegal operation atte

[2018-08-29 07:59] KNareshChand commented on #50
I don't know the exact reason why this error is happening but there is pattern that the SharePoint site is used to work as usual but after some day(may be many users logged in to the site),  the site stopped working and we see as usual yellow error screen and pointing the url to <sharepoint site>/_trust/default.aspx.   After restarting the SharePoint server, the issue is gone and it used to work a

[2018-08-29 08:19] Yvand commented on #50
@KNareshChand I think you likely face issue described in kb https://support.microsoft.com/en-in/help/3114011/800703fa-illegal-operation-attempted-on-a-registry-key-that-has-been-m
Can you try the solutions and confirm if it fixes the issue?

[2018-08-29 13:00] KNareshChand commented on #50
Thanks Yvand, I will try this solution and will update.

[2018-09-04 09:42] tollertenya commented on #53
Hello,
thanks for fixing - we tested the fix and search result now is working fine.

But now we have issue that there is \ as prefix before domain - useraccount is written in SharePoint in form \fqdn\groupname

![searchresult](https://user-images.githubusercontent.com/8003776/45023757-8a03e100-b037-11e8-8570-f2a4eb07cca0.png)

[2018-09-05 09:14] tollertenya opened #66 "preceded \ in roles since last fix"
hello,
since you fixed issue 53 new issue occured that a "\" is before the role in Account. we use {fqdn}\ as claim value prefix.

![45023757-8a03e100-b037-11e8-8570-f2a4eb07cca0](https://user-images.githubusercontent.com/8003776/45083726-d6fdbb00-b0fc-11e8-9457-02460952cabd.png)

[2018-09-05 09:44] Yvand commented on #66
I don't reproduce this issue, results are returned as expected:
group claim type is configured with prefix "{fqdn}\\" and if I type "group1", LDAPCP returns "xcontoso.local\group1" as expected:

![image](https://user-images.githubusercontent.com/8788631/45085242-8720f300-b100-11e8-9f4f-3a2e3a717fa6.png)

In ULS logs:
[code]

Note: Sometimes the rendering of markdown removes the \ and you need to d

[2018-09-05 14:43] tollertenya commented on #66
here a extract of our ULSlog
we see correct encoded LDAP search with \5c - the queried server is ADLDS Server and filled in field is adminDisplayName.
![verboselog](https://user-images.githubusercontent.com/8003776/45100959-b77d8700-b12a-11e8-8288-ead754f8406f.png)

[2018-09-06 06:53] Yvand commented on #66
Sorry it's not clear:
- What is the expected value?
- What is the actual value?

[2018-09-06 09:31] tollertenya commented on #66
expected is: ftest\groupname xy
actual is: \ftest\groupname xy

[2018-09-11 08:23] U292124 opened #67 "Augmentation with NetIQ eDirectory 9.1"
Dear Yvan,

we would like to use augmentation with LDAPCP but our LDAP is using the attributes "member" and "equivalentToMe" attributes instead of "memberof" and "uniquememberof".
Is there a way to configure LDAPCP to use these attributes for augmentation?

Thanks,
Miklos

[2018-09-11 12:13] U292124 commented on #67
Sorry I forgot one part of the question: in which form is the query for groups run agains the LDAP? LDAP requires the user FDN which is not present, only the userid (cn). For example (&(objectClass=group)(Member= cn=V23456,ou=users,ou=myunit,o=mycompany,c=com)) provides a list of groups but the is no wildcard allowed (like member= V23456*).
Perhaps a postfix for the user identifier could help here

[2018-09-11 15:42] Yvand commented on #66
I cannot reproduce the behavior.
I created group "group\charTest" in domain "contoso.local"

My group claim type is configured with prefix "{fqdn}\\", as returned by this script:
[code]

I search for it and I get the entity created with expected claim value, as shown in the logs:
[code]

What am I missing?

[2018-09-11 15:59] Yvand commented on #67
Hi Miklos,
currently it's not possible to specify what LDAP attribute to use instead of the "member" / "memberof", but it's definitely something that I can add in a future version.
LDAPCP uses the user identifier configuration to build the query that gets group membership, e.g. the sAMAccountName="userValue" or mail="userValue", it is not resolving the groups themselves.

[2018-09-17 08:55] #64 closed

[2018-09-17 08:56] #63 closed

[2018-09-17 08:56] #60 closed

[2018-09-17 08:57] #59 closed

[2018-09-17 08:57] #48 closed

[2018-09-17 08:57] #43 closed

[2018-10-12 17:14] salaradili opened #68 "Custom LDAP Group Members Not Authenticating"
Hi there,

We are having a weird issue where our users are not getting recognized as part of the LDAP groups. We have a custom LDAP (non-AD), and our 2010 environment with the old version of the solution (which had no augmentation) seems to be working just fine. However after upgrading to 2016 and using the new version of the LDAPCP with augmentation, we're no longer able to either Check Permissio

[2018-10-15 08:36] Yvand commented on #68
In LDAPCP global config page, in section "Augmentation", you should have a list of LDAP servers just after your screenshot where you can select 1 by 1 which ones to query for the augmentation

[2018-10-15 17:02] salaradili commented on #68
Wanted to add two things (not sure if they are of any significance):

1- The memberOf value for our users return the group's distinguishedName as value and not the sAMAccountName. When i search for a group in Check Permission, the (Role) would show but not the users that are members of it.

2- Weirdly, when I $objSearcher to findall() based on my filter, i can find the user and see its memberOf va

[2018-10-16 07:16] tollertenya opened #69 "Encoding \ in bypass"
When i use bypass- the will \ replaced by \5c which point to encoding that is necessary in LDAP search strings but not when directly write Roles to SP.

![pp1](https://user-images.githubusercontent.com/8003776/46998866-1c61cf00-d124-11e8-9859-8a414cc7e45f.png)
![pp2](https://user-images.githubusercontent.com/8003776/46998868-1ec42900-d124-11e8-8891-f82949f8b200.png)

[2018-10-16 08:20] tollertenya commented on #66
we found solution that is working when we using {domain} instead of {fqdn}

[2018-10-17 07:53] Yvand commented on #68
Can you follow the section "Troubleshoot augmentation" in https://ldapcp.com/Troubleshoot-LDAPCP.html ?
Then you can compare the groups returned by LDAPCP (by looking at the logs) with the groups sent by the 3rd party STS (e.g. ADFS).

[2018-10-17 13:09] Yvand commented on #69
I reproduce this issue, thank you for reporting it.
I'll see how I can fix it and update this thread

[2018-10-23 08:55] Yvand commented on #69
Fyi, I just fixed it in dev branch: https://github.com/Yvand/LDAPCP/commit/8ff7e7b790c1492b695b6f6d9efb94b445c598c5
I completely reviewed management of special LDAP characters and it's much better now

[2018-10-25 21:09] salaradili commented on #68
Okay I think i found the problem!! The mapping was happening with the sAMAccountName which was different than the output that LDAPCP was putting forth when found the groups for the user (it was a different attribute). I chose another attribute in the claims mapping (cn in my case) to exactly match that. Then I had to remove and re-add all those users and make sure the tokens are expired and are re

[2018-10-26 07:08] #68 closed

[2018-11-15 14:59] micholus opened #70 "Object reference not set to an instance of an object"
Hi,
We are trying to deploy the latest version and after configuring we are getting an error in system logs:
An exception occurred in LDAPCP claim provider when calling SPClaimProvider.FillUserKeyForEntity(): Object reference not set to an instance of an object..

An exception occurred when trying to issue security token: Object reference not set to an instance of an object..

Please advise how ca

[2018-11-15 15:19] Yvand commented on #70
Hi @micholus can you check SharePoint logs, filter on Product/Area "LDAPCP" and see if there is any exception or error?

[2018-11-21 09:10] micholus commented on #70
Hi Yvand,
The issue was resolved by doing a cleanup of the solution on all servers in the SharePoint farm and then clean installation.

Thanks!
Michal

[2018-11-21 09:10] #70 closed

[2018-12-04 09:43] Albino1006 opened #71 "LDAPCP compatibility with SharePoint 2019"
Hello @Yvand,

Is LDAPCP compatible with SharePoint 2019? Can you confirm on this? Thanks.

[2018-12-06 16:48] Yvand commented on #71
Hi @Albino1006 I couldn't find any issue during my tests, although I didn't have time to make many, so I'm confident it works just fine with SharePoint 2019.
My plans is to make complete tests with the next version of LDAPCP (currently in dev) and explicitely mention compatibility of the project with SharePoint 2019 when I release it.

[2018-12-12 18:48] pensphreak opened #72 "FBA users DisplayName"
I've been using LDAPCP in SP2013 for a long time and this one thing has always bothered me.  Now I'm using it in SP2016 and I thought I'd try to figure out how to fix it.  I have ADFS and FBA setup as authentication methods and when I search for a user I get the following results back

If I search for "smith", I may get:

Smith, John @ Company
smithj

The first one is the user in ADFS, and it show

[2018-12-19 14:58] Yvand commented on #72
hi @pensphreak FBA has its own dedicated claims provider that talks with the FBA membership provider / role manager.
as far as I remember, membership provider can only return the actual value, and not additional metedata like a display name. This is why the display for FBA users is like you observed.
And just in case you ask, the FBA membership provider cannot be replaced

[2018-12-20 07:47] #66 closed

[2018-12-20 09:22] Yvand commented on #67
@U292124 I have good news, I just implemented the feature in the dev branch by adding property GroupMembershipAttributes to let you specify what LDAP attributes should be used.
It can be configured in PowerShell:
[code]

[2019-01-02 17:45] #72 closed

[2019-01-02 17:45] #71 closed

[2019-01-07 21:13] Audun1555 opened #75 "High CPU usage and use of static generic dictionary?"
Hi, we use LDAPCP with new SP2016 servers and have an issue With high CPU usage
Debugging shows that its related to usage of the generic dictionary Object.
The only serverside 3party code is LDAPCP - can there be an issue here?

http://improve.dk/debugging-in-production-part-3-thread-safe-dictionaries/
https://improve.dk/debugging-in-production-part-1-analyzing-100-cpu-usage-using-windbg/
https://

[2019-01-11 11:24] #75 closed, assigned to Yvand

[2019-01-11 16:07] sergey-tihon commented on #15
One important NOTE for everyone who troubleshoot augmentation.

###  Important note

Following LDAP server connection is **incorrect**  (even if `Test LDAP connection` works)
<img width="497" alt="ldapcp_configuration" src="https://user-images.githubusercontent.com/1197905/51044752-f046d480-15d2-11e9-8d81-3f35d39bd690.png">

**you should use `distinguished name` of the connection**
<img width="486

[2019-01-17 15:03] Anagirl921 opened #76 "Exclude NTLM domain users from People Picker"
We have SharePoint 2016 on Prem. We have both NTLM and ADFS on the Default zone because of the search issue. the People picker is now showing both the ADFS user and the NTLM user. Is there a way to exclude the NTLM user name?

[2019-01-17 15:09] Anagirl921 opened #77 "External users in AD and 2 way Trust users not in People Picker"
SharePoint 2016 on prem - ADFS and NTLM on default zone. We have external users in our AD that do not have a outlook mailbox. they do not show up in the people picker unless they are given a mailbox. What am I missing? I am sure it is a setting but cant wrap my head around it.

Somewhat related. we have external users that we have a 2 way trust with (so they can use their own log in to get into ou

[2019-01-19 16:36] micholus opened #78 "Augmentation problem"
Hi.
I have configured LDAPCP with our SharePoint and everything looks fine except the groups augmentation. I can query for the AD group, give it permissions on SP sites but users can not access the sites based on group membership.
What I found in the logs is:
      Starting augmentation for user 'user'.
	Verbose	[LDAPCP] LDAP queries to get group membership on all servers completed in 0ms
	Medium

[2019-01-24 11:07] micholus commented on #78
Hi,
I'm still facing the issue, any clues what can I check ?

Regards,
Michal

[2019-01-29 17:05] Yvand commented on #78
Hi @micholus based on the logs output, I suspect you didn't check the box "Query this server" on any server in the "Augmentation" section in LDAPCP global configuration page. Can you check this?

[2019-01-29 17:08] Yvand commented on #77
@Anagirl921 what is the identity claim type used for trusted users? If it's the email, then it's expected that users who don't have an email are not returned by LDAPCP

About the trusted domain, I think you may need to add a LDAP connection to query. You can do that in central admin > security > LDAPCP global configuration

[2019-02-08 09:15] kurky91 commented on #34
Hello @Yvand

The problem still persists on Windows Server 2016. I just updated to .NET Framework 4.7.2.
The server has the newest Update installed: https://support.microsoft.com/en-us/help/4480977

In this particular environment, I have deployed a fork of your LDAPCP to read claims and save them to UPS. I could do code changes.

Do you have a suggestion?

Thank you very, veeery much

[2019-02-08 15:11] Yvand commented on #34
Hello @kurky91
After you installed the .NET update, what is the error recorded in ULS logs?
Can you confirm if you can reproduce it using this script (to run on SharePoint server):

[code]

[2019-02-11 14:03] kurky91 commented on #34
Hello @Yvand

Yes, I can reproduce the error with your script.

![image](https://user-images.githubusercontent.com/2542696/52568066-10ee8e00-2e0e-11e9-98b3-3ea06bdd4f35.png)

[2019-02-21 13:11] Yvand commented on #76
@Anagirl921sorry for my late reply, yes it's possible with some SharePoint configuration, but LDAPCP can do nothing about this.
A good way is to set property SPPeoplePickerSettings.ActiveDirectoryCustomFilter with a fake filter, for example :

[code]

As the comment says, it's very important that super user / super reader / crawl account have this value in AD, so they can be resolved when SharePoi

[2019-02-26 16:05] kurky91 commented on #34
Hello @Yvand

Do you think the error is not solvable at the moment?
If so.. then we keep our workaround inplace: a script that resolves all the groups and adds those groups seperately.

Thank you
Kai

[2019-02-26 16:56] Yvand commented on #34
hi @kurky91 sorry for my late reply
Can you check the version of "C:\Windows\Microsoft.NET\Framework64\v4.0.30319\clr.dll" on the SharePoint server?
You very likely face a .NET bug that was fixed some time ago, can you update .NET to latest version and run the PowerShell script again?

[2019-02-26 23:18] savila202501 opened #79 "Usernames not showing with displayname"
Hi,
I am facing 2 issues that I think are related, one for some time now when new users are created the show with their email address when they login instead of their Display Name.
The second part of my problem is related to Nintex as we assign tasks to users and it appears that a new user can't be assigned when using the claims user, I can assign it using the AD username (domain\username) and the

[2019-03-01 07:54] #3 closed

[2019-03-01 08:11] kurky91 commented on #34
Thanks for your reply, @Yvand

I think this DLL is as new as possible, right?

![image](https://user-images.githubusercontent.com/2542696/53624743-942b2480-3c01-11e9-9c2f-7f9fd715bd7a.png)

[2019-03-25 10:32] domsen123 opened #81 "[QUESTION] Where are Global Configuration stored"
Can you please tell me, where are the global configuration informations are stored? Cause I need to update the LDAP user password automaticly.

Thanks

[2019-04-03 07:17] Yvand commented on #81
@domsen123 LDAPCP stores all its configuration in a SharePoint persisted object, in the configuration database. You can view it by running this SQL command:

[code]

To update its configuration, such as the password, I strongly recommend that you use PowerShell, as described in https://ldapcp.com/Configure-LDAPCP.html

[2019-04-03 07:56] domsen123 commented on #81
Hi Yvand... thanks for your response...
Unfortunately I cant set the LDAP user & password with powershell, right?!
So maybe I have to do it directly over SQL... I dont like this method, too :/

[2019-04-03 08:26] Yvand commented on #81
@domsen123 You can update it with PowerShell like this:

[code]

[2019-04-03 08:44] domsen123 commented on #81
@Yvand ahh... awesome! thank you very much!

[2019-04-03 08:50] #81 closed

[2019-04-03 08:52] haoadam opened #82 "LDAPCP - Sorry, we're having trouble reaching the server."
LDAPCP behave so weird that it only able to resolve if key in full Email Address(some time get the sorry message as well)...
It shows "Sorry, we're having trouble reaching the server.", while i tried to key in a few letters and i found that the log did return some entities

Picture below shows then i try again to search again my previous resolved email address by enter just 4 letters. it took quit

[2019-04-03 11:24] Yvand commented on #79
@savila202501 sorry for the late reply
The best way to ensure what account is actually selected is to check the SharePoint logs.
LDAPCP records all its activity in Product/Area "LDAPCP"

[2019-04-03 11:26] Yvand commented on #82
Error message suggests something takes too long. It may or may not be due to LDAPCP, it's impossible to say based on the extract you sent.
Can you extract the full log for the correlation ID of the request and check what takes too long?
For your information, LDAPCP uses monitored scopes to monitor all operations that may take time (LDAP requests). You can find them by filtering logs on "Message" c

[2019-04-03 21:08] pscheidemann commented on #21
If I may suggest something else (years after): Insted of setting the ClaimProviderName-Member on the authenticationProvider, you may try:

`
$cp = Get-SPClaimProvider "<name goes here>";
$ap = Get-SPTrustedIdentityTokenIssuer;
**Set-SPTrustedIdentityTokenIssuer -Identity $ap -ClaimProvider $cp**
`

This will configure the Authentication Provider using dedicated objects instead of "reference by str

[2019-04-04 01:21] haoadam commented on #82
[log.txt](https://github.com/Yvand/LDAPCP/files/3041306/log.txt)

Attached log file that i tried to filter based on Message contain "LDAPCP" and "resolving user"
which i found there is an exceptional message.. It mentions "The server is not operational", may I know is it related to LDAPCP as well?

[2019-04-04 06:35] Yvand commented on #21
Thanks @pscheidemann for this tip!
I'll test it and maybe update the install procedure to use this, it is indeed cleaner this way

[2019-04-04 06:42] Yvand commented on #82
@haoadam  the callstack shows that error is caused by SPActiveDirectoryClaimProvider (Windows authN mode), LDAPCP is not involved in this issue

[2019-04-04 06:53] haoadam commented on #82
is that mean my people picker still trying to resolve in window authn mode which blocked LDAPCP from showing the result? is there any setting people picker for LDAPCP i missed out?

[2019-04-04 07:09] haoadam commented on #82
@Yvand i found the root cause, it is because my secondary AD is blocked 389 port, firewall open n it works now! Million thanks!

However, i have another question, may I know why LDAPCP is showing two selection for an account?
One is UPN, another one is mail.. may I know where to change this setting to let LDAPCP to show only one?
![image](https://user-images.githubusercontent.com/16855300/55536108

[2019-04-04 07:47] Yvand commented on #82
@haoadam you can remove the claim types you don't want to see in the people picker from LDAPCP claims mapping page in central administration > security

[2019-04-04 07:58] haoadam commented on #82
Thanks! but I still can remove whatever from "Active Directory".. any idea?
![image](https://user-images.githubusercontent.com/16855300/55539070-66e70000-56f2-11e9-91b4-22f4257ce328.png)
"

[2019-04-04 08:23] haoadam commented on #82
I figure this out :), thanks for all your help, btw, your LDAPCP is really a life saver. you are a hero we don deserve bro!
$cpm = Get-SPClaimProviderManager
$ad = get-spclaimprovider -identity "AD"
$ad.IsVisible = $false
$cpm.Update()

[2019-04-04 08:23] #82 closed

[2019-04-05 06:47] #78 closed

[2019-04-05 06:48] #77 closed

[2019-04-05 06:48] #76 closed

[2019-04-05 06:49] #67 closed

[2019-04-05 06:49] #33 closed

[2019-04-15 09:29] #79 closed

[2019-04-18 14:58] RKSelvi opened #83 "Client certificate authentication on LDAP"
Hello,

LDAPCP works great. The one question I had is that to make it work over port 636 with Secured Sockets Layer. To make this work for user profile synchronization we had to use a client certificate. I don't see that implementation in the LDAPCP code base. Is that something implemented differently or coming down the pipeline? Or should we branch/fork and add our custom implementation. Please a

[2019-04-24 15:41] Yvand commented on #83
Hello,
I understand you want to use a client certificate to authenticate on a LDAP server, instead of a username/password. Indeed, LDAPCP doesn't support that currently.
But the need for this is not clear to me. Are you saying this is because of user profile synchronization that you need this? Can you explain why?

[2019-04-24 16:07] RKSelvi commented on #83
Thank you for your response.
No, not just with certificate, there will be username/password. I believe current implementation of LDAPCP communicates to LDAP via port 389. As it will send username/password as clear text we need to use port 636. To use via port 636 we need to package certificate with the request. So that was the question if LDAPCP has that implementation or coming down the pipeline.

[2019-04-24 16:34] Yvand commented on #83
@RKSelvi when you create the LDAP connection in LDAPCP configuration page, you can check the options "Secure", "Signing" and "Sealing", this will establish a secure connection with the LDAP server.

[2019-04-24 21:59] RKSelvi commented on #83
The ldap repository is set up over ssl and requires certificate to be sent as part of request.

[2019-04-25 09:47] Yvand commented on #83
@RKSelvi can you provide a sample code that does such authentication?

[2019-04-30 03:44] RKSelvi commented on #83
We are still in planning and working for feasibility etc. So no code yet. Will follow up once the approach solidifies. Thank you.

[2019-04-30 03:44] #83 closed

[2019-05-14 16:40] mathiasstocker commented on #34
Hello @Yvand - Can you give us any update on this topic?

[2019-05-16 14:31] Yvand commented on #34
Hi @mathiasstocker this issue was closed a long time ago and I missed to follow up with the new comments.
Do you also reproduce the issue when you run the PowerShell script I provided [here](https://github.com/Yvand/LDAPCP/issues/34#issuecomment-461833970)?
If so, it is a bug in .NET framework that is normally fixed, but somehow you still repro it.

In LDAPCP, you can avoid it by not checking the

[2019-06-12 10:31] samir07 opened #84 "LDAP connection gets expire"
Hello Yvand - Your solution is a life saver for most of us, thanks for this:)

SP 2016 - LDAP connection gets expire for some reason since it works for a day or two and suddenly stops working, then I re-add the connection and it starts working again perefectly, please help me on how to resolve this? The secod question I have is, I just want to display emailadress and role type in people picker and

[2019-06-14 07:45] Yvand commented on #84
Hi @samir07, thank you for your feedback :)
Can you please explain what you mean exactly by "expire"? Does it get deleted?
Can you check SharePoint logs, filter on Product/Area "LDAPCP", and see if you find useful information?

[2019-06-17 10:11] samir07 commented on #84
Hi @Yvand - Thanks for your response.

I'll check the SharePoint logs first and then let you know more on it. I had just guessed on the LDAP connection expires since LDAPCP works inconsistently for me, and the only work around I follow is re-add the LDAP connection. Thanks!

[2019-06-20 11:25] samir07 commented on #84
Hi @Yvand - I cannot see anything in logs, its seems to be working good now and I'm monitoring it, if anything goes wrong again will let you know.

A very imortant question - Since we are planning to deploy it to production, just wants to know do I need to deploy the LDAPCP solution to all the servers or to only wfe's servers? thanks!

[2019-06-25 13:50] Yvand commented on #84
You need to run cmdlet Install-SPSolution just one time, to deploy LDAPCP on all servers.
However, as I mentioned in [the documentation](https://ldapcp.com/Install-LDAPCP.html): You must manually install ldapcp.dll in the GAC of SharePoint servers that do not run SharePoint service “Microsoft SharePoint Foundation Web Application”.

[2019-06-27 07:12] samir07 commented on #84
Thank you so much, this helps alot. :-)

[2019-06-28 14:22] Yvand commented on #84
@samir07, do both web applications run with the same application pool account?

[2019-07-02 07:38] samir07 commented on #84
Hi @Yvand  - Yes, they both work on the same application pool account.

[2019-07-02 13:47] Yvand commented on #84
It does not make sense that 1 web app works fine and the other one throws this error, if they both use the same application pool account.
Can you try to repro using the PowerShell script below:

[code]

For the test to be valid, you need to use the same settings for the LDAP connection as you used in LDAPCP, and run it as the application pool account.

[2019-07-04 14:30] Yvand commented on #84
@samir07 additionally, what version of LDAPCP are you using?

[2019-07-05 10:53] samir07 commented on #84
Hi @Yvand - I'm using the version - **LDAPCP 12.0.20190321.770** , thanks.

[2019-07-05 13:55] Yvand commented on #84
@samir07, did you visit the LDAPCP central administration pages to create a LDAPCP config in the database?
I noticed I also get this issue when there is no existing configuration

[2019-07-08 08:30] samir07 commented on #84
Hi @Yvand - I'm not sure how to do it. Please help with the steps, thanks.

[2019-07-10 13:54] Yvand commented on #84
LDAPCP provisions its own administration in central administration, to allow you to configure it.
You can visit them in central administration > Security.
If you never visited them, then you did not actually create a configuration that is stored as a persisted object in configuration database. Can you do so and let me know if the error message persists after that?

[2019-07-11 10:52] samir07 commented on #84
Ohhh that setting. Yes, I knew about that and configured it as well as per the need. I have removed the solution now and still sees the issue if I authenticate the second web application through LDAP. Any idea why it's happening?

[2019-07-15 13:37] samir07 commented on #84
Hi @Yvand - I had figured out redirect issue, it was due to ProviderRealms was not added for the second web application. I have installed back the LDAPCP solution and everything just seems to work great except augmentation, Following is the configuration I have done for augmentation -

Enable augmentation check box is checked.

Select what claim type LDAPCP will use to create claims with the group

[2019-07-18 14:38] Yvand commented on #84
hi @samir07 I cannot explain why the exact same LDAP connection work in a web app and not in the other one, if both web apps run with the same application pool, it just doesn't make sense.
Is this error random?
Does it occur all the time on a web app, and never on the other one?

[2019-07-18 15:15] Yvand opened #87 "DirectoryServicesCOMException - Unexpected error occurred while getting domain names information"
Randomly, LDAPCP fails to get domain names information and records the following error:

[code]

As a consequence, entities that use dynamic domain name tokens are missing the domain name.
For example, entity value will be "\groupName" instead of "contoso.local\groupName"

[2019-07-23 12:12] SaboorQuadri opened #88 "[LDAPCP] unexpected error in fillsearch: object reference not set to an instance of an object"
I have configured LDAPCP and ADFS with SharePoint.

I have set SPTrustedIdentityTokenIssuer - ClaimProviderName as LDAPCP
I have added all SPClaimtypes required
I have no error in Claim mapping page

However, while looking for user in people picker no user is lookedup, and in ULS logs I am getting an error
Product: LDAPCP
Category: ClaimPicking
EventID:1337
Message: [LDAPCP] unexpected error in fi

[2019-07-24 07:28] Yvand commented on #88
Can you check SharePoint logs and filter on Product/Area "LDAPCP"?

[2019-07-24 09:26] SaboorQuadri commented on #88
Hi Yvand, Thank you for your response. this is fixed by cleaning LDAPCP and reinstalling from scratch. I believe something might have gone wrong. The sequence I followed was to install LDAPCP, configured UPSA and Sync connection. however, there was an issue with LDAP port. when that fixed, the above issue appeared. So, it seems there was something went wrong and fixed after fresh installation

[2019-07-24 09:26] #88 closed

[2019-07-24 09:33] SaboorQuadri opened #89 "domain prefix does not appear for local domain"
I have configured SharePoint to authenticate via ADFS. So, I have 2 domains, Local and external.

Local domain ADSF is connected with External domain ADFS to authenticate user and LDAP port is enable between my SP server and external domain LDAP server.

Now, i have configured claim type for sAMAccountName with claim type as http://schemas.xmlsoap.org/claims/Group and claim value prefix as "{domai

[2019-07-24 10:13] SaboorQuadri commented on #89
Hi Yvad,

Just to add an update, It seems this is a problem only with below option

New LDAP connection : Connect to SharePoint AD domain

As a work around, i tried adding local domain LDAP using  a second option i.e. "Connect to a LDAP server" using Central admin app pool account credentials and tried to lookup local domain AD group in people picker. The result is as expected.

(AttributeDispalyN

[2019-07-25 08:49] Yvand commented on #89
@SaboorQuadri thank you for reporting the issue
As it is a duplicate of https://github.com/Yvand/LDAPCP/issues/87 I'm closing this one.
If you believe your scenario is different feel free to reopen it

I'm troubleshooting it and will add more information soon

[2019-07-25 09:05] gojo119 opened #90 "Problems adding claim provider users as term store administrators in central admin"
Hello,
is it possible to add SAML users with the ldapcp in central administration as term store administrator? Somehow i cannot get this work. The peoplepicker does not resolve any ldapcp users there. Adding a ldapcp user in the web application user policy settings dialog for expample works without any problem. A user can only be added as term store administrator within the term store management d

[2019-07-25 09:19] Yvand commented on #90
Hi @gojo119
Yes this is the expected SharePoint design: since a trusted user will never be able to sign-in to central administration, SharePoint does not call LDAPCP/AzureCP in termstore page in central administration

[2019-07-25 11:22] gojo119 commented on #90
Hello @Yvand,
thanks for clarifying this point. I already expected that this is by design.
best regards

[2019-07-25 11:22] #90 closed

[2019-07-26 11:24] SaboorQuadri commented on #89
@Yvand , I have seen that case before raising this case. I see the end goal is same however, scenario and ULS error messages are different. It happens many time that same issue occurs with different cause. So, I believe, you can keep this case separate than #87 .

Also, please consider the work around which solved my problem however, I still believe you can go deeper in this area to identify why i

[2019-08-06 16:33] Yvand commented on #89
@SaboorQuadri today I published pre-release https://github.com/Yvand/LDAPCP/releases/tag/14.0.20190806.943 that may fix the issue.
Are you willing to test it?

[2019-08-07 07:51] SaboorQuadri commented on #89
@Yvand , Sure, I can try and give you update. Also, i would like to know why the application association is removed in LDAPCP and if there is an alternate option provided for that. As in the older version we have an option to associate the web application with LDAP connection which isolates the requirement in same environment.

[2019-08-07 08:56] SaboorQuadri commented on #89
@Yvand , I tested upgrading the LDAPCP wsp with 14.0.20190806.943 version and it works very well for local domain Security groups. I removed the local LDAP path and tried to add new LDAPCP commention using "Connect to SharePoint AD domain" option. It work well now. Please let me know how can i bind a particular LDAP connection to specific webapplication while the option is removed from the latest

[2019-08-07 11:21] Yvand commented on #89
@SaboorQuadri thank you for the test and the confirmation.

About the option you are describing, I don't remember it has ever existed in LDAPCP.
What version allowed you to configure that?
How did it manifest in the admin pages?

[2019-08-07 14:24] RKSelvi opened #91 "LDAP://[ldapendpoint]:389: System.Runtime.InteropServices.COMException: The server is not operational."
Hello Yvan,

Connecting to LDAP end point via PowerShell works well. But via LDAPCP, trying to find people via people picker throws the below error and no results are returned.

Would you please advice where can I check for further errors for troubleshooting or what other configurations could be causing this issue.

I got the latest LDAPCP and tried as well. Thank you for your help/support.

LDAP:

[2019-08-07 14:29] SaboorQuadri commented on #89
@Yvand , I do not know the version it have, however, i am attaching the screenshot and a wsp for your reference.

![image](https://user-images.githubusercontent.com/53221436/62630808-443d5000-b94d-11e9-903f-7b25a28a02c9.png)

[ldapcp.zip](https://github.com/Yvand/LDAPCP/files/3477471/ldapcp.zip)

[2019-08-08 06:33] desmondkung opened #92 "Getting "ClaimProviderName": "Claim provider with name LDAPCP does not exist." in SPS 2019"
After installing LDAPCP in SPS 2019, I'm getting the above error at the second-last line of code

[code]

[2019-08-08 14:30] desmondkung commented on #92
Reverted to an earlier snapshot to reinstall and everything is working now.

[2019-08-08 17:18] RKSelvi commented on #91
Closing this issue as it was issue with LDAP server with ports not opened. Thank you

[2019-08-08 17:18] #91 closed

[2019-08-09 02:23] desmondkung commented on #92
using get-spclaimprovider, nothing from LDAPCP comes up.
I realize this happens every time after creating the trusted identity token issuer and installing LDAPCP after the creation of identity issuer.

[2019-08-09 05:31] desmondkung commented on #92
This is the only way to install it successfully in SPS 2019:

1) install LDAPCP
2) create ADFS trusted identity token issuer and claim mappings
3) update trusted identity token issuer with LDAPCP claim provider name

[2019-08-09 10:15] desmondkung opened #93 "User profile sync through ADFS in SPS 2019 throws error"
Error message in SPS 2019 (EventID "aei8n" in ULS):
[code]

Identical settings in SPS 2016 works perfectly fine

[2019-08-09 13:19] Yvand commented on #93
This ArgumentException is pretty frequent and is not related to LDAPCP, SharePoint records it frequently on various operations.
Each time I investigated it, the conclusion was that it can be safely ignored.
Did you notice something actually not working when you have this error?

[2019-08-09 15:13] desmondkung commented on #93
Yeah, user profile sync doesn't sync down profiles when the connection is through ADFS. This only happens in 2019. No issues in 2016.

[2019-08-09 15:56] desmondkung commented on #93
@Yvand The issue doesn't lie with LDAPCP. As the log had pointed that those are Microsoft SharePoint namespaces, I've confirmed the problem exists even without LDAPCP installed. Looks like a 2019 bug. Should I close this here and have the problem escalated through the MS Partner Support channel instead?

[2019-08-09 16:34] #93 closed

[2019-08-13 05:10] #92 closed

[2019-08-13 20:17] tah78 opened #94 "LDAPCP with SP19 and people picker matching issue"
Hi,

I use LDAPCP and ADFS with SharePoint Server 2019. I added two LDAP connections to two different ADs. Everything is working so far. That means I can add users and roles to site collection admins and sharepoint groups and so on. Also logging in with ADFS works as aspected.

I can also add an user to a people picker field in a list and save the list item without errors. But when I try to open t

[2019-08-14 07:46] tah78 commented on #94
Hi,

I found the reason for the described issue above. It only appears with users that have more than on account with the same e-mail-address (for example normal user and admin account) and only in modern ui edit mode.

As workaround I deleted the e-mail-address from the admin accounts. But why does it work in classic ui mode? Is it configurable that the people picker uses the upn to verify the us

[2019-08-20 08:34] Yvand commented on #89
@SaboorQuadri this option was never part of the standard LDAPCP, this is a customization done on your side. But I like the idea and I may implement it in a future version

[2019-08-20 08:36] Yvand commented on #94
@tah78 I need to investigate this. Can you tell me:

- The build number of your farm?
- The output of this script (just replace the URL with your own):

[code]

[2019-08-20 13:30] Yvand commented on #87
Good news, I found the root cause and upcoming version 14 will fix it. If you are interested, here are the details about the bug:

## Context
The issue occurs when LDAPCP uses the LDAP (AD) connection of the SharePoint server.
At some point LDAPCP gets the domain name by reading the LDAP property “distinguishedName” from the object DirectoryEntry:

https://github.com/Yvand/LDAPCP/blob/a5c164680f44

[2019-08-21 08:42] Yvand commented on #87
The pre-release that fixes this bug is https://github.com/Yvand/LDAPCP/releases/tag/14.0.20190821.952

[2019-08-21 14:24] tah78 commented on #94
@Yvand the build number of my farm is:

[code]

The output of your script is:

[code]

[2019-08-22 06:50] SaboorQuadri commented on #89
@Yvand , May be it have been done long back by someone in my team before I join. Thank you for your support. It was an awesome conversation. Please do let me know when you implement this in LDAPCP so that we can use it.

[2019-08-22 16:01] Yvand commented on #89
Sure np!

[2019-08-28 04:30] fvibas opened #95 "LDAPCP missing Claim entity type column"
![image](https://user-images.githubusercontent.com/29219809/63825862-f08fb680-c98e-11e9-8943-bdbb4fd63a0f.png)

I am using LDAP version 12.0.2.20190321.770 and noticed that the Claim entity type column is missing and therefor I couldn't set Formsrole to the Group. I tried updating to the latest version but still I'm not seeing the missing column.

Hope to get some help on this issue as it is affec

[2019-08-28 04:40] fvibas commented on #95
Additional info. I have also removed the claim value prefix {fqdn}\ for the Groups but still the AD group permission isn't working

[2019-08-30 08:13] Yvand commented on #95
@fvibas column "Claim entity type" was removed because it was causing confusion with the "Entity Type".
Now LDAPCP sets it automatically like this:
- if column "Entity Type" is User: "Claim entity type" is User
- if column "Entity Type" is Group: "Claim entity type" is FormsRole

I don't think this plays a role in your issue. Can you check SharePoint logs and filter on Product/Area "LDAPCP" to see

[2019-08-30 14:41] Faridmob opened #96 "Not able to add new member to Site Collection Administrator"
I used LDAPCP with SharePoint 2019 and everything is working as per my expectation other than when adding new member to site collection administrator (SCA) in site collection level and get "An unexpected error has occurred" it is only in SCA and there is issue neither in site permission nor adding admin user through central admin.
I used v2017.10 and latest version as v13.0.20190621.905, but both

[2019-09-02 07:21] #87 closed

[2019-09-02 08:48] fvibas commented on #95
@Yvand. thanks for the Info. I've filtered the ULS for augmentation and the outcome is below.
![image](https://user-images.githubusercontent.com/29219809/64092565-e3583a80-cd87-11e9-8fee-9610ebedd347.png)

But when I do a permission check of the user the membership to the AD group is not shown even though I've added the AD group in SharePoint

[2019-09-04 11:54] samir07 commented on #84
Thanks Yvand, I don't have this issue any more and hence closing this issue, thanks:)

[2019-09-04 11:54] #84 closed

[2019-09-13 14:26] Faridmob commented on #96
Hi Yvand,
Yes it does and and it is the same error, however, I installed v14 but it didn't worked out and getting the same error. Also when trying add member into Term Store through Term Store management in a site collection it is not able to find the user while adding through central admin is ok

[2019-09-16 09:01] Yvand commented on #96
Can you copy the full details of the DirectoryServicesCOMException?

[2019-09-16 15:10] Faridmob commented on #96
For sure here is the detailed

Unexpected	 [LDAPCP] Unexpected error occurred while connecting to LDAP server LDAP://.................../DC=……,DC=…..,DC=….: System.DirectoryServices.DirectoryServicesCOMException: An operations error occurred.  , Callstack:    at System.DirectoryServices.DirectoryEntry.Bind(Boolean throwIfFail)     at System.DirectoryServices.DirectoryEntry.Bind()     at System.Dir

[2019-09-17 15:29] Yvand commented on #96
There is only 1 place where LDAPCP uses DirectorySearcher.FindAll(), and all the details of the LDAP query are recorded in the logs. Can you get them from the logs? First you need to set LDAPCP to verbose:

[code]

[2019-09-17 16:35] Faridmob commented on #96
Just for clarification, is LDAP log is in the same SharePoint log location?

[2019-09-18 03:17] fvibas commented on #95
@Yvand

Thanks, will try that out and update you again.

[2019-09-18 07:27] Yvand commented on #96
Yes, AzureCP writes into SharePoint logs

[2019-09-18 13:18] Faridmob commented on #96
LDAPCP                        	LDAP Lookup                   	1337	Verbose	[LDAPCP] Connecting to "LDAP://domian1.domian.ca/DC=domian1,DC=domian,DC=ca" with AuthenticationType "Secure, Signing, Sealing", authenticating as process identity and sending a query with filter "(&(!(userAccountControl:1.2.840.113556.1.4.803:=2))(| (&(objectclass=user)(sAMAccountName=user)(!(objectClass=computer))) ))"...

[2019-09-19 08:02] Yvand commented on #96
These logs give you all the details you need to replay the LDAP query in PowerShell using [this script](https://ldapcp.com/Troubleshoot-LDAPCP.html).
You should be able to repro the error and troubleshoot it outside of SharePoint/LDAPCP.
I don't think there is anything wrong in LDAPCP code, but this test will make sure of this.

[2019-09-19 16:01] Faridmob commented on #96
Thanks! I replayed the LDAP query and everything was ok without any error.
Again here is the thing, it is happening only in SP 2019 and adding new member to SCA. all settings and configuration is similar in SP 2016 and it worked properly in 2016

[2019-09-20 07:27] desmondkung commented on #93
@Yvand just in case someone is meeting this issue in future, posting my findings.

![Capture](https://user-images.githubusercontent.com/3261081/65307651-d0809b00-dbba-11e9-9326-79a287f3de5f.JPG)

Having this setting enabled in 2016 doesn’t stop the UPS service from downloading profiles, but is a show-stopper for 2019.
If the setting is previously enabled in 2019, it has to be disabled and the syst

[2019-09-24 11:40] samir07 opened #98 "Sharepoint 2016 on Prem external user sharing issue"
Hi @Yvand - We are observing issue in sharing site with external user, it gives us a below error.

**Sorry, you are not allowed to share this with external users.**

I have checked logs and couldn't find anything with regards to this.
For internal user it works seamlessly, just an issue with external user sharing - Can you please help? Thanks in advance!

![image](https://user-images.githubusercon

[2019-09-24 14:25] Yvand commented on #98
@samir07 what are the messages recorded by LDAPCP in SharePoint logs when you repro this?

[2019-09-25 08:01] samir07 commented on #98
Hi @Yvand - I did check the logs and it says -

**No match in user info list. Input : ch*****g@r***.com.**

[2019-09-25 09:16] Yvand commented on #98
is it a message from LDAPCP or SharePoint? What does LDAPCP record?

[2019-09-25 09:19] Yvand commented on #96
Out of curiosity, did you run the script as the farm account?
Also, does LDAPCP work in other pages of central admin? For example, does LDAPCP work in web application > user policy page?

[2019-09-25 09:25] samir07 commented on #98
Thanks for your prompt reply.

But I think LDAPCP doesn't record anything.., when I search with filter applied as LDAPCP and external user name, nothing comes up.

[2019-09-25 10:53] samir07 commented on #98
Just to give you more details here. Before LDAPCP, both users' accounts used to work I mean internal and external as well. After LDAPCP deployed only internal account works now, can you please help or direct me where I can look for?

This story is on high priority for us. You're quick help would be much appreciated.

[2019-09-25 11:34] samir07 commented on #98
Hi, There is this setting in LDAPCP Global Configuration, **Bypass LDAP lookup** and if I check in this setting sharing access with external users works but here is the thing it doesn't resolve the user and takes any input value as valid one, which then make everything worthless.

and now I'm just so confused on how to proceed further.

[2019-09-25 11:38] Yvand commented on #98
How did you create the SPTrustedIdentityTokenIssuer?
Did you migrate users from Windows to trusted?

[2019-09-25 11:43] samir07 commented on #98
We have configured it and not migrated. We have both windows as well as trusted login options.

[2019-09-25 11:46] Yvand commented on #98
Did you run New-SPTrustedIdentityTokenIssuer with switch UseDefaultConfiguration?
Do you reproduce the issue in a new site collection?

[2019-09-25 11:53] samir07 commented on #98
Yes, we did it through **New-SPTrustedIdentityTokenIssuer** but without switch UseDefaultConfiguration. Following are the things included -

$ap = New-SPTrustedIdentityTokenIssuer -Name "****" -Description "********" -realm $realm -ImportTrustCertificate $root -ClaimsMappings $emailClaimMap -SignInUrl $signInURL -IdentifierClaim $emailClaimmap.InputClaimType.

Yes, the issue is reproducible in dif

[2019-09-25 12:01] Yvand commented on #98
Using switch UseDefaultConfiguration causes a lot of issues, so it's great that you did not.

About your issue, does it happen while searching a user or while validating it?
If LDAPCP truly records nothing in the SharePoint logs, then it cannot cause the issue, but it definitely should.
Can you run this:
"LDAPCP:*"| Set-SPLogLevel -TraceSeverity VerboseEx

Then reproduce your issue and use [ULS vi

[2019-09-25 12:14] samir07 commented on #98
Yes, after setting SPLogLevel it does shows traces, below is what it says -

[LDAPCP] Got 0 result(s) in 7ms from all servers with query "(| (&(objectclass=user)(mail=ch$$$$$$.com*)) (&(objectclass=group)(sAMAccountName=ch$$$$$$.com*)) (&(objectclass=user)(displayName=ch$$$$$$.com*)) (&(objectclass=user)(cn=ch$$$$$$.com*)(!(objectClass=computer))) (&(objectclass=user)(sn=ch$$$$$$.com*)) (&(objectc

[2019-09-25 12:27] Yvand commented on #98
So, clearly, the LDAP server doesn't find any user starting with "ch$$$$$$.com"
Can you try to replay it using this command:
Get-ADUser -LDAPFilter "<filter as is from ldapcp log>" -Server DC

[2019-09-25 13:44] samir07 commented on #98
Thank you so very much @Yvand . You're just unbelievable, everything works just perfect now.

Here what I missed, actually I had added AD connection where only internal users are present, now adding LDAP connection worked for me, really a silly mistake but I was unaware of that it was AD connection string and not the LDAP connection string.

[2019-09-25 13:48] #98 closed

[2019-09-25 15:32] Faridmob commented on #96
yes it was with farm account.
yes it works in all pages in CA like user policy , change site collection administrators or Term Store Administrators  in MMS.
But when trying to add new member in Term Store Administrators in site collection it can't find the user

[2019-09-27 08:18] Yvand commented on #96
It is a bit confusing because initially I understood you couldn't set site collection administrator, and now this seems to work and what doesn't work is to set Term Store Administrators.

Also, the logs shows a DirectoryServicesCOMException when sending the query to LDAP server. This is an exception you should be able to reproduce with the PowerShell script I sent you earlier. I understand you don

[2019-09-27 08:19] Yvand commented on #95
@fvibas any update?

[2019-09-27 13:46] Faridmob commented on #96
Sorry if I confused you..... I was saying besides SCA issue I am not able to find a user in Term Store Administrators in site collection while everything is ok thru central admin to add site collection admin and Term store also there is no issue for adding a new user in site permission.

About the suggestion, I would say that I haven't used these option at all(if I am correct they are in LDAPCP Co

[2019-09-30 21:09] schrockmatthew opened #99 "ADFS page stuck at waiting"
Not sure what the issue might be........When I sign in using ADFS after the newest ldapcp.wsp install....The sign in page is stuck at waiting on the adfs page before it states problem with "https://url/_trust/".........Not one error in the sharepoint logs and only see fatal communication errors in even viewer on the Windows Process Activation Service

[2019-10-01 06:57] samir07 opened #100 "Unable to search by displayName"
Hi @Yvand

We are unable to search users by their displayName, if change LDAP class value of "User identifier properties" to some other value.

So, I have added two connection strings - one is of our AD and another one is of LDAP. and there is this "User identifier properties" setting and their defaults values are **user** for class and **mail** for attributes. But in our LDAP there is no such obj

[2019-10-01 13:59] Yvand commented on #99
Can you capture a Fiddler trace, confirm it hangs on the POST to /_trust?
If so, then you can get its correlation ID and use it to filter SharePoint logs. It should help you understand the cause of the hang.

[2019-10-01 14:25] Yvand commented on #100
Hi @samir07
I think there are 2 separate topics here:
- The LDAP server (2nd connection) doesn't use class "user" for users, but "person": Assuming class "person" also works for AD (1st connection), then it's perfectly fine to set LDAP class to "person"
- Search users by displayName: it is configured in LDAPCP "Claim types configuration" page: I guess you need to recreate all entries of type "LDAP

[2019-10-01 14:28] Yvand commented on #96
@Faridmob I think the suggestion I made remains relevant: I assume you are using the default connection "Connect to SharePoint domain". That LDAP connection is always "Secure, Signing, Sealing", so if you capture a netork trace while you use it, you will see nothing. Btw, you can see by yourself from the logs you copied that the connection is "Secure, Signing, Sealing"

[2019-10-01 14:42] #95 closed

[2019-10-01 14:44] Yvand commented on #94
@tah78 I'm closing this as this is not an issue in LDAPCP as far as I can see. If you believe I'm wrong, feel free to reopen this issue.
If you wish to see this issue fixed, I suggest you open a ticket at Microsoft Support and request a hotfix

[2019-10-01 14:44] #94 closed

[2019-10-01 22:23] schrockmatthew commented on #99
Thank you for contacting. Unfortunately, we had to uninstall the ldapcp.wsp and are in the process of building our own people picker via adfs.

In the SharePoint logs it would state authenticated successfully but would eventually time out on the _trust page. It would successfully augment the groups correctly as well. In the windows logs however, it would state a .Net fault in the site that used ld

[2019-10-02 06:04] Yvand commented on #99
Did the problem disappear just after you uninstalled LDAPCP?

[2019-10-02 12:59] khalilG commented on #99
We have the same issue here.
The weird thing is that the first time we installed the ldapcp.wsp solution, we tested on an already opened site and it worked for a while. After closing and reopening the browser, problems showed up.
As a workaround, You can use this code to revert back without uninstalling the solution :
`
![image](https://user-images.githubusercontent.com/8361028/66045704-8b4a5a80-e

[2019-10-02 15:03] schrockmatthew commented on #99
Yes but I had to run the sptrusted command again to get it to work as it was before.

________________________________
From: Yvan Duhamel <notifications@github.com>
Sent: Wednesday, October 2, 2019 2:04:17 AM
To: Yvand/LDAPCP <LDAPCP@noreply.github.com>
Cc: schrockmatthew <schrockmatthew@hotmail.com>; Author <author@noreply.github.com>
Subject: Re: [Yvand/LDAPCP] ADFS page stuck at waiting (#99)

[2019-10-02 15:06] Yvand commented on #99
Can you also make sure that you visit a LDAPCP administration page (hosted in central administration > security) before you try to load any site.
The reason is that visiting a LDAPCP page will create a configuration object, which may fix this issue

[2019-10-02 15:21] khalilG commented on #99
@Yvand Yes, I visited the administration page on the central administration and, by the way, launched the configuration script available here : [](https://ldapcp.com/Configure-LDAPCP.html)

[2019-10-02 16:14] schrockmatthew commented on #99
Ldapcp states in the SharePoint log that configuration is successful. The logs even state successful token and augment of user groups. I believe it’s .Net issue.

________________________________
From: Yvan Duhamel <notifications@github.com>
Sent: Wednesday, October 2, 2019 11:06:22 AM
To: Yvand/LDAPCP <LDAPCP@noreply.github.com>
Cc: schrockmatthew <schrockmatthew@hotmail.com>; Author <author@nore

[2019-10-03 09:22] khalilG commented on #99
When I try to debug on our test environment, we got this issue :
![image](https://user-images.githubusercontent.com/8361028/66114914-0f0d5100-e5d0-11e9-89f0-48b9030fd451.png)
System.StackOverflowException
But no more explanation.

[2019-10-03 09:56] samir07 commented on #100
Hi @Yvand
Per you, I have changed the mapping in "Claim types configuration" below is the screen shot of the same -
![image](https://user-images.githubusercontent.com/20821391/66117008-5bb55400-e5f1-11e9-90e5-61e921af2579.png)

After making the above changes., I did iisreset couple of times and SharePoint Timer service restart.
But, its again unable to search users from our second directory i.e LD

[2019-10-03 13:06] khalilG commented on #99
I finally found a way to deploy the solution and attach breakpoints.
What is remarkable is that it keeps hitting the "Initialize" function again and again until StackOverflow exception is raised.
![image](https://user-images.githubusercontent.com/8361028/66128958-37587800-e5ef-11e9-94cc-b78719bd70cd.png)
@Yvand : any idea why it's keeping initializing ?
Thanks.

[2019-10-03 13:10] Yvand commented on #99
In Visual Studio > Debug > Options: can you unckeck "Enable just my code" and break again?
It should show the SharePoint frames

[2019-10-03 13:10] khalilG commented on #99
Will try that now !

[2019-10-03 13:14] khalilG commented on #99
Here are some screenshots :

![image](https://user-images.githubusercontent.com/8361028/66129598-8357ec80-e5f0-11e9-8b6d-3a1d4fea0cc1.png)

![image](https://user-images.githubusercontent.com/8361028/66129606-86eb7380-e5f0-11e9-804d-735f21a392c3.png)

[2019-10-03 13:50] khalilG commented on #99
As described in the Call Stack, the method "GetUerKeyForEntity" is keeping called again and again. After debugging it, I found that some breakpoints are never reached, as described below 👍
![image](https://user-images.githubusercontent.com/8361028/66132540-81dcf300-e5f5-11e9-9ca2-dfbbfc259a9c.png)

[2019-10-03 14:12] Yvand commented on #99
I see, the StackOverflow is caused by the elevation of privileges done in method GetUserKeyForEntity.
As you can see in the comment, this elevation of privileges was added in v14 to fix issue https://github.com/Yvand/LDAPCP/issues/87, unfortunately, in your environment this is causing the StackOverflow, which is bad news.
Can you let me know:
- What is your SharePoint build?
- The configuration of

[2019-10-03 14:43] khalilG commented on #99
- Farm Build Version :  16.0.4717.1000
- Web App configuration :
![image](https://user-images.githubusercontent.com/8361028/66137070-d2a41a00-e5fc-11e9-87d3-8605b252fb08.png)
![image](https://user-images.githubusercontent.com/8361028/66137122-e780ad80-e5fc-11e9-9e6f-b6da3ab68c77.png)
![image](https://user-images.githubusercontent.com/8361028/66137148-f10a1580-e5fc-11e9-8fe8-331df6840f00.png)

[2019-10-03 14:57] Yvand commented on #99
Can you revert your customization of the default sign in page to default sign in page and confirm that you still reproduce the issue?

[2019-10-03 15:01] Yvand commented on #100
Can you filter SharePoint logs on Product/Area "LDAPCP" to see happens?

[2019-10-03 15:17] khalilG commented on #99
I revert back to the default sign in page. When I open my site, I have 2 choices :
![image](https://user-images.githubusercontent.com/8361028/66139934-8c04ee80-e601-11e9-9712-ea6235a342db.png)

If I choose 'Windows Authentication', everything works fine, site is accessible and I can get AD users from the people picker :
![image](https://user-images.githubusercontent.com/8361028/66140005-a63ecc80-e

[2019-10-03 15:45] Yvand commented on #99
So it is the same issue, assuming this unhandled exception is the StackOverflow caused by the elevation of privileges in GetUserKeyForEntity.

I added this elevation of privileges as part of a larger change to fix issue https://github.com/Yvand/LDAPCP/issues/87 and I never reproduced this StackOverflow during my tests, but you are 2 to reportedly reproduce it.
Considering this, I will revert the c

[2019-10-04 11:05] samir07 commented on #100
Hi @Yvand

I can see below error message in logs -

[LDAPCP] Unexpected error occurred while connecting to LDAP server LDAP://ldap-test.****.com: System.Runtime.InteropServices.COMException: This operation returned because the timeout period expired.  , Callstack:
 at System.DirectoryServices.SearchResultCollection.ResultsEnumerator.MoveNext()
 at System.DirectoryServices.SearchResultCollection.ge

[2019-10-04 11:41] Yvand commented on #100
Do you have any idea what can cause the timeout?
Do you think the LDAP filter is somehow invalid and would cause it?

[2019-10-04 12:21] samir07 commented on #100
I'm not so sure, I did telnet on ldap and got connected.
With filter you mean - object class which I have used as **person**. If yes- this seems valid to me as if do not change displayName mapping and just let the **person** object class in mail entry<first entry in the mapping setting> then it did works good for me. So, basically if I change the mapping for displayName it stops working..

[2019-10-04 13:22] Faridmob commented on #96
Hi Yvand,
yes we are using default connection like 2013 and 2016.
I could with Microsoft Escalation Engineer help through network trace, monitor and fiddler find the issue and solution for that
•	The LDAPCP error kept complaining about not able to connect to AD when the issue occurs so we tested our ability to bind to the domain controllers via PowerShell and all returned success.
•	To resolve thi

[2019-10-04 13:39] Yvand commented on #100
In SharePoint logs you can see the LDAP filter used by LDAPCP.
Can you use it in cmdlet below and check if you repro:
`Get-ADUser -LDAPFilter "<filter as is from ldapcp log>" -Server DC`

[2019-10-04 14:17] Yvand commented on #96
This is very good news! I'm closing this issue, feel free to re-open it if needed

[2019-10-04 14:17] #96 closed

[2019-10-04 14:38] samir07 commented on #100
Hi @Yvand
I ran the Get-AdUser script, with the filter copied from LDAPCP logs, and it did worked, records/users data were returned.

[2019-10-05 14:35] kalervojankko commented on #99
Had exactly the same issue right after I ran the Update-SPSolution command as I updated older LDAPCP version to this version.

After two hours of troubleshooting I found this post and then decided to remove LDAPCP with these instructions: https://ldapcp.com/Remove-LDAPCP.html and then installed version 13.0.20190621.905 and everything worked again. I already installed earlier this 13. version to o

[2019-10-05 16:18] khalilG commented on #99
@kalervojankko : will try this Monday and let you know if it succeeded.

[2019-10-07 11:50] khalilG commented on #99
@kalervojankko I just installed the 13.0.20190621.905 version and it seems to be perfectly working.

[2019-10-07 12:25] Yvand commented on #99
@khalilG @kalervojankko this is clearly a regression in v14, I will publish soon v14.1 to fix it, code is ready and I'm running integration tests on it.
Thank you for reporting and updating me with your tests and findings

[2019-10-07 14:59] Yvand commented on #99
@khalilG, @kalervojankko, @schrockmatthew, are you willing to test [v14.1 beta](https://github.com/Yvand/LDAPCP/releases/tag/14.1.20191007.981) and confirm that it resolves the issue?
As I'm not able to repro it, it would be great to have your validation before I publish it.

[2019-10-07 15:22] Yvand commented on #100
@samir07  this exception occurs on SearchResultCollection.get_Count(), so it looks like LDAPCP got results but cannot parse them.
This time, can you try to replay the query and parse the results using the PowerShell script [located here](https://ldapcp.com/Troubleshoot-LDAPCP.html)?

[2019-10-07 18:11] kalervojankko commented on #99
@Yvand I can test it tomorrow in our TEST farm and will let you know how it goes.

[2019-10-08 08:01] khalilG commented on #99
@Yvand Will do that today and let you know if it succeeded.

[2019-10-08 08:02] kalervojankko commented on #99
Ok, I have now installed this 14.1.20191007.981 beta version and seems to work. I didn't make any comprehensive testing, but at least it didn't break. :)

[2019-10-08 10:52] Yvand commented on #99
@kalervojankko that's very good news, many thanks for taking the time to test it.
@khalilG I'll wait for your feedback. If it is positive, I'll make the pre-release a normal release, so it will be the version downloaded by default

[2019-10-08 14:15] khalilG commented on #99
@Yvand I've got some issues with my SharePoint test environment, nothing related to LDAPCP, so seems like I'll not be able to give you a feedback for today, hope things will get better and try to test tomorrow. Thanks.

[2019-10-08 15:06] Yvand commented on #99
@khalilG thanks for the update, please do let me know if you are not able to complete the test by tomorrow

[2019-10-09 11:46] khalilG commented on #99
@Yvand Sorry but I don't think I'll be able to give you feedback today, I'm stuck with another issue. I think if it works for the others, it will be the same for me.
Thank you again for your efforts.

[2019-10-10 07:53] #99 closed

[2019-10-10 11:19] samir07 commented on #100
@Yvand  -
I have been trying a lot to see why am I getting time out error on ldap connection -
[LDAPCP] Unexpected error occurred while connecting to LDAP server LDAP://ldap-test.****.com: System.Runtime.InteropServices.COMException: This operation returned because the timeout period expired........

My observation is - the about time out issue only happens when displayName claim mapping class is

[2019-10-14 09:53] samir07 commented on #100
@Yvand basically, if attribute for example displayName is missing from ldap directory - timeout issue occurs.

So, is there any way we can apply filter on our LDAP and AD directory. For example - for partner users we want fetch results form LDAP and if its a internal user fetch it from AD?

[2019-10-18 06:33] Yvand commented on #100
@samir07 this is not possible to apply a LDAP filter different for each connection.
What LDAP server are you using? Could it be a known issue with this LDAP server? IMO timing out because a LDAP filter uses an unkwown attribute is a very bad design

[2019-10-18 14:19] samir07 commented on #100
Hi @Yvand - I have applied the filter in a way that I was able to get internal users form AD and external users from LDAP. Initially things seems to be working good, granting permission, check permission everything but then it got weird - while testing I found that external users access lasts for 5 to 10 mins only after that they get Access Denied Error, When I do check permission for that user it

[2019-10-21 08:43] Yvand commented on #100
@samir07 due to the cache it relies on, check permissions feature is not reliable so do not use it to validate if the permission you grant is effective or not. Do a real sign in instead and use ULS viewer in real time monitoring on Product/Area "LDAPCP".
Did you find issues after your configuration change?

[2019-10-25 11:49] kalervojankko opened #102 "Unable to filter AD groups by Organization Unit"
Is there any filter to show only AD groups from selected OU's ?

I have done all the user&group filtering based on these syntaxes I found here: https://social.technet.microsoft.com/wiki/contents/articles/5392.active-directory-ldap-syntax-filters.aspx

However I cannot find any solution to filter based by OU.

Temporarily we have added an extensionattribute to all the AD groups we want to show in P

[2019-10-25 13:37] Yvand commented on #102
@kalervojankko in central administration > Security > LDAPCP claims mapping page, you can set an "Additional LDAP filter" that will apply only to the group.
Would that fit your need?

[2019-10-28 06:50] kalervojankko commented on #102
@Yvand yes I have done all the filtering from the claims mapping page and that works well. :)

I was just wondering is it possible to filter AD groups based by OU (or any other suitable workaround) since I don't think anyone wants People Picker to resolve entire AD because it will populate hundreds of redundant AD groups which have no use in Sharepoint and should not be available for granting perm

[2019-10-31 07:55] Yvand commented on #102
@kalervojankko you can filter on a specific OU if you set the LDAP connection to target it specifically, for example:
`LDAP://corp.domain.com/OU=MyOU,DC=corp,DC=domain,DC=com`
But it will apply to all objects, not only groups.

[2019-11-01 11:49] kalervojankko commented on #102
Thanks! That might help.

I already added one extra LDAP connection to AD OU in our TEST farm, but not sure what account I should use. UserProfleSync is the only account that has Replicating Directory Changes permission on AD, but I believe that's not necessary since LDAPCP needs only to read AD and I can use a "general" Sharepoint service account for the LDAP connection.

We have AD Users in thre

[2019-11-07 14:29] Yvand commented on #102
LDAPCP just needs a basic account with no specific permission, except the right to do LDAP queries (which all accounts have by default)

[2019-11-07 14:29] Yvand commented on #100
@samir07 any update on this?

[2019-11-07 14:31] #89 closed

[2019-11-08 11:42] kalervojankko commented on #102
I targeted some OU's with multiple LDAP connections and it seems to work as you described.

However there's still a lot redundant AD groups in those targeted OU's which I cannot filter out because there is no filter based on OUs. :)

So that LDAP connection targeting helps a little, but in the end I have still the same problem. I just have to live with that and suggest the client that they move th

[2019-11-08 13:58] Yvand commented on #102
No worries. One more thing that you can do: set a specific value to a LDAP property of the groups you want to include (or hide), and use it in a filter in "Additional LDAP filter" in LDAPCP claims mapping page

[2019-11-08 13:58] #102 closed

[2019-11-12 07:44] samir07 commented on #100
Hi @Yvand - Thanks for a follow up.

I'm stuck at one point now on fetching partners' groups.
Here, for partner group - we add it as an attribute to partners account for example for partner account "xyzuser@xyzcompany.com" partner group is added as an attribute to his account like "xyzcompanygroups = partners_group" and now I want to fetch such attributes in our LDAPCP search query for which I had

[2019-11-12 15:58] Yvand commented on #100
@samir07 No, this is not possible, you need to use the standard LDAP way to assign users to groups if you want this to work in LDAPCP.
Why are you using such custom implementation for group membership?
How do you get all members of a group with such implementation?

[2019-11-13 13:42] schrockmatthew opened #103 "AD Group/Role issue"
We had a peculiar situation happen....before we had ldapcp deployed we had our Federated groups assigned to the site/subsites.....Then an admin renamed a group that was assigned and all those users in that group couldn't see the site....After troubleshooting we added a new group and the that group did not apply the correct security......after retracting ldapcp and adding the correct group/role to

[2019-11-13 21:57] loicmitton opened #104 "Adding site collection administrator fail"
Hello,

We discovered that while we have no issue to add users to SP Group it's not possible to add them as site collection administrator.

[code]

SharePoint 2019, CU September 2019
LDAPCP : 14.1.20191007.981

[2019-11-15 15:20] Yvand commented on #104
It looks like a connectivity issue specific to the w3wp.exe of the central administration.
Do web application pools run with the farm account or a specific account?
Does LDAPCP work from a web app on the same server as the one running central administration?

[2019-11-15 15:24] Yvand commented on #103
@schrockmatthew when working with groups you need to be careful with their claim value.
As you can see in LDAPCP claim types mapping page, by default, LDAPCP uses prefix "{fqdn}\" for groups. It means that for each value it gets from LDAP server, it adds "domainFQDN\".
So it LDAP server returns "group1", LDAPCP creates permission "contoso.local\group1"
I don't know if this is the cause of your pro

[2019-11-15 23:27] schrockmatthew commented on #103
It was {fqdn}\ in the prefix removal. Thanks for the reply

________________________________
From: Yvan Duhamel <notifications@github.com>
Sent: Friday, November 15, 2019 10:24:34 AM
To: Yvand/LDAPCP <LDAPCP@noreply.github.com>
Cc: schrockmatthew <schrockmatthew@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [Yvand/LDAPCP] AD Group/Role issue (#103)

@schrockmatthew<https://github

[2019-11-19 13:56] #103 closed

[2019-11-27 09:17] SaboorQuadri opened #105 "Restrict people picker to lookup users with attribute"
Hi Yvand,

is there any possibility in LDAPCP to allow users to be looked up in people pickers from department attribute

[2019-11-28 12:59] Yvand commented on #105
@SaboorQuadri yes, you can configure this in LDAPCP Claim types configuration page in central administration

[2019-11-28 12:59] #104 closed

[2019-11-28 12:59] #100 closed

[2019-12-03 09:17] SaboorQuadri commented on #105
Hi Yvand, Thank you for your response. I tried to add below filter in "**Additional LDAP filter for user attributes**" and clicked on "Apply to all user attribute". Now, I am unable to get any user.

"(&(!(objectClass=computer))(division=Mydivision))"

I also tried keeping the textbix blank and "Apply to all user attribute" to revert however, that doesn't work. I tried by reset LDAPCP configuratio

[2019-12-05 06:50] SaboorQuadri commented on #105
Hi Yvand,

Please ignore. I have fixed the issues by complete reset. additionally, I would like to add that, if above filter needs to be apply then we need to add a claimtype mapping in SPTrustedIdentityToken issuer as well as a claim rule in ADFS to have this working. I have tested and reached to this solution.

[2019-12-05 06:51] #105 closed

[2019-12-05 10:17] fvibas opened #106 "User added permission or to group creates a new account/duplicate account"
I have deployed LDAPCP and below is my configuration.
![image](https://user-images.githubusercontent.com/29219809/70226134-3bd61400-178b-11ea-843e-1063dd910452.png)

When I tried adding an existing user a permission it creates another account in the user information list, and when the user tried to access he is getting error the site is not yet shared.

[2019-12-05 13:32] Yvand commented on #106
In the user information list, what is the "account name" of both users?

[2019-12-06 07:20] fvibas commented on #106
Both have same account name but the account that is working has the department and position details. When click on the working account it goes to mysite page with url pattern
/sites/mysite/Person.aspx?accountname=******, while the account that is not working goes to user information page with url pattern /_layouts/15/userdisp.aspx?ID=####
![image](https://user-images.githubusercontent.com/29219809

[2019-12-06 08:59] fvibas commented on #106
I'm also encountering another weird issue  adding a user in site collection administrator getting this error in uls logs [LDAPCP] Validation failed: found 0 entities instead of 1 for incoming claim with value 'user@domain.com.sg' and type 'http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress'

The account has a valid mysite profile and is able to sign in. I tried adding the email inf

[2019-12-06 09:52] Yvand commented on #106
We need to compare the actual account name of both accounts, which looks like 'i:0e.t|AzureAD|account@tenant.onmicrosoft.com'
Did you change the identifier claim type of Azure AD users?

[2019-12-09 01:24] fvibas commented on #106
Hi Yvand,

Thanks for that I noticed that the existing working account has a format of 'i:05.t|adfs for sharepoint|ferdinand@synsgnet.com.sg' while the duplicate has a format of
'i:05.t|adfs for sharepoint|ferdinand@synsg.com.sg'. currently the user profiles are using email @synsg.com.sg but when users sign in they are using synsgnet.com.sq\username.

Is there a way to update the configuration to

[2019-12-09 06:09] fvibas commented on #106
I wanted to change the query to use UPN however it is not showing in green, is there anything I missed? I checked the token issuer for claim types and UPN is there.
![image](https://user-images.githubusercontent.com/29219809/70411505-64ad2080-1a8d-11ea-8943-c14c3bcbabd7.png)

[2020-01-04 16:51] GoudGanesh commented on #96
Hi Farimob,

I am also exactly facing same issue after we migrated SharePoint 2013 to SharePoint 2019.
In SharePoint 2013 we used LDAPCP claim provider and it worked perfectly with default ladap connection. We are using ADFS SAML token authentication.

Where as in SP2019 I tried with newer version LDAP 14.1... but I am getting error while adding users to any SharePoint group after adding LDAP clai

[2020-01-05 19:14] mja-de opened #107 "Get Error "Sorry, you are not allowed to share this with external users""
We installt LDAPCP 14.1 on SharePoint 2013. We connected to a ActiveDirectory Forrest.

when I search for a user in the People Picker I get the error message "Sorry, you are not allowed to share this with external users"

I search for kxxxx@cos.com this is the value into the field "mail"
ldapcp does not search in the "mail" field and we get the error messages

if I search for the value "kxxx@one.c

[2020-01-06 07:17] GoudGanesh opened #108 "After applying LDAP claim provider I am not able to add users to SharePoint groups."
Hi Yvand,

I go through the issue #96 reported.

I am also exactly facing same issue after we migrated SharePoint 2013 to SharePoint 2019.
In SharePoint 2013 we used LDAPCP claim provider and it worked perfectly with default ladap connection. We are using ADFS SAML token authentication.

Where as in SP2019 I tried with newer version LDAP 14.1... but I am getting error while adding users to any Sha

[2020-01-07 10:11] Yvand commented on #108
Hi @GoudGanesh are you able to reproduce the same issue in a new site collection?

[2020-01-07 10:16] Yvand commented on #107
@mja-de your scenario is not clear:
Based on the screenshot the identity claim type is the UPN. By default, for this claim type LDAPCP uses LDAP attribute userPrincipalName. If you want to use LDAP attribute mail instead, you can change it in the page.

[2020-01-07 10:21] Yvand commented on #106
@fvibas sorry for the long delay.
In LDAPCP claims mapping page, the row in green corresponds to the identity claim type configured in the SPTrustedIdentityTokenIssuer. You cannot change the claim type in LDAPCP since it directly depends on the one you set in the SPTrustedIdentityTokenIssuer, but you can change the LDAP attribute if desired.

Regarding the email values, as far as SharePoint is con

[2020-01-07 10:56] GoudGanesh commented on #108
Hi Yvand,

Yes, we are experiencing the same issue in other site collections.
We are using ADFS SAML authentication (SPTrustedIdentityTokenIssuer).

Thanks,
Ganesh

[2020-01-07 12:14] Yvand commented on #108
@GoudGanesh I didn't ask if you repro in others, but in a new one.
This is an important test, I suspect you will not repro in a new one

[2020-01-07 13:55] GoudGanesh commented on #108
Hi Yvand,

Yes, Now I have created new site collection and trying to add user, there also getting the same error.

[2020-01-07 15:58] Yvand commented on #108
Can you set LDAPCP logs in verbose and check the logs to get more details about the issue:
[code]

[2020-01-08 06:46] GoudGanesh commented on #108
below are the log details:

[LDAPCP] Connecting to "LDAP://azweutbxad2019.ipp.local/CN=Uploader,CN=Users,DC=ipp,DC=local" with AuthenticationType "Secure, Signing, Sealing", authenticating with credentials "ipp\azureadmin" and sending a query with filter "(| (&(objectclass=user)(sAMAccountName=extgataa)(!(objectClass=computer))) )"...	55469d33-457d-0000-1777-62b107c5d501

[LDAPCP] Connecting to "L

[2020-01-08 08:24] Yvand commented on #108
Somehow LDAP server does not return any result from this request:
[code]
Can you replay this query using [this PowerShell script](https://ldapcp.com/Troubleshoot-LDAPCP.html) and the information in the log?

[2020-01-09 20:32] mja-de commented on #107
Yes, the Identiy Claim ist UPN, but the Problem is to search form the attribute "Mail"

Szenarion:
If i type the value "kxxxx@cos.com" into the PeoplePicker, I get the error message.

in my guess, because LDAPCP cannot find an account in AD. LDAPCP does not use the attribute "Mail" for the search in the AD.

if I enter the value "kxxx@one.com", the account is found and I do not receive an error me

[2020-01-21 14:00] RGrizzzz opened #109 "stsadm -o deleteconfigurationobject supportability concern"
As a general FYI, running this command is a BIG RISK, and is UNSUPPORTED without a blessing from Microsoft support. There needs to be a warning on the fix issues page about this command.
stsadm -o deleteconfigurationobject -id 5D306A02-A262-48AC-8C44-BDB927620227

Example: https://docs.microsoft.com/en-us/archive/blogs/okoestner/how-to-delete-a-timer-job-definition

It looks like the stsadm refere

[2020-01-22 07:30] Yvand commented on #109
@RGrizzzz as a general best practice you are absolutely correct, but it does not apply here because '5D306A02-A262-48AC-8C44-BDB927620227' is the ID of the LDAPCP persisted object.
Deleting it only affects LDAPCP, not SharePoint, so it's 100% safe

[2020-01-22 07:31] Yvand commented on #108
@GoudGanesh did you resolve the issue?

[2020-01-29 10:34] #109 closed

[2020-01-29 10:34] #108 closed

[2020-01-29 10:37] Yvand commented on #107
@mja-de sorry for the late reply.
You need to add a new entry with type "Add a mapping between a LDAP object and the main corresponding object type". The LDAP class would be user and LDAP attribute "mail". The identity claim should remain with the UPN.

[2020-01-29 16:00] okeol opened #110 "Help for multiple TokenIssuer needed"
Hi everyone, here is a small call for help  ;-)
We have a SharePoint 2019 attached to three active directories via ADFS and with three SPTrustedIdentityTokenIssuer.
Now we want to implement the lookup into all three AD via LDAPCP.
In the section "For developers" on ldapcp.com I found the line
    "Use LDAPCP with multiple SPTrustedIdentityTokenIssuer."
that suggests, it's possible. But the message

[2020-01-30 20:24] tah78 commented on #110
Hi @okeol, I downloaded and use LDAPCP solution without any adjusments to the source code.

My environment:

- two active directories (intranet and extranet), each with one ADFS server
- the SharePoint farm is placed in the extranet and only the extranet ADFS server is attached to the SharePoint Farm as SPTrustedIdentityTokenIssuer
- the extranet ADFS server is configured as relying party trust on

[2020-02-03 13:33] Yvand commented on #110
Hello,
Indeed, you cannot use LDAPCP with 2 SPTrustedIdentityTokenIssuer, this is actually due to a SharePoint limitation.
The solution is to use 2 flavors of LDAPCP: one is the pure standard one, the other is basically LDAPCP with a different, unique name (e.g. CustomLDAPCP). Each has its unique configuration (persisted object) and name.
I used to provide a zip that contained a sample project to

[2020-02-03 13:46] okeol commented on #110
Thx, for replying!   I already found the ZIP and the class LDAPCP_Custom in it.
So we will try the flavors - extending to three of them.
But what about the note with the event receiver?

What part of LDAPCP is limited by this?

[2020-02-04 12:50] Yvand commented on #110
@okeol I just added "LDAPCP.Developers.zip" to [the latest release](https://github.com/Yvand/LDAPCP/releases/tag/14.1.20191007.981).
This goal of this statement is to explain that the sample project has 3 custom claims providers (3 classes), each showing a possible customization, but only one will be deployed by the feature receiver.
The feature receiver uses the values in class "CustomConfigurati

[2020-02-13 13:28] swinks commented on #110
Hi @Yvand, thank you for providing us your LDAPCP solution.

I created two seperate providers with their own unique GUIDs and configuration (LDAPCP_A.wsp and LDAPCP_B.wsp). After installing them on the server I have two seperatly configurable claims providers. Seems to work fine.
But as I based my providers on your Developers sample, it seems that the current version of the ldapcp.dll from October

[2020-02-13 16:23] Yvand commented on #110
Hi @swinks, indeed, I probably forgot that, thank you for letting me know.
I will check this soon and keep you posted

[2020-02-14 09:05] Yvand commented on #110
Hi @swinks, you were right, I forgot to update the .aspx/.ascx files.
I just replaced LDAPCP.Developers.zip and you can download it [here](https://github.com/Yvand/LDAPCP/releases/download/14.1.20191007.981/LDAPCP.Developers.zip).

Note: to fix your custom project, you can simply copy the 4 .aspx/.ascx files (in folder ADMIN\LDAPCP_Custom) to your custom project and redeploy it.

[2020-03-05 03:22] gjmjack opened #111 "High CPU utilization in LDAPCP module."
Recently we launched a new application in our SharePoint 2016 platform with ADFS and LDAPCP installed.
However on the first day we got a very high CPU (83% and above) utilization. After working with MS, they figure out that the application was stuck at the LDAPCP module. And below is the call stack from dump file.
00 ntdll!ZwWaitForMultipleObjects
01 KERNELBASE!WaitForMultipleObjectsEx
02 clr!Wait

[2020-03-05 10:05] Yvand commented on #111
@gjmjack the callstack shows that LDAPCP is waiting to enter a critical section, so this thread actually hangs, it's not consuming any CPU resources.
The good question would rather be why this thread is waiting. I assume that there is another LDAPCP thread which blocks this section, did you find it?
How did you fix the high CPU issue?

[2020-03-05 10:38] gjmjack commented on #111
hi Yvand,
This issue hasn't fixed yet. We roll back the go-live.
Actually this result is come from Microsoft support.

[2020-03-05 14:28] Yvand commented on #111
There is no known issue in LDAPCP that can explain either a hang or a 100% CPU.
The only hang I know about is [this one](https://github.com/Yvand/LDAPCP/issues/99) that I introduced in v14 and fixed quickly in v14.1.
I work at Microsoft Support, so you may suggest to the engineer who owns the case that he may contact me if needed.

[2020-03-06 15:16] themp3master opened #112 "Multiple Entries Found Cannot Add Certain User Objects"
[LDAPCP] Validation failed: found 2 entities instead of 1 for incoming claim with value 'test_user'

This triggers an exception in SharePoint stating that the username does not exist or is not unique.

It appears that my LDAPCP solutions is finding multiple entities on any site we create.

These user objects are not present on the existing site at all.

Any idea what might be causing this issue?

[2020-04-15 21:21] jokersplusone opened #113 "Forms Based Authentication"
I'm new to ldapcp and sharepoint 2019 and trying to solve the following.
Use LDAPCP to authenticate via the built in FBA ?
If so can someone help me out with some pointers or an example config

I've read through several write ups on on how to use ldap with FBA,. so i'm :"assuming" i just need to provide the correct values for "ASP.NET Membership provider name" and  "ASP.NET Role manager name"

tha

[2020-04-16 09:27] Yvand commented on #113
LDAPCP cannot be used with Forms Based Authentication, it can be used only with federated authentication, which is completely different.

[2020-04-16 09:27] #113 closed

[2020-04-20 08:34] ricorocca opened #114 "AD Group MemberShip (Augmentation) with EmployeeID Attribute"
Hello,

We use Shibboleth (SAML where user identify), adfs for claims and SharePoint 2016.
The claim user identity received in SharePoint is :  **i:0ǵ.t|custom-adfs|EmployeeID(Corresponding to AD User attribute)**
We can add/share user in SharePoint via LDAPC (Mapping to EmployeeID to AD).

But, AD security group augmentation not working with EmployeeID attribute, we can see in the SharPoint's log

[2020-04-20 14:32] Yvand commented on #114
Hello,
Did you enable and configure augmentation in LDAPCP global configuration page (in central administration)?
Can you check the SharePoint logs while a user sign-in and filter on Product/Area "LDAPCP"?

[2020-04-20 14:53] HubertChomette opened #115 "Strange Behaviour with ADFS/LDAPCP"
Hi,
We have an Sharepoint 2019 farm on premise. Our main  Webapplication  use ADFS  authentification ( just Windows on Default Zone,  just ADFS on main zone).
We  use ldapcp for people picker and to provide augmentation too.
We have an issue  on email notification.
If I share an object to 3 persons,  email are sent randomly. For example, 2 persons could have a notification, or 3. There is no logic

[2020-04-20 15:16] Yvand commented on #115
It can. There are 2 scenarios:
- User is added for the 1st time to the site collection: email used to send invitation is determined by LDAPCP.
- User already exists in the site collection (in UserInfo list): email used to send invitation is determined by his local profile, synchronized by the User Profile Application.

To determine the guilty component, I suggest you try to repro in a new test sit

[2020-04-20 15:22] HubertChomette commented on #115
Thank’s a lot for this. I will try.
And thank’s a lot for this product.

[2020-04-20 16:06] ricorocca commented on #114
Dear Yvan,

Augmentation is enable and works if my identifierclaim is emailaddress (during SPTrustedIdentityTokenIssuer creation).

**But, for EmployeeID:**

- Main "User" mapping WindowsAccountName (http://schemas.microsoft.com/ws/2008/06/identity/claims/windowsaccountname) and LDAP attribute to query: employeeID.

- Main "Group" mapping http://schemas.microsoft.com/ws/2008/06/identity/claims/rol

[2020-04-21 07:57] Yvand commented on #114
Ok, to understand what goes wrong, we need to look deeper at the logs:
Between those 2 messages:

[code]

You should find the following SPMonitoredScope messages (they are verbose messages recorded in product/area "SharePoint Foundation" and category "Monitoring"):

[code]

Can you copy them?

[2020-04-21 07:58] Yvand commented on #112
Hello, sorry for the so big delay, somehow I missed this issue
When you repro, can you check the SharePoint logs and filter on Product/Area "LDAPCP"?
It will show the users it returned.

[2020-04-21 10:06] ricorocca commented on #114
Dear Yvan,

You will find all the logs from "C:\Program Files\Common Files\microsoft shared\Web Server Extensions\16\LOGS" during the session with sensitive data change:
[LogsYvanD.txt](https://github.com/Yvand/LDAPCP/files/4509188/LogsYvanD.txt)

But i didn't find the exact logs requested. Maybe i have to increase verbosity, how can i do?

Thank you again for your help and product

[2020-04-21 12:45] Yvand commented on #114
Category "Monitoring" should be in verbose and product/area "LDAPCP" in verboseEx.

[2020-04-21 13:23] ricorocca commented on #114
Please, get logs below:

[LogsYvanD_2.txt](https://github.com/Yvand/LDAPCP/files/4510173/LogsYvanD_2.txt)

During my different test, if a test with:

Main "User" mapping WindowsAccountName (http://schemas.microsoft.com/ws/2008/06/identity/claims/windowsaccountname) and LDAP attribute to query: **samaccountName** ---> **OK**
(Attibute value receive by OID 1 Shibboleth, corresponding to samaccountna

[2020-04-22 08:10] Yvand commented on #114
With current configuration, LDAPCP calls [UserPrincipal.FindByIdentity()](https://docs.microsoft.com/en-us/dotnet/api/system.directoryservices.accountmanagement.userprincipal.findbyidentity?view=netframework-4.8) to get the identity of the user but it doesn't find it, probably because it doesn't query the employee id attribute.

Instead, in LDAPCP global configuration page > augmentation section:

[2020-04-22 09:24] ricorocca commented on #114
Dear Yvan,

That's work if a uncheck the option "Use .NET helper (for Active Directory only)".

`LDAPCP] Got 22 group(s) for user "USER123456" in 439 ms from LDAP server "LDAP://domain.local:389" with LDAP filter "(&(ObjectClass=user) (employeeID=USER123456)(!(objectClass=computer)))" (authenticate as "domain.local\userserviceldapcp" with AuthenticationType "None").`

But i have to deal with neste

[2020-04-22 09:51] #114 closed

[2020-04-22 12:38] HubertChomette commented on #115
Hi,
The issue was on the User Profile Application. We reconfigure synchronisation and email notifcation seem's to work.
AS a consequence, we have got a new issue.
 - User name seem's to have change. As a consequence, access based on group on site collection are broken. In a new Site collection, it's ok. How do we force sync or reset group on site collection?
Another question, why do a mail notific

[2020-04-24 15:28] robal1968 opened #116 "SharePoint 2019 - Error Deployng LDAPCP Solution"
I'm trying to deploy the latest LDACP relaese on a new SharePoint 2019 Farm, with two Application servers and two front end servers.
I get always this error:
[machinename]: An update conflict has occurred, and you must re-try this action. The object SPClaimEncodingManager Name=ClaimEncodingManager was updated by [user], in the powershell_ise (12212) process, on machine [machinename].  View the tra

[2020-05-03 19:59] markkjacobs opened #117 "SharePoint 2013 - Added Servers To Farm - whole solution stopped working."
Yvan,
Unbeknownst to me, our SP 2013 Farm has your solution installed (ldapcp).  I added 6 new server to the farm and for some reason your solution stopped working anywhere.  Would appreciate any help.  Yes, have looked at ldapcp.com and github.  This is a bit urgent.  Thanks in advance,  Mark

[2020-05-04 07:02] Yvand commented on #117
@markkjacobs the first thing to check is the LDAPCP logs: can you filter SharePoint logs on Product/Area "LDAPCP" and check if there are errors?

[2020-05-04 11:56] markkjacobs commented on #117
@Yvand Thanks for helping.  I am having my admin take a look right now.
We extracted ldapcp.dll from our current install and added to GAC on Servers but that did not clear up these errors.  We have engaged MS Services also, but that is not going anywhere yet.

As soon as I get more error info, will attach.

![ldapcp error](https://user-images.githubusercontent.com/20458916/80963200-14d04c80-8dd4-1

[2020-05-04 13:51] markkjacobs commented on #117
I was having filtering issues, so grabbed a whole dump..let me know if not enough info?
[logdump084am05042020.zip](https://github.com/Yvand/LDAPCP/files/4575023/logdump084am05042020.zip)

[2020-05-04 13:53] markkjacobs commented on #117
![ldapacp05032020](https://user-images.githubusercontent.com/20458916/80973255-c24b5c00-8de4-11ea-820b-d9ae73ca40ce.png)

[2020-05-04 15:54] markkjacobs commented on #117
![image](https://user-images.githubusercontent.com/20458916/80986045-a13f3700-8df5-11ea-9864-0deecaa92aed.png)
current look.

[2020-05-04 16:07] Yvand commented on #117
On the servers where the error is thrown, is ldapcp.dll actually present in the GAC, and with the expected version?
If not, you can add it manually using the [PowerShell script here](https://ldapcp.com/Install-LDAPCP.html)

[2020-05-04 16:25] markkjacobs commented on #117
We added it to the GAC.  We have stopped being unable to log in to the site on the servers, but the WSP report still looks like the above grab.

[2020-05-04 16:41] Yvand commented on #117
Yes the timer job failed and the status won't update unless you try to redeploy the solution, but you shouldn't do it: if the assembly is in the GAC, nothing else is needed (I assume the features were deployed successfully).
Did it happen when you updated or installed LDAPCP?

[2020-05-04 16:42] Yvand commented on #116
Sorry for the delay. It's very likely that it occurred because you executed those commands on a PowerShell process that was opened a long time ago.
Did you fix the issue?

[2020-05-04 17:00] markkjacobs commented on #117
See at the bottom 5 of the 6 new servers say "successfully deployed" though above the dll error persists and the dll has been added to the GAC on each server.

[2020-05-05 09:45] Yvand commented on #117
Understood, then there is nothing else to do and the error can be safely ignored, since the DLL was added manually

[2020-05-05 16:42] robal1968 commented on #116
Yes, thanks. Was exactly that issue.

Regards,
Roberto

Il giorno lun 4 mag 2020 alle ore 18:42 Yvan Duhamel <
notifications@github.com> ha scritto:

[2020-05-08 06:28] pressplej opened #118 "SharePoint 2016 - multiple entries"
I get multiple entries of the same user in People Picker.
When I hover: I can see that one is from DisplayName and one is from mail. Both coming from ADFS

[2020-05-12 08:45] Yvand commented on #118
It probably returns a result per claim type mapping configured in LDAPCP. You can update/remove this mapping in central admin > security > LDAPCP claim type mappings

[2020-05-12 09:05] pressplej commented on #118
OK. But the claim types should match those set in SPTrustedIdentityTokenIssuer

[2020-05-12 09:11] Yvand commented on #118
Absolutely, in the claims mapping page, the claim types in green do match those set in SPTrustedIdentityTokenIssuer

[2020-05-12 09:37] pressplej commented on #118
Ok, but what should i remove?

[2020-05-12 09:59] Yvand commented on #118
You can remove the claim types you don't want to see in the people picker.
There is no best practice, it entirely depends on your requirements. The only one to always keep is the identity claim type, which is why LDAPCP won't let you remove it

[2020-05-12 12:21] markkjacobs commented on #117
@Yvand
Here's where I stand:

Success:
SVPEXTSPIEFE1 : The solution was successfully deployed.
SVPEXTSPIEFE3 : The solution was successfully deployed.
SV**R**EXTSPIEFE1 : The solution was successfully deployed.
SVPEXTSPIEFE2 : The solution was successfully deployed.
SVPEXTSPIEAPP2 : The solution was successfully deployed.
SVPEXTSPIEAPP1 : The solution was successfully deployed.
SVPEXTSPIEAPP3 : Th

[2020-05-12 15:32] Yvand commented on #117
@markkjacobs - what do you see in SharePoint logs when you try to generate a SAML token using the PowerShell script?
You establish a correlation between the error in the solution deployment page and this issue, but I tend to think that the former is a false positive. Indeed, LDAPCP.dll is clearly correctly added to the GAC since you did it and double checked it

[2020-05-12 15:51] markkjacobs commented on #117
I'll have to check logs.  I know the DLL is on all servers except SQL.
Just troubleshooting as best I can.

[2020-05-12 16:02] markkjacobs commented on #117
from new server
![image](https://user-images.githubusercontent.com/20458916/81716911-8b59f380-943f-11ea-99fc-17d6461e9de1.png)

from server before add
![image](https://user-images.githubusercontent.com/20458916/81717033-b2182a00-943f-11ea-84d5-f29123a031a9.png)

[2020-05-12 16:40] markkjacobs commented on #117
@Yvand
OK.  Still says error, even though it also says this now
![image](https://user-images.githubusercontent.com/20458916/81721352-5d77ad80-9445-11ea-91af-ce927e40d8a4.png)

[2020-05-12 19:11] Yvand commented on #117
Instead of filtering on area LDAPCP, can you filter the SharePoint logs on process PowerShell when you run the PowerShell script?

[2020-05-20 14:00] markkjacobs commented on #117
@Yvand
Finally here after a force redeploy.  I think you can close this as an issue now.  Thank you for your help and responsiveness.

![image](https://user-images.githubusercontent.com/20458916/82455281-633e4600-9a78-11ea-8fdc-ef2041b6dc77.png)

[2020-05-20 14:00] #117 closed

[2020-05-26 06:58] HubertChomette opened #119 "Sharepoint 2019 - LDACP strange behaviour with groups"
Hi,
We have a strange behaviour with groups (from augmentation).

Users comes from ADFS and claims provide groups membership (marked as role).
Groups comes from ldapcp which populate this group with role claims.

If I allow a "role group" to modify a document, it works. All users can access and modify. Permission seem's to be ok.

If I purpose to coediting the document with Office online, it fails

[2020-05-26 14:48] Yvand commented on #119
Did you enable and configure augmentation in LDAPCP global configuration page?

[2020-05-26 14:53] HubertChomette commented on #119
yes augmentation is enable with 'role'.
Use .NET helper is checked
LDAPCP 14.1.20191007.981

[2020-05-28 08:36] Yvand commented on #119
Can you enable LDAPCP logs in verbose:

[code]

Then you can follow section "Troubleshoot augmentation" in https://ldapcp.com/Troubleshoot-LDAPCP.html to collect data

[2020-06-02 07:00] HubertChomette commented on #119
Ok, I will try.
I make a test to understand.
First step:
I have an AD group with two users.
On a SP using standard auth (AD), If I share the site directly to the group, it works for both users.
On this SP using adfs/ldacp, If I share the site directly to the group, it doesn't work.
On my configuration, should I make the same type of synchronisation (user profile, sync) with groups?

[2020-06-02 07:47] HubertChomette commented on #119
Here is a capture of the mapping configuration
<img width="1525" alt="Capture d’écran 2020-06-02 à 09 45 51" src="https://user-images.githubusercontent.com/11505100/83494009-ebc7d800-a4b5-11ea-9060-d3db28bf69b0.png">

[2020-06-02 09:37] HubertChomette commented on #119
I try to enable debug

First type of error:

06/01/2020 12:09:24.07 	w3wp.exe (MYSERVER-WEB:0x1EE8)          	0x1330	LDAPCP                        	Augmentation                  	1337	Unexpected	[LDAPCP] Unexpected error occurred while getting AD groups of user "eric.martin@mydomain.fr" using UserPrincipal.GetAuthorizationGroups() from AD domain "ad.mydomain.fr" (authenticate as "process identity"

[2020-06-02 09:40] HubertChomette commented on #119
Second Type of error:

06/02/2020 10:06:36.69 	w3wp.exe (MYSERVER-WEB:0x0FA0)          	0x1E14	LDAPCP                        	Core                          	1337	Medium	[LDAPCP] Configuration 'LdapcpConfig' version 2581935 was found, but local copy is not fully initialized. Refreshing local copy...	e363589f-e1c6-b0f3-e054-3d7cc7b01a97

06/02/2020 10:06:36.69 	w3wp.exe (MYSERVER-WEB:0x0FA0)

[2020-06-02 11:47] HubertChomette commented on #119
Ok I modify configuration and remove default AD and add a new ldap query

Here is the log
Connecting to "LDAP://ad.mydomain.fr" with AuthenticationType "None", authenticating with credentials "cn=services,People,dc=ad,dc=mydomain,dc=fr" and sending a query with filter "(| (&(objectclass=group)(sAMAccountName=test debug)) )"...	fa6f589f-f150-b0f3-e054-373849cc500c
06/02/2020 13:38:12.70 	w3wp.exe (

[2020-06-02 12:58] Yvand commented on #119
The error message "This is likely due to a bug in .NET framework in UserPrincipal.GetAuthorizationGroups..." may be the correct explanation: On the servers where you get this error, what is the version of "C:\Windows\Microsoft.NET\Framework64\v4.0.30319\clr.dll"?

In the last comment I guess you unchecked the box "Use .NET helper". In the logs you see the exact value of the claims generated for th

[2020-06-02 13:54] HubertChomette commented on #119
version 4.7.3620.0

For the last comment I suspect that user running ldacp doesn't have access to the attribute on the directory. So I add a new directory access (define as ldap even if it's an active directory, which can permit the right account to use and byse this .NET
But my user still hasn't access to my site test (authorization are done on a AD group).

[2020-06-05 14:28] salagula opened #120 "Add another user identifier property"
I would like to add another (additional) LDAP class to users:

![grafik](https://user-images.githubusercontent.com/65948353/83887765-2f864000-a749-11ea-94d1-4b442c73692f.png)

How can I add it (in my case myperson) to have finally 'user' and 'myperson' in parallel active? If I do it with PS1 or UI I simply get: .../emailaddress already exists in the collection

![grafik](https://user-images.github

[2020-06-08 15:46] khalilG opened #121 "ldapcp, ADFS and Office Online Server"
Hi @Yvand ,

I need your point of view for my case.

We have the following infrastructure and configuration :
- SharePoint 2016 servers
- ADFS server for SSO : ( a custom Trusted Identity Token Issuer )
- Office Online Server

What we did :
- Create a new web app that have another trusted identity token issuer that has LDAPCP as claimprovider
- Configure the new web app with the new trusted identi

[2020-06-08 15:51] Yvand commented on #119
The output from the logs suggests that it worked fine. Can you:
- Copy the output of the logs where a group is successfully added to the user token
- Copy the corresponding group permission, which should look like "c:0-.t|contoso.local|contoso.local\administrators"
Comparing the 2 should help to understand the issue

[2020-06-08 15:52] Yvand commented on #120
The object you are adding is not a LDAP class, it's a new claim type mapping, which is basically a row that you can visualize in the table in central admin > security > LDAPCP claims mapping page.

The error is thrown because claim type emailaddress is already present in that list

[2020-06-08 15:55] Yvand commented on #121
@khalilG indeed, you should not use this approach to force the login mode, it has side effects like the one you noticed.
Instead, you should add a custom login page to bypasse the default one and force users to use the authN mode of your choice. You can take a look at https://github.com/Yvand/SPBypassLoginPage, which deploys such page

[2020-06-08 16:19] salagula commented on #120
hmm, are you sure? It is a custom LDAP server and if I change the class to "myperson" I get results:

![grafik](https://user-images.githubusercontent.com/65948353/84054516-ce15d980-a9b3-11ea-916d-54761a277e83.png)

but if I change it to * (wildcard) I get no results anymore

![grafik](https://user-images.githubusercontent.com/65948353/84054873-4c727b80-a9b4-11ea-81c3-61069e711b60.png)

Issue is so

[2020-06-08 16:43] salagula commented on #121
If you just enable the "Trusted identity provider" as seen in your screenshot you can select the "default sign in page". Or do you need to support additionally Forms / Windows-integrated authentication on the same web application? We normally use: web app only with SAML + a extended web app with Windows-integrated (e.g. for search crawling)

[2020-06-08 16:51] HubertChomette commented on #119
Sorry I don t post the end.
My first issue was with .NET fixed with a standard ldap connexion instead of active directory link.
the second one was with the account which wasn t allowed to read member of on our active directory.
All is ok now.
thanks a lot for your help

--
Hubert

[2020-06-09 08:51] Yvand commented on #120
The object in the PowerShell screenshot was a claim type mapping, but the screenshot of the LDAP class was really the LDAP class, hence the confusion.
Anyway, great that you fixed your issue!

[2020-06-09 08:52] #119 closed

[2020-06-09 09:25] Yvand commented on #106
Closing issue due to no response, feel free to reopen it if needed

[2020-06-09 09:25] #106 closed

[2020-06-09 09:25] Yvand commented on #107
Closing issue due to no response, feel free to reopen it if needed

[2020-06-09 09:25] #107 closed

[2020-06-09 09:25] #110 closed

[2020-06-09 09:25] #111 closed

[2020-06-09 09:26] Yvand commented on #112
Closing issue due to no response, feel free to reopen it if needed

[2020-06-09 09:26] #112 closed

[2020-06-09 09:27] Yvand commented on #115
@HubertChomette If the new issue is still present, can you please open a new issue for it?

[2020-06-09 09:27] #115 closed

[2020-06-09 09:27] #116 closed

[2020-06-09 09:27] Yvand commented on #118
Closing issue due to no response, feel free to reopen it if needed

[2020-06-09 09:27] #118 closed

[2020-06-09 11:10] salagula commented on #120
no - sorry ... the issue is not solved :-)
I wanted to says:

The issue is solved once I get values back with the 'user' & 'myperson' class ...

[2020-06-14 11:57] salagula commented on #120
As said: I have 3 LDAP repos where the ˋuser ´ class is used, now we want to add the fourth one and (unfortunately) this one is not using the user class at all - a custom one is used and this is called ´mypersonˋ. Good would be to get results from both classes, means user and myperson at the same time (upfront I have tested with the single classes and get results from all wished LDAPs). A star (*)

[2020-06-15 07:31] Yvand commented on #120
I understand now. Unfortunately, you cannot do this, the LDAP class of a given LDAP property is global to all LDAP connections

[2020-06-15 08:35] kalervojankko commented on #90
Don't if this is fixed already or am I doing something differently, but I can add SAML users as term store administrators from central admin.

[2020-06-15 13:41] Yvand commented on #90
@kalervojankko what version of SharePoint / LDAPCP are you using?

[2020-06-15 14:50] ktodd1 opened #122 "Custom Solution Inheriting LDAPCP not being recognized in Central Admin SharePoint 2019"
We have a custom solution inheriting LDACP that works correctly in SharePoint 2013. When deploying to SharePoint 2019, the solution appears to install and deploy correctly and can associate with Trusted Provider in Powershell. However, when going to Central Admin, it shows only LDAPCP being registered, missing our custom extension. It also states that LDAPCP is not associated with a trusted provid

[2020-06-15 16:13] kalervojankko commented on #90
SharePoint: 16.0.4822.1000 (March 2019 CU)
LDAPCP: 14.1.20191007.981 (Latest stable version)

[2020-06-16 19:19] larkoize opened #123 "UserAccountDirectoryPath is ignored?"
Hi Yvand!
I need users only from a specific OU for a site collection and OU varies between site collections. It seems that LDAPCP is ignoring an SPSite's _UserAccountDirectoryPath_ property. Is this true? If yes, is there any other way to set a specific OU for site collection. I'm using LDAPCP 14.1.20191007.981 and SharePoint 2019.

Set-SPSite -Identity http://portal.contoso.com/sites/US -UserAcco

[2020-06-17 09:00] khalilG commented on #121
@salagula : Thanks for the reply, I'm testing this solution now and try to validate that there are no side effects.

[2020-06-17 09:02] Yvand commented on #122
@ktodd1 is the corresponding farm feature for your custom claims provider activated?
Is the custom claims provider returned when you run `Get-SPClaimProvider`?

[2020-06-17 09:06] Yvand commented on #123
@larkoize you are correct, LDAPCP does not rely on property UserAccountDirectoryPath.
Due to limitations of SharePoint API, LDAPCP has no reliable way to determine the current site collection fore sure in all scenarios, so unfortunately, there is no solution for your issue...

[2020-06-17 15:29] salagula commented on #120
okay, I tried to configure now:

![image](https://user-images.githubusercontent.com/65948353/84917517-b9c29280-b0bf-11ea-88f4-68af2ea53109.png)

... if I look into my ULs logs and the corresponding LDAP query this looks fine - BUT: from the 23 results 4 are removed (and mine is in the 4):

![image](https://user-images.githubusercontent.com/65948353/84917699-f3939900-b0bf-11ea-94f8-523528c2a174.png

[2020-06-17 17:37] ktodd1 commented on #122
@Yvand Yes it shows as activated and is returned. I can associate it with the trusted provider, but in Central Admin it is looking for LDAPCP to associated and not our custom extension. See screen shots please. Thanks!
![image](https://user-images.githubusercontent.com/8646873/84930315-ece83000-b085-11ea-823d-e322a7028e03.png)
![image](https://user-images.githubusercontent.com/8646873/84930393-0c7

[2020-06-18 14:35] Yvand commented on #90
@kalervojankko indeed, I just tested that we can add them, but it's not really useful since you cannot sign-in to central admin with those accounts

[2020-06-18 14:39] Yvand commented on #120
@salagula all the filtering of accounts is done in method [LDAPCP.ProcessLdapResults()](https://github.com/Yvand/LDAPCP/blob/b598963da8b7652193e3c2905b5d0da3cdcdf246/LDAPCP/LDAPCP.cs#L720), and there are many reasons why a result may be removed.
In your case, I think it is because of [this test,](https://github.com/Yvand/LDAPCP/blob/b598963da8b7652193e3c2905b5d0da3cdcdf246/LDAPCP/LDAPCP.cs#L767),

[2020-06-18 14:47] Yvand commented on #122
As shown in [LDAPCP.Developers](https://github.com/Yvand/LDAPCP/releases/download/14.1.20191007.981/LDAPCP.Developers.zip), the LDAPCP administration pages must contain the information about the custom claims provider.
For example, in LdapcpSettings.aspx:

[code]

Do they have this information in your environment?

[2020-06-18 15:35] khalilG commented on #121
Hi @Yvand ,
We've decided to install your custom solution. Everything seemed to be working fine and we had no issue with Office Online Server. However, after setting up the custom sign in page to "/_login/Bypass/BypassLogin.aspx" and configuring the "CustomBypassLogin" farm property (as descried at [https://github.com/Yvand/SPBypassLoginPage](https://github.com/Yvand/SPBypassLoginPage) , search cr

[2020-06-18 22:54] JGregoryAtiba commented on #92
@desmondkung  I'm having this problem, too, but the order doesn't seem to matter.  I've removed my trusted identity token issuer, uninstalled / re-installed LDAPCP, but still there is no "LDAPCP" claim provider.  I've rebooted the server and everything.  What else can I try?

[code]

[2020-06-18 23:09] JGregoryAtiba commented on #92
Nevermind; I tried it again, no trusted identity issuer, totally uninstall LDAPCP, removed all GAC assemblies, and restarted the server before anything else.  This time, I installed LDAPCP first thing, and it worked.

[2020-06-18 23:28] desmondkung commented on #92
the trusty "turn if off and turn it on again" https://www.youtube.com/watch?v=t2F1rFmyQmY

[2020-06-19 06:02] salagula commented on #120
okay, many thanks. My understanding would be: it can be solved if the LDAP filter is extended to include an "OR". Am I right? Maybe it is also interesting for other folks. ...
e.g. (|(objectclass=user)(objectclass=myperson)). Any plan to add such a extention to support more than one class?

[2020-06-22 07:48] Yvand commented on #121
@khalilG this custom page should have no effect at all on the search crawler access.
Can you confirm that crawler starts working immediately after you revert to default page?

[2020-06-22 07:49] Yvand commented on #90
@kalervojankko understood, thanks for contributing!

[2020-06-22 07:53] Yvand commented on #120
@salagula it's not that simple because by design, LDAPCP sends the same query to all LDAP servers.
To support your scenario, it will be necessary to change this design to have a different query for each LDAP server. Honestly, I think it's a huge work for a very rare scenario, and it would also add complexity to the overall design that would make it more difficult to maintain.
With that said, one p

[2020-06-22 21:01] ktodd1 commented on #122
@Yvand that was the issue! The value for ClaimsProviderName was incorrect. Thanks!

[2020-06-22 21:01] #122 closed

[2020-06-26 04:23] NaveenAhuja-PD commented on #50
Hello All, I am facing the same issue in SharePoint 2019 farm. Can you please advise. I have tried the below but none of them worked:

1. Recycle the security token service pool
2. Clearing SharePoint config cache
3. IISRESET
4. http://localhost:32843/SecurityTokenServiceApplication/securitytoken.svc  URL can be browsed, shows a WCF page.
5. Claim provider is set to LDAPCP
6. Augmentation set to f

[2020-06-30 12:46] Yvand commented on #50
@NaveenAhuja-PD can you filter the SharePoint logs on the SharePoint STS?
They should explain what is wrong

[2020-06-30 17:41] arzusah opened #124 "Connect to other domain"
Hi there,
I have the following setup:
A SharePoint 2019 farm with a colab-portal and a mysite-portal.
It has two User Profile Service connections setup. Both uses Trusted Identity Claim Provider to sync users from different domain.
Lets call them:
- SharePoint.local
- External.com

After installing LDAPCP I get results from sharepoint.local domain which the SharePoint servers are connected to.
I t

[2020-07-01 07:47] Yvand commented on #124
Hi @arzusah
- User Profile service does not play any role in the user authorization flow. You can actually remove it and it will not change anything to the way you grant permissions.
- By default, LDAPCP queries the AD the SharePoint server belongs to, but this can be customized in central admin > security > LDAPCP global config page. From here you can define a new LDAP connection and restrict its

[2020-07-01 11:09] arzusah commented on #124
Thanks for the reply!

So if I understand you correctly, peopleplicker will only resolve users from one domain when using ldapcp?
If thats the case, I will only be able to invite users from one of the two domains :/

Can you guide me to how I can filter to a specific OU?

[2020-07-01 14:38] Yvand commented on #124
No, you can add as many LDAP domains as you need in LDAPCP.
To filter to a specific OU, you just need to include the OU to the path, for example: `LDAP://XXXX.YYY/OU=Users,DC=XXXX,DC=YYY`

[2020-07-01 20:25] arzusah commented on #124
aaah sweet, thanks :) I will try it out.

Something seems to be missing tho. None of the users in external.com domain is searchable in peopleplicker.
There is no trust between the domains. I have only opened port 389 and 636 between the SharePoint servers and the external domain controllers. "Test LDAP connection" works fine. Could there be other ports involved here, or have I configured ldapcp wr

[2020-07-02 07:17] Yvand commented on #124
LDAPCP records all its activity in SharePoint logs and looking at them will probably give you a lot of insight about what is going on.
Filter the logs on product/area "LDAPCP" and let me know if it helps.

[2020-07-03 08:20] NaveenAhuja-PD commented on #50
@Yvand , Sorry, I missed your response.
I tried to filter out but did not get any process that seemed relevant to STS. Can you let me know if there is any special keyword with which i should filter?

I tried to search with my sts URL and got some success logs only like:
__The audience uri matches a trusted login provider provider realm. AudienceUri:urn:sharepoint:name
The absolute uri validation s

[2020-07-03 15:24] Yvand commented on #50
The certificate validation timeout is very likely the cause of the issue in the SharePoint STS process.
To identify the SharePoint STS process, run this command as administrator:
`cmd /r %systemroot%\system32\inetsrv\appcmd list wp`

[2020-07-06 10:37] NaveenAhuja-PD commented on #50
@Yvand , thanks a lot for your responses. Appreciate it. The timeout issue got fixed by allowing crl.microsoft.com site in firewall. The servers do not have access to internet.

[2020-07-08 12:51] khalilG opened #125 "LDAPS path not working"
Hi Yvan,
This is more a question than an issue.
We are trying to connect LDAPCP a remote AD that's not on the same domain as SharePoint.
We're using the LDAPS protocol.

We've tried the possible combination, none of them worked. The combinations are as follows :
- LDAP**S**://<remote_server_ip>
- LDAP**S**://<remote_server_ip>/DC=<domain1>,DC=<domain2>
- LDAP**S**://<remote_server_ip>**:636**
- LD

[2020-07-09 06:50] Yvand commented on #125
It's a good question, I don't think I ever formally tested it but I think it should work:
LDAPCP fully relies on .NET DirectoryServices API to connect to the LDAP server, which I hope supports LDAPS

[2020-07-09 07:33] khalilG commented on #125
Thank you @Yvand for your answer. I'll let you know if it worked for us or not.

[2020-07-15 13:39] arzusah commented on #124
Hello Yvand!
I had a look in the logs and discovered the following error:

[LDAPCP] Unexpected error occurred while connecting to LDAP server LDAP://company.com/OU=users,DC=company,DC=com: System.Runtime.InteropServices.COMException: The server is not operational.  , Callstack:
 at System.DirectoryServices.DirectoryEntry.Bind(Boolean throwIfFail)
 at System.DirectoryServices.DirectoryEntry.Bind()