[2020-07-15 13:40] #124 closed

[2020-07-22 14:19] khalilG commented on #125
Hi @Yvand .

We've tried everything (at least I hope) and LDAPCP seems to be incompatible with LDAPS.
Can you or someone else try to test the LDAPS protocol with LDAPCP ? This may be related to our infrastructure.

Thank you in advance.

[2020-07-23 07:39] Yvand commented on #125
hi @khalilG, I trust your tests are correct, so indeed it seems that LDAPCP doesn't work with LDAPS.
LDAPCP relies entirely on .NET DirectoryServices API, so the limitation is probably on this API.
[This page](https://ldapcp.com/Troubleshoot-LDAPCP.html) is a PowerShell version of what LDAPCP does. If you can get LDAPS to work with PowerShell, I may do the necessary changes in LDAPCP.

[2020-07-23 07:47] khalilG commented on #125
Hu @Yvand , thank you for the reply. I'll try with the PowerShell version of LDAPCP and let you know if it worked or not.

[2020-08-05 09:36] arzusah opened #126 "Question: Role claim configuration"
Dear Ywan,
I reach out to you once again for your input.
Building on the scenario I described in #124

The SharePoint farm and external users are in Domain 1
The internal users are in Domain 2

I want to give read access for all internal users in Domain 2 by adding a Role Claim to the SharePoint visitors-group.
If user have role-claim "R-App-SharePoint" then grant permission.

ADFS is currently co

[2020-08-05 12:09] Yvand commented on #126
Hi @arzusah, can you check the SharePoint logs and filter on Product/Area “LDAPCP" while you reproduce the issue?
It will show you what goes wrong in LDAPCP

[2020-08-06 08:00] arzusah commented on #126
I get two entries when reproducing

Leaving Monitored Scope: ([LDAPCP] Connecting to "LDAP://domain2.com/OU=employees=domain2,DC=domain2,DC=com" with AuthenticationType "Secure, Signing, Sealing", authenticating with credentials "sa-sp-sync" and sending a query with filter "(&(!(userAccountControl:1.2.840.113556.1.4.803:=2))(| (&(objectclass=user)(mail=R-App-Sha*)) (&(objectclass=group)(sAMAccount

[2020-08-06 08:38] arzusah commented on #126
Without LDAPCP installed I get all the claims in peoplepicker that is forwarded from ADFS. UPN, Email and Role claims.
The Peoplepicker now only seems to be searching for objects in AD?

As described earlier, ADFS rule basically says:
"IF you belong to group R-App-SharePoint THEN send string "R-App-SharePoint" as roleclaim

Do you have any idea how I can add that roleclaim to a SharePoint group?
T

[2020-08-06 08:43] Yvand commented on #126
@arzusah you're not viewing the messages you should, I'm not sure if you did a mistake with the filtering or if logs are decativated.
Just in case, can you run this command and check the logs again:
`"LDAPCP:*"| Set-SPLogLevel -TraceSeverity Verbose`

You should see messages that look like the ones [in this page](https://ldapcp.com/Troubleshoot-LDAPCP.html)

[2020-08-06 08:49] arzusah commented on #126
Tried logging out and in and got the logs now

[LDAPCP] User 'arzusah@domain2.com' was augmented with 16 groups

[2020-08-06 08:57] arzusah commented on #126
Here are the complete logs

`08/06/2020 10:53:02.25	w3wp.exe (0x19BC)	0x1FC8	SharePoint Foundation	Monitoring	b4ly	High	Leaving Monitored Scope: ([LDAPCP] Get AD Principal of user arzusah@domain2.no from AD domain "domain2.local" (authenticate as "sa-sp-profile" with AuthenticationType "SimpleBind, Signing, Sealing").) Execution Time=15126.5866; CPU Milliseconds=3; SQL Query Count=0; Parent=[LDAPC

[2020-08-06 09:03] Yvand commented on #126
w3wp.exe (0x1888) doesn't show any LDAPCP logging message (and its the one we want to see), and this log shows that you didn't set the filter correctly: I thnk you set message contains LDAPCP instead of product/area contains LDAPCP.

Can you recycle this app pool and double check your filter?

[2020-08-06 09:32] arzusah commented on #126
Ok, here we go :)
Verbose logs when logging in to SharePoint filtered to "category" in ULSviewer

08/06/2020 11:24:13.94	w3wp.exe (0x1B60)	0x1B34	LDAPCP	Core	1337	Medium	[LDAPCP] Configuration 'LdapcpConfig' changed to version 1116225, refreshing local copy	29546d9f-5d39-0091-7d3d-2d5dc81a245d
08/06/2020 11:24:13.94	w3wp.exe (0x1B60)	0x1B34	LDAPCP	Core	1337	Verbose	[LDAPCP] Refreshing local copy o

[2020-08-06 09:40] arzusah commented on #126
And when searching for role claim:

[LDAPCP] Connecting to "LDAP://domain.local/OU=Employees=Domain,DC=domain,DC=local" with AuthenticationType "Secure, Signing, Sealing", authenticating with credentials "sa-sp-profile" and sending a query with filter "(&(!(userAccountControl:1.2.840.113556.1.4.803:=2))(| (&(objectclass=user)(mail=R-App-SharePoint*)) (&(objectclass=group)(sAMAccountName=R-App-Shar

[2020-08-06 12:42] #123 closed

[2020-08-06 12:42] #121 closed

[2020-08-06 12:42] #120 closed

[2020-08-07 07:48] Yvand commented on #126
So there is no error, but LDAP server took 15 seconds (this is huge) to respond, and returned no result.
I guess you expected some replies, so you can replay the LDAP query outside of SharePoint / LDAPCP to troubleshoot it using the script [in this page](https://ldapcp.com/Troubleshoot-LDAPCP.html).

[2020-08-07 09:39] arzusah commented on #126
Hello Yvand,
Yeah, 15 sec is very long... Not sure why it takes so long, but I'll have to look at it.

Regarding "I guess you expected some replies". Yes and no.
As I said earlier, I have only connected the OU with users. No groups should be searchable.
I do not want to add a AD group to the SharePoint group. I want to add a role claim with the same name as a SharePoint group.

According to the lo

[2020-08-07 11:50] arzusah commented on #126
Ok, so I have solved the problem by adding the role claim via PowerShell

`$web = Get-SPWeb "https://sharepoint.com"
$claim = New-SPClaimsPrincipal -TrustedIdentityTokenIssuer “ADFS” -ClaimValue “R-App-SharePoint" -ClaimType “http://schemas.microsoft.com/ws/2008/06/identity/claims/role“
$group = $web.Groups[“Visitors“]
$group.AddUser($claim.ToEncodedString(), “”, “R-App-SharePoint", “”)`

But I st

[2020-08-10 09:09] Yvand commented on #126
It's absolutely possible to search roles for this claim type in the people picker.
Do you see the claim type you added (http://schemas.microsoft.com/ws/2008/06/identity/claims/role) listed in central admin > Security > LDAPCP Claim types configuration page?

[2020-08-13 09:50] bfran00 opened #127 "PeoplePicker not showing ADFS identities"
Hey,
I configured a SP2019 Farm for ADFS. Without LDAPCP the peoplepicker will show the AD itentity, UPN, EMail and Role, which is expected.
So I wanted to get rid of some things and installed LDAPCP, like in other server farms.
But after the configuration with the PowerShell script, the peoplepicker will only show AD identities.
`$trust = Get-SPTrustedIdentityTokenIssuer "ADFS"
$trust.ClaimProvid

[2020-08-14 23:08] camel028 opened #128 "Extend PeoplePicker Information"
Hi @Yvand
I would like to extend a main claim (DisplayName) with an email underneath so I would like to get the results to be as follows after the search:

user_name
mail
user2_name
mail2
user3_name
mail3

So far I've achieved as below:
user_name
user2_name
user3_name
...

Is it possible to extend a main claim with some extra information within LDAPCP configuration?

Is it related to ShowClaimName

[2020-08-17 12:14] Yvand commented on #127
Can you check if the claim types in your SPTrustedIdentityTokenIssuer match the claim types configured by default by LDAPCP?
You can see them at central admin > security > LDAPCP Claim types configuration.
If they don't match you need to add them here

[2020-08-17 12:18] Yvand commented on #128
You can configure this in central admin > security > LDAPCP Claim types configuration page:
Basically, the 2nd line will show whatever is set with the "PickerEntity metadata" column set with the "Title" property

[2020-08-17 12:41] camel028 commented on #128
Hi,

Thanks for reply.

I have something as below:

![image](https://user-images.githubusercontent.com/3504518/90397082-9bfdb380-e097-11ea-8918-4ab1bbbfea8b.png)

and when I am trying to add JobTitle then I got the error:

![image](https://user-images.githubusercontent.com/3504518/90397025-86888980-e097-11ea-86ff-26912fb70129.png)

Could you please write how it should be configured correctly?
Many

[2020-08-17 13:18] Yvand commented on #128
You need to remove the last entry in green (that is bound to Email "PickerEntity metadata") before you can add this new one.

[2020-08-17 13:51] camel028 commented on #128
Now I have like this:
![image](https://user-images.githubusercontent.com/3504518/90403302-11ba4d00-e0a1-11ea-8ae0-c9a3751d076d.png)

Unfortunately it caused that I do not have mail text once the entry is highlighted (earlier was over 'Users' text) and still do not see mail in the search entry but names only.

![image](https://user-images.githubusercontent.com/3504518/90403537-6d84d600-e0a1-11ea-8f

[2020-08-17 14:51] Yvand commented on #128
hmm I think I know why it didn't work: there is a problem with the SharePoint enum type for the "PickerEntity metadata" values, and it selected "JobTitle" instead of "Title".
What you can try is reset the claim types configuration (at the bottom of the page) and to do the config through PowerShell (check [this page](https://yvand.github.io/AzureCP/Configure-AzureCP.html) for the details):
Instead

[2020-08-17 16:38] camel028 commented on #128
LDAPCP.wsp is deployed on sharepoint on-premise (SP 2016) so I assume AzureCP.wsp is sth different here?
So should I modify the existing configuration via PowerShell and try to set "Title" property instead of JobTitle?

[2020-08-18 06:45] camel028 commented on #128
Hi,
It's seems to be working fine now - I've changed "JobTitle" to "Title" via PowerShell.

One more question.
Is it possible to add "PickerEntity metadata" value equals to "DisplayName" for attributes as cn, sn, givenName?  cCurrently DisplayName is assigned to main identity as presented of the picture.
I want to show on the highlighted tooltip value like "camel028 user" and not "sn=camel028".

T

[2020-08-18 07:16] bfran00 commented on #127
Well, I found the issue and I was a bit stupid.
I forgot that our SharePoint Servers are in a different domain than our user accounts. After I added the LDAP connection in the global settings, it started working.

[2020-08-18 07:16] #127 closed

[2020-08-18 07:28] kalervojankko commented on #6
Hi,

I know this is an old post, but just wanted to know if this SID to string feature has been implemented in LDAPCP? =)

I'm currently in a situation where a new organization is moving to use our intranet and they are constantly renaming their AD Groups for various reasons and they have to remove those old AD groups from our Intranet sites and add again with the new names for them to function. T

[2020-08-18 09:43] Yvand commented on #6
Hi, I understand the impact in your scenario and indeed, SID would address it, but LDAPCP still does not support SID.
Implementing it would be quite a big work

[2020-08-18 09:48] Yvand commented on #128
A given "PickerEntity metadata" can be associated to only 1 LDAP attribute (per LDAP class).
You may clear the "PickerEntity metadata" for the windowsaccountname claim type and use PowerShell to set it to either "cn" or "sn", but it don't think it will affect the test in the tooltip

[2020-08-18 10:52] kalervojankko commented on #6
Ok, thanks for the info!

[2020-08-18 12:09] camel028 commented on #128
As I understood, there is rather no such functionality that sn or cn will be replaced by the "DisplayName" value and the search will only follow these attributes but will be displayed something else?

[2020-08-19 08:00] Yvand commented on #128
There is no direct way to control the value shown in the tooltip, but the order of the list may matter: if you put the displayName on top of the cs/sn, I think it will show the displayName in the tooltip

[2020-08-29 09:07] #125 closed

[2020-09-03 09:34] camel028 opened #129 "Multiple WebApplications and one SPTrustedProvider"
Hi @Yvand

Can you confirm that it is possible to handle several web applications within the same sp trusted provider and associated LDAPCP?

Thanks.

[2020-09-03 10:00] Yvand commented on #129
Hi @camel028, yes, that scenario works perfectly fine

[2020-09-04 08:07] camel028 commented on #129
Thank you!

[2020-09-04 08:07] #129 closed

[2020-09-04 08:13] camel028 commented on #128
Hi,
It depends on what word was found via cn, sn or givenName but I would always want to have full name in tooltip, i.e. DisplayName without this prefix cn or sn as below:
![image](https://user-images.githubusercontent.com/3504518/92216762-0afc4a00-ee97-11ea-8786-7f5ccb87c2a6.png)
but just "Marcin Mandziej"

Is it possible to format like this?

[2020-09-08 07:20] camel028 commented on #128
Hi @Yvand ,

Could you please help with presenting the same mail attribute on the tooltip as for "PickerEntity metadata" attribute "Title"?
So in other words I would like to use the same attribute on pickerentity and tooltip at the top. Is it possible?

Thank you.

[2020-09-08 08:09] Yvand commented on #128
@camel028 there is no way to control the value displayed in the tool tip, LDAPCP chooses the first attribute that matches the input, and formats it as you mentioned...

[2020-09-08 08:29] camel028 commented on #128
@Yvand ok it is clear but what about email address which is always presented at the top of the tooltip? Can I display the same address as defined in the "PickerEntity metadata" as Title field?

[2020-09-08 13:31] Yvand commented on #128
The top value in the tooltip cannot be controlled.
I checked in the code, and it seems that it's SharePoint which decides what to show here, not LDAPCP.

[2020-09-08 13:53] camel028 commented on #128
Hi,
![image](https://user-images.githubusercontent.com/3504518/92485297-06af9400-f1eb-11ea-871a-ee48db34edf9.png)
I am think it is controlled by LDAPCP because the row marked with red defines mail (Email) value which is displayed at the top of the tooltip.
However I would like to present the same value which is already presented in the previous row so value under "pwcPreferredMail" but as I unders

[2020-09-08 16:05] Yvand commented on #128
Ah ok, yes that makes sense now.
So, as you suggested, the top value that SharePoint shows in the tooltip is the one that has PickerEntity metadata Email.
I confirm it wouldn't make sense to set the same PickerEntity metadata twice, it can match only 1 LDAP attribute

[2020-09-09 06:31] camel028 commented on #128
Hi @Yvand ,
OK but is it possible to set the same LDAP attribute ("pwcPreferredMail") at the last line so instead of pwcCloudMail.
I would like to have the same EMAIL value for PickerEntity metadata as well as for the last line.
As you can see now I have 2 different LDAP attributes for the mail (pwcPreferredMail & pwcCloudMail)

Thanks.

[2020-09-10 13:41] gjmjack commented on #111
hi Yvand
Finally it turns out it's a related code caused that issue. And the LDAPCP module hangs at the same location as well.
After fixing that issue the problem resolved.
Thanks

[2020-09-10 14:14] Yvand commented on #111
Thank you for the update

[2020-09-14 15:15] Yvand commented on #128
@camel028 there is no direct control on the last line, it's really LDAPCP displaying basically the first value that matches the input...

[2020-09-16 10:26] #126 closed

[2020-10-14 08:11] BeniFreitag opened #130 "Users are shown but grant Permissions throws DirectoryServicesCOMException: An operations error occurred"
People Picker shows user correctly with their emailaddress but when I grant permissions to any user an error is shown. ULS logs these messages (screenshot below):

[] Unexpected error occurred while getting domain names information for LDAP connection LDAP://mydomain.local/DC=mydomain,DC=local (DirectoryServicesCOMException): System.DirectoryServices.DirectoryServicesCOMException: An operations er

[2020-10-14 08:38] Yvand commented on #130
* Does it repro with all accounts? Including groups?
* What version of LDAPCP are you using?
* Did you define custom LDAP connections?
* Can you switch LDAPCP logs to verbose to get the exact LDAP query and test it yourself?
  * To switch to verbose: `"LDAPCP:*"| Set-SPLogLevel -TraceSeverity Verbose`
  * To replay query: https://ldapcp.com/Troubleshoot-LDAPCP.html

[2020-10-14 08:53] BeniFreitag commented on #130
* It occours with all user accounts.
* LDAPCP Version: 14.1.20191007.981 (latest)
* When I use a custom LDAP connection it works. It only fails when I use the standard LDAP connection.

Verbose Logging shows this additional message:
[] Unexpected error occurred while getting domain names information for LDAP connection LDAP://mydomain.local/DC=mydomain,DC=local (DirectoryServicesCOMException): Sys

[2020-10-14 08:56] AbuZeinab1987 opened #131 "Could not load file or assembly 'ldapcp, Version=1.0.0.0, Culture=neutral, PublicKeyToken=80be731bc1a1a740' or one of its dependencies. The system cannot find the file specified. issue"
Dears,

once deploy on 2 SharePoint 2016 web-front end servers  one of the servers give me the below error once open the site

Could not load file or assembly 'ldapcp, Version=1.0.0.0, Culture=neutral, PublicKeyToken=80be731bc1a1a740' or one of its dependencies. The system cannot find the file specified.

i need to ask how to add ldapcp.dll to assemblies by gacutil it not added, is there any way t

[2020-10-14 09:04] Yvand commented on #131
Please check the "Important" section in https://ldapcp.com/Install-LDAPCP.html

[2020-10-14 09:12] AbuZeinab1987 commented on #131
i did it now but i got the same issue its now deployed on GAC on both WFE Servers
should i deploy the dll on Apps servers?

[2020-10-14 10:04] Yvand commented on #131
LDAPCP.dll assembly must be present in all SharePoint servers of the farm.
Normally SharePoint should deploy it by itself to application servers, but if not, you definitely need to add it.

[2020-10-14 12:09] AbuZeinab1987 commented on #131
Many Thanks

[2020-10-16 07:02] blackbasket opened #132 "Adding SPTrustedIdentityTokenIssuer"
Hi,

I want to use LDAPCP, because I have to authenticate users from two ADs. I think, I understand the install procedure, but I do not know how to configure the Token Issuer.

I deployed ADFS in the past and understood how to do it in that case. But how do I deloy a Token Issuer for LDAPCP. I do not have i.e. any certificate. Or do I have to deploy ADFS to be able to use LDAPCP?

Thanks,
Marcel

[2020-10-16 15:26] Yvand commented on #132
LDAPCP can be used only in federated authentication, so with a 3rd party STS, whether it's ADFS or another one.
Does that answer your questions?

[2020-10-19 15:16] Yvand commented on #130
I'm a little bit out of suggestion here, I can't see what difference could be relevant between the custom LDAP connection and the default one...
What options do you use when you create the custom LDAP connection? Can you try using options "Secure" and "Signing"?

[2020-10-20 07:12] blackbasket commented on #132
Yes, thank you

[2020-10-20 07:12] #132 closed

[2020-10-20 15:44] BeniFreitag commented on #130
For the custom LDAP connection I used just "Secure". Otherwise I recieve "A more secure authentication method is required for this server. ". "Secure" and "Signing" also works.

We have multiple SharePoint Servers with LDAPCP and SharePoint 2013/2016, all in the same Active Directory and didn't run into this issue before.

Anyway, since I figured out the workaround to just add the default-connecti

[2020-10-21 15:55] Yvand commented on #130
Thank you for the tests and reporting the solution you found

[2020-10-21 15:55] #130 closed

[2020-10-21 17:08] #128 closed

[2020-10-22 20:26] bgefrich opened #133 "Nested groups in AD, and .NET helper slowness"
Hello,

We have an ADFS solution with LDAPCP installed on SharePoint 2016. Group augmentation with the .NET Helper to the SharePoint AD domain is working as expected with nested groups. However, the augmentation queries are taking on average 8-9 seconds. When running workflows against items on a list, we may see many of these group augmentation calls, which can extend steps that should be nearly i

[2020-10-26 15:03] Yvand commented on #133
@bgefrich can you set LDAPCP logs to verbose and extract the logs when the augmentation is slow:

[code]

[2020-10-28 09:49] #131 closed

[2020-11-05 22:26] NaveenKanukuntla opened #134 "Group Claim Augmentation does not work if display name is different from SamAccountName for Group"
When I try to provide access to users using an AD Group. My AD Group name is 'IT-DepartmentName'. But the display name is 'Department Name'.

So, while logging in, although claims augmentation is completed successfully, it does not match my group SamAccountName. Since during claims augmentation, it resolves to group display name and I never get access to the site due to the mis-match in Group disp

[2020-11-10 08:54] Yvand commented on #134
You can set what attribute is used to create group claims, and by default it's the samAccountName: Go to Central Administration > Security > LDAPCP Claim types configuration.
You can also double check how LDAPCP creates groups claims by filtering SharePoint logs on product/area "LDAPCP" (enable verbose to see individual groups)

[2020-11-10 14:25] NaveenKanukuntla commented on #134
Thanks for your reply Yvan. I have debugged the code and I can see that the code is retrieving the memberOf property from Active Directory for logged in user.

The MemberOf property looks something like this for each attribute :
![image](https://user-images.githubusercontent.com/19915644/98683228-cbd4f400-2332-11eb-84ee-f7c7d752a280.png)

As you can see in the picture, it pulls distinguished name,

[2020-11-10 14:54] Yvand commented on #134
Hi @NaveenKanukuntla, your analysis is perfectly correct:
In this code path, LDAPCP uses the DistinguishedName of the group to set its claim value, regardless of what is set in the claims mapping table.
The reason for this design is that the LDAP object available here is the user. The only info LDAPCP has about the groups is their DistinguishedName values in property memberof of the user.
To actua

[2020-11-10 15:05] NaveenKanukuntla commented on #134
Hi @Yvand . Thanks for the quick reply. I initially started using .NET Helper setting.

But, it looks like that method does not use secure authentication, the authentication type is set to None. Hence any calls to my directory simply fails to query anything or maybe the filter is incorrect.

See the ULS logs below after setting the setting to use .NET Helper method.
![image](https://user-images.gi

[2020-11-10 17:56] Yvand commented on #134
You can configure a secure connection using the options (check boxes) in the LDAP connection section, at the top of LDAPCP global configuration page (you will need to delete and re-add the connection)

[2020-11-10 19:18] NaveenKanukuntla commented on #134
Hi @Yvand .

I created it multiple times. Still it did not work, hence switched back to Query LDAP Server option.

I was debugging the code to see what was going on. In LDAPCP.cs, I noticed you put a comment. See below line.

// BUG: Filters must be set in an object created in this method (to be bound to current thread), otherwise filter may be updated by multiple threads
List<LDAPConnection> ldap

[2020-11-12 08:36] Yvand commented on #134
I did a very quick test of the augmentation, and the logs confirm that the authentication is secured, using the the authentication options that I checked when I added the connection:

[code]

Can you compare with your own logs?

[2020-11-12 16:11] NaveenKanukuntla commented on #134
I tried to do exactly what you said and this time i selcted both 'Query this Server' and 'Use .NET Helper'.
I have configured 4 domains to look for.

I see the following in logs

[code]

As you can see, if I select both 'Query this Server' and 'Use .NET Helper'. I see these unexpected errors for username and password that was used to connect to these 4 domains. I have verified it multiple times an

[2020-11-16 13:54] Yvand commented on #134
I see that all connections are made with AuthenticationType "SimpleBind", while I guess you set something more secure?
To confirm if that's the actual issue, you can run the script below that gets group membership just like LDAPCP does when "Use .NET Helper" is set.
You only need to set variables at the top:

[code]

[2020-11-20 14:05] YourOwner opened #135 "ADFS Services"
When connecting Project sites to authorization via ADFS (SSO) in the plugin, the site permissions are shared by these 2 providers (AD and ADFS), they do not see that this is the same user.

[2020-11-24 09:02] Yvand commented on #135
By design, SharePoint will never consider that an AD and an ADFS user are the same, because they come from 2 different authentication providers.

[2020-11-27 09:28] Rahul9730333055 opened #136 "Correct Name not apprearing after search from people picker"
I have updated the latest version of ldapcp but Correct Name not appearing after search from people picker

[2020-11-27 10:31] Yvand commented on #136
What value do you see?
What value do you expect to see?
You can enable verbose to see exactly how LDAPCP sets the value:

[code]

[2020-12-02 19:44] #133 closed

[2020-12-16 15:06] #135 closed

[2020-12-23 15:12] #134 closed

[2021-01-03 11:27] #136 closed

[2021-02-09 18:00] jason-lochan opened #137 "When user matches on Windows Account Name user permission is written as a 'domain group'"
Hi,

We have an issue where if the user matches on Windows User Name the permission is stored as a 'Domain Group'
![image](https://user-images.githubusercontent.com/78814661/107406940-04719e80-6ad7-11eb-967d-0b62d6b0ff41.png)

Here is our trusted provider configuration:
![image](https://user-images.githubusercontent.com/78814661/107407354-8feb2f80-6ad7-11eb-97fd-7dc00909ed11.png)

Here is our LDAC

[2021-02-09 20:13] jason-lochan commented on #137
We've resolved this issue.

The problem was SamAccountName and Email were both configured as primary claims vs as secondary mappings (Like how  DisplayName is configured by default)

The solution was to delete the email & samAcountName configurations and add them back in using 'New Item' in the Claims configuration page, then using the 'add a mapping between a LDAP object and the main correspondin

[2021-02-09 20:13] #137 closed

[2021-02-09 20:38] jason-lochan commented on #137
Spent a bit of time researching to get this configuration right.  Our primary identifier is UPN.

Here is our final configuration for anyone else who may be running into this issue:
![image](https://user-images.githubusercontent.com/78814661/107425387-e878f780-6aec-11eb-908b-f9121546519a.png)

[2021-02-10 08:38] Yvand commented on #137
Thank you for taking the time to share your feedback

[2021-02-19 13:48] k4ntj3 opened #138 "Is it possible to filter out specific users via LDAPCP with an LDAPFILTER"
I'm not sure this is the right place to ask this question, if not let me know.

I want to ask if it's possible and how to filter out specific users via LDAP filter
Our company want's to hide users for example in the People Picker which have the AD attribute extensionAttribute11 set to 1.

We have SharePoint 2016 with ADFS and LDAPCP 14.1.20191007.981 and I've created an LDAP filter that is working

[2021-02-19 13:56] Yvand commented on #138
@k4ntj3 LDAPCP lets you set custom LDAP filters per claim type.
You can do it in central admin > Security > LDAPCP claim types configuration.
In the table, you can set your custom LDAP filter in column "Additional LDAP filter"

[2021-02-19 14:06] k4ntj3 commented on #138
Thanks for the quick reply and for the great product!

Yes that is what I thought and I've already tried to add the filter to the UPN claim (not sure if this is the correct one) but when I use the PeoplePicker I still see users that I didn't expect to see.

I've also checked the hidden user list and the user that I've checked is also not in the hidden user list.

[2021-02-19 14:41] Yvand commented on #138
Bear in mind that the results in the people picker may come from the local browser cache. To clear the cache, run this in the console: `localStorage.clear();` and refresh the page

[2021-02-19 15:14] k4ntj3 commented on #138
I'm not sure how to that via the console but I've reset my browser settings and tried inprivate navigation but both results are the same.

I've also attached a screenshot of my claim type configuration, maybe you can see if there is something wrong :)
![ldpacp](https://user-images.githubusercontent.com/43210993/108522791-7adb8100-72cd-11eb-8886-a6b0b4089a89.png)

[2021-02-19 16:18] Yvand commented on #138
In your web browser: hit F12 and click on console tab. Here you can run the command `localStorage.clear();` and refresh the page.
In the screenshot I can see that you set the LDAP filter for the upn claim type specifically, but you probably want to apply it to the other rows in green too.
If you want to see the actual LDAP query done by LDAPCP, you can find it in the SharePoint logs. Filter the lo

[2021-02-19 16:30] k4ntj3 commented on #138
Allright, ill check your tips next week.
Thanks for your help!

[2021-02-23 20:55] cmaneiro opened #139 "LDAPCP not retriving user using Process Account"
Hi,

We have seen in some customer that the **Process Account** fails to show users in people picker. If the App pool is recycled the works again, but eventually the problem persist.

We've been able to resolve this situation configuring LDAP connection.

Kind regards

[2021-02-24 09:27] Yvand commented on #139
Thank you for reporting this.
Do you mean that you deleted the default connection and created your own on the same domain instead?

[2021-02-24 09:40] cmaneiro commented on #139
Hi,

I have tested both scenarios, removing default connection and having
default and LDAP

El mié, 24 feb 2021 a las 10:28, Yvan Duhamel (<notifications@github.com>)
escribió:

[2021-02-25 14:58] Yvand commented on #139
So it works fine with a custom connection, but randomly fails with the default connection?

[2021-02-25 15:06] cmaneiro commented on #139
Exactly!!!

My customer report me this problem and I was able to reproduce it in my lab.

The workaround seems to be working

Sent from my iPhone

[2021-02-25 15:32] Yvand commented on #139
Understood. It was already reported a few times and it always worked to switch to a custom connection, but I have no idea why it happened. It's really a rare scenario.

[2021-03-04 09:31] k4ntj3 commented on #138
I finally have time again for this issue.

When I run localstorage.clear(); the console response with undefined, not sure if that is correct. Never the less I cleared the cache via UI, but I still see users that I shouldn't see.

I've set the claims type configuration as below, do you know if that is correct?

![ldapcp2](https://user-images.githubusercontent.com/43210993/109942658-b403f000-7cd4-11

[2021-03-04 09:37] k4ntj3 commented on #138
I forgot about this one:

If you want to see the actual LDAP query done by LDAPCP, you can find it in the SharePoint logs. Filter the logs on product/area "LDAPCP" to find the relevant messages.

I'm going to check the ULS logs.

[2021-03-04 14:54] k4ntj3 commented on #138
I found the actual LDAP filter in the ULS log and I've run the LDAP query from the ULS log step by step and noticed that the unwanted results came from the displayname part "(&(objectclass=user)(displayName=jeroen d*))"

When I checked the claim types page in Central Admin it isn't possible to add a additional LDAP filter, because I don't have an edit button there.

What would you suggest? Remove

[2021-03-05 07:43] k4ntj3 commented on #138
I found the option to "apply the filter to all user attributes" and added the filter "(extensionAttribute11=0)" after that I tested with another user and that is working fine, so it appears that user that I tested before wasn't a good test case, not sure why yet.

[2021-03-05 07:43] #138 closed

[2021-03-05 08:49] Yvand commented on #138
@k4ntj3 in any case, you can always extract the actual LDAP request executed by LDAPCP and reply it on your side to troubleshoot the unexpected results

[2021-03-16 10:22] ychen803 opened #140 "Reflect user permission from security group"
Hi

We encountered with following issue for you to advice:
1. We have two domains for SharePoint farm
    - Sharepoint service accounts are at domain A
    - Normal user account are at domain B
2. We notice that permission granted via security group from domain B are not reflected
3. We notice that permission granted via security group from domain A are reflected

Can advice how we could configure

[2021-03-17 12:24] Yvand commented on #140
hi @ychen803, here is what you can check:
- Does your identity provider include groups in its SAML token?
- Did you enable augmentation in LDAPCP?
- You can set LDAPCP logs in verbose to see what groups are added to the token of the user when he signs-in:
`"LDAPCP:*"| Set-SPLogLevel -TraceSeverity Verbose`

[2021-03-23 14:58] reveratt opened #141 "Cannot Check Users Permissions and more"
Hi,

We've found a few issues related to ADFS account in our environment and using LDAPCP I hope you can help. We cannot check for permissions which I have seen was an issue in the past but cannot find a soluton for our environemnt. I have added Verbose for LDAPCP in our logs and we get different results depending on the user:
1)

03/23/2021 14:32:00.65	w3wp.exe (0x1680)	0x169C	LDAPCP	Augmentation

[2021-03-23 15:06] NaveenKanukuntla commented on #141
@reveratt FYI, I would suggest you to replace the sensitive information like email id or network information from your post. To keep it a little anonymous.

[2021-03-23 16:37] reveratt commented on #141
@NaveenKanukuntla Thanks for that, you are correct and a silly mistake for me to make. I've updated that, many thanks.

[2021-03-24 09:04] Yvand commented on #141
@reveratt in the LDAPCP settings, you did not check the box "Query this server" in the augmentation section.
Can you please check it and try again (look at the log to ensure that LDAPCP is called again for augmentation) ?

[2021-03-24 20:55] reveratt commented on #141
That appears to solve that issue thank you very much however we are also having another issue. When sending an email address to a user in a workflow (seleted from a people picker and setting the 'To' field to Email Address) The workflow throws and erorr saying the email cannot be sent. After looking in the log it's says the user cannot be found and a similar LDAPCP query. I have included a relevan

[2021-03-25 15:46] Yvand commented on #141
@reveratt the log file looks somehow broken so it's difficult to see what is wrong.
Could it be that 2 users (Windows + trusted) have the same email in the UPA?

[2021-03-29 08:33] ychen803 commented on #140
Hi Yvand

Thanks for the reply. The command to enable log is very useful. I am able to see the groups for the user, looks alright. I have tested one user, it seems to be working. I will get my customer to verify use other accounts.

Regards
Chen Yue

[2021-03-29 12:20] Yvand commented on #140
Sure, please update/close the issue when you have news on this

[2021-04-01 03:31] ychen803 commented on #140
Hi Yvand

Now we notice following symptoms related to parent security group, not sure whether it is due to the limitation of LDAPCP.
1. User belong to one child security group, e.g. SGC1 and this child security group belong a parent security group SGP1
2. We grant the permission to SGP1, user could have the necessary rights from SGP1
3. When we check the permission, the permission granted to SGP1

[2021-04-01 09:33] Yvand commented on #140
@ychen803 when you configured the augmentation in LDAPCP settings page, did you enable option "Use .NET helper (for Active Directory only)"?
Only if it is set can LDAPCP get nested groups

[2021-04-03 17:04] #139 closed

[2021-04-06 05:00] ychen803 commented on #140
Hi Yvand

Yes, you are right. We did not check the 'Use .NET helper (for Active Directory only)'. We can see the nested group after we set the option. We are just waiting for user's final confirmation to close this case.

Regards
Chen Yue

[2021-04-07 12:53] DanGillott opened #142 "Question about installing LDAPCP on a new server in Sharepoint 2016 FARM"
I have a server in a Sharepoint 2016 and I basically need to reinstall LDAPCP on it locally.  I wanted to know if I can use
a "-local" switch similar to "Install-SPSolution-Identity LDAPCP.wsp –GACDeployment -local"
The solution is installed through out the farm and is working.
When I run "get-spsolution"  deployed is "true"

get-spsolution

Name                           SolutionId

[2021-04-07 13:06] Yvand commented on #142
hi @DanGillott, can you confirm that you ran `Get-SPFeature| ?{$_.DisplayName -like 'LDAPCP*'}| fl DisplayName, Scope, Id, RootDirectory` on the same server that does NOT actually contain those features in the 16\TEMPLATE\FEATURES folder?
Is LDAPCP,dll present in the GAC of this server?

[2021-04-07 13:07] Yvand commented on #140
Please update/close the issue when you finished your verifications

[2021-04-07 13:18] DanGillott commented on #142
@Yvand , Thanks for the quick response.  Yes I can confirm that the Get-SPFeature is on the server and I cannot locate the LDAPCP.DLL in the GAC.  I only spot checked the GAC, GAC_64 and GAC_32 directories.

[2021-04-07 13:35] Yvand commented on #142
@DanGillott then I have a little doubt regarding the fact that I'm not sure if  `Get-SPFeature| ?{$_.DisplayName -like 'LDAPCP*'}| fl DisplayName, Scope, Id, RootDirectory` considers that feature IS installed despite files are missing.

In theory, you could run just `Install-SPSolution -Identity "LDAPCP.wsp" -GACDeployment -local` on the server, but I would not do it.
LDAPCP is a simple solution.

[2021-04-07 13:42] DanGillott commented on #142
@Yvand Thank you.  I will do the manual copy as suggested.  Can I ask why not run the "Install-SPsolution"  I had done that early on when first deploying on a few servers.  Due to a timer job issue we experienced at the time the install was not pushed out.  Although it did work.  Again I am grateful for the information.  I will let you know if I can resolve it.

[2021-04-07 13:53] Yvand commented on #142
@DanGillott I am a little bit afraid that `Install-SPsolution` fails. If this happens, fixing it [is possible](https://ldapcp.com/Fix-setup-issues.html) but it's a pain.
But well, thinking about it, using the `-Local` switch is quite safe, so in fact maybe I would use it instead of doing it manually.
It would make later updates more reliable (as SP will have the actual knowledge where solution bin

[2021-04-07 13:59] DanGillott commented on #142
@Yvand  - Always good to know as I am on the only one of two engineers here who actually installed it.  We are moving to a federated authentication and I am working on our second farm and the first farm went very well with this solution.  So Thank you,  as far as the fix is concerned.  I am reviewing some correspondence I had with MS support and they had suggested the -local which did work early o

[2021-04-07 14:44] DanGillott commented on #142
Can I ask a follow up question.  We are checking the existing assembly and we do not see the LDAPCP.  We are just looking for any correlation.  Does this make any sense to you.

$existingAssembly = [System.Reflection.Assembly]::Load("ldapcp, Version=1.0.0.0, Culture=neut
ral, PublicKeyToken=80be731bc1a1a740").Location
Exception calling "Load" with "1" argument(s): "Could not load file or assembly

[2021-04-08 06:36] Yvand commented on #142
It's completely related. ldapcp,dll must be present on all the servers of the SharePoint farm, since as you mentioned, it may be called by SPTimer service on any server in the farm.

Just to be sure, finally did you deploy the files manually or did you run `Install-SPSolution -Identity "LDAPCP.wsp" -GACDeployment -local`?

[2021-04-08 12:02] DanGillott commented on #142
We have run it manually yet we will be doing so shortly.  I was asked to verify.  Thanks for the update.

[2021-04-08 12:40] DanGillott commented on #142
We re-ran from the CA server "update-solution" successfully.  No errors are reported in the solution properties for LDAPCP
We get an error running a manual local install with "add-spsolution" and "install-spsolution - force" saying the solution with the same name exists and the ID (which is correct).  I think the solution has to be removed and re-added. but I am not sure of the proper command woul

[2021-04-08 13:06] DanGillott commented on #142
We were able to correct the issue with the existing assembly and updating the solution through CA.
I will post the steps once I get them from the other engineer.

Thanks for your help

[2021-04-09 03:26] ychen803 commented on #140
Yes, user confirmed the nested group are reflected in the UAT environment. Although we do encountered with similar issue on production, but we shall open a new case if needed. We will close this issue now.

[2021-04-09 03:26] #140 closed

[2021-04-15 08:51] fvibas opened #143 "User missing in Peoplepicker"
We are using LDAPCP v14.1.20191007.981 and we are encountering some users missing in the people picker but when we run the Replay LDAP queries the accounts is actually returned. The account is also there in the User Profile service. May I know what other things to troubleshoot this issue?

[2021-04-16 11:45] Yvand commented on #143
Can you check the SharePoint logs and filter on product/area "LDAPCP" to double check if the LDAP server returned results on the LDAP query ?

[2021-04-22 07:44] fvibas commented on #143
Hi Yvand,

I checked the logs and it thows unexpected [ LDAPCP] Validation failed: found 0 entities instead of 1 for incoming claim with value 'accountname@domain.com' and type 'http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress'

what could be an issue with this?

[2021-04-27 11:42] Yvand commented on #143
It seems that the LDAP query did not return any result. The LDAP query should be recorded just before this message, can you copy it and replay it as [documented here](https://ldapcp.com/Troubleshoot-LDAPCP.html) to confirm/check if it returns the user/group?

[2021-05-02 11:22] #141 closed

[2021-05-15 21:40] #142 closed

[2021-06-04 08:28] #143 closed

[2021-07-15 17:52] gancil opened #144 "Configuration issues after LDAPCP installation"
We just installed LDAPCP on our SharePoint 2019 environment.  Once installed, we went to Security, clicked on Global configuration under LDAPCP Configuration and immediately get the following error:
**_Sorry, something went wrong
Identity claim type must be configured with EntityType 'User'_**

Apologies, we're new to using LDAP.  Can someone please help us get passed this error?

Thank you!

[2021-07-16 10:01] Yvand commented on #144
@gancil can you copy the output of `Get-SPTrustedIdentityTokenIssuer` and `(Get-SPTrustedIdentityTokenIssuer).IdentityClaimTypeInformation` ?

[2021-07-27 21:11] BalakrishnaDuggireddy opened #145 "People picker not resolving users"
Suddenly people picker stopped working and can't resolve the users.

in the LDAP Global Configuration page see this error.
There is no claim type associated with an entity type 'FormsRole' or 'SecurityGroup'.

 how can i fix this error or can this error can be ignored

![LDApError](https://user-images.githubusercontent.com/87300179/127227860-40f3fbde-d035-4ae5-9631-45fedffff2dd.JPG)

[2021-07-28 21:40] 863piotr opened #146 "Slow queries to LDAP"
I have the problem with performance of LDAPCP. I have few people pickers on our custom page in SP 2013 and everytime LDAPCP ask LDAP about the user instead of checking user/claims directly in SP or take from cache. Is it possible to implement the cache? Or maybe it's already implemented but I need to adjust the configuration for such behaviour?

[2021-08-04 15:58] Yvand commented on #145
@BalakrishnaDuggireddy is this error still present? If so, can you send a screenshot of the LDAPCP claim types configuration page?

[2021-08-04 20:25] BalakrishnaDuggireddy commented on #145
Hi Yvan, The error disappeared after adding the role claim type.
However the people picker not resolving the users. if we search for user 'No results Found'.
![PeoplePickererror1](https://user-images.githubusercontent.com/87300179/128249859-2d07719f-9489-4263-8006-878995321672.JPG)

If we copy full mailid and try to add the user, the error message is 'the site can't be shared with external users'

[2021-08-05 05:54] Yvand commented on #145
hi @BalakrishnaDuggireddy , you can check the SharePoint logs and filter on product/area "LDAPCP" to see what is wrong.
I also recommend that you update to the latest version, as v10 is quite old.

[2021-08-05 06:23] Yvand commented on #146
@863piotr you can check the SharePoint logs and filter on Message contains "LDAPCP" to see what exactly is slow. It will include SPMonitoredScope that will be helpful to identify the problem

[2021-08-06 19:57] BalakrishnaDuggireddy commented on #145
Hi @Yvand , i see these errors in the logs.
[LDAPCP] Add LDAP server "LDAP://path" with AuthenticationType "None" and credentials "accountName".

[LDAPCP] Connecting to 'LDAP://path' with AuthenticationType 'None' and filter '(| (&(objectclass=Person)(mail=zhan-*)(|(UserType=EMP)(UserType=SC))) (&(objectclass=Person)(sn=zhan-*)) (&(objectclass=Person)(FullName=zhan-*)) )'

[LDAPCP] Unexpected erro

[2021-08-22 15:58] #144 closed

[2021-08-24 17:26] lehuspohus opened #147 "case-sensitive get domain name by distinguished name"
Hi!
We have an openLDAP server with custom schema and already successfully configured LDAPCP for lookup from this server.

The only thing we needed to change in LDAPCP code to make it work was to **replace case sensivity Contains method** from lines like `if (distinguishedName.Contains("DC="))` with something case insensitive.
This was needed because our schema contains distinguished names in lowe

[2021-08-25 06:44] Yvand commented on #147
@lehuspohus thank you for reporting this.
Indeed, the string operations on the distinguished name should not be case sensitive, I'll change this soon

[2021-09-07 09:33] rurikon commented on #134
Yvand, you commented earlier that "A possible alternative is to get the groups using method LDAPCP.GetGroupsFromActiveDirectory(), which should set the claim value of group with their samAccountName."

I was looking at the following lines in the code of GetGroupsFromActiveDirectory():
https://github.com/Yvand/LDAPCP/blob/c0670eb8b2371277d088b4aae7f8676b225d0bb5/LDAPCP/LDAPCP.cs#L1368
https://githu

[2021-09-07 10:16] rurikon opened #148 "GetGroupsFromActiveDirectory() to look for the attribute set in claim types configuration instead of Name"
We have a set of groups in AD that have different DisplayName, Name and SamAccountName. I was looking into why the group rights didn't work and ran into this issue: https://github.com/Yvand/LDAPCP/issues/134 It basically describes the exact same issue we have.

In the comments, Yvand says "A possible alternative is to get the groups using method LDAPCP.GetGroupsFromActiveDirectory(), which should

[2021-09-08 14:08] Yvand commented on #148
@rurikon thank you for taking the time to report this issue. Yes, you were right to open a new issue.
Indeed, it's quite arbitrary that in `GetGroupsFromActiveDirectory`, LDAPCP uses property `Name`.
I'll see how this can be improved, ideally using the attribute set in the config as you suggested.
I'll keep you posted on the progress

[2021-09-10 19:24] AmitW02 opened #149 "Getting Site Can't be reached"
Hi Yvand,

Greetings!

Got wired issue, after attaching LDAPCP with trusted identity provider, I am getting:

![image](https://user-images.githubusercontent.com/90429964/132906414-bd9a37e7-d4a2-44c9-aa0c-5138ab4bc73b.png)

Even, I have uninstalled and installed LDAPCP again.

If I am removing LDAPCP from Trusted identity provider, then it's working as expected.

Also, I don't see nay issue in ULS

[2021-09-11 08:53] #146 closed

[2021-09-14 13:47] Yvand commented on #149
hi @AmitW02, did you enable augmentation in LDAPCP configuration?
If so, can you try to disable it and check if it also throws this error?

[2021-09-14 17:14] AmitW02 commented on #149
Thanks Yvand for your response.

After disabling  augmentation, getting same error.

here is our configuration:

![image](https://user-images.githubusercontent.com/90429964/133303296-22193cb0-0343-4769-bb35-f2dc3ec053ed.png)

![image](https://user-images.githubusercontent.com/90429964/133303356-e09d0e24-928f-4fbc-a6fd-cf31afbd0d6e.png)

[2021-09-14 17:37] AmitW02 commented on #149
Attaching uls logs.

[2021-09-14 17:50] AmitW02 commented on #149
[SVRSP16WFES01-20210914-1021 - VerboseLog.log](https://github.com/Yvand/LDAPCP/files/7164106/SVRSP16WFES01-20210914-1021.-.VerboseLog.log)

[2021-09-14 17:55] AmitW02 commented on #149
[SVRSP16WFES01-20210914-1021 - VerboseLog.log](https://github.com/Yvand/LDAPCP/files/7164125/SVRSP16WFES01-20210914-1021.-.VerboseLog.log)

[2021-09-16 03:17] #145 closed

[2021-09-16 07:44] Yvand commented on #149
@AmitW02 just to be clear, any log that you upload here is accessible to everyone.
I had a look at the log and the only interesting thing I saw is a gap of 10 seconds during authN:

[code]

But it is not caused by LDAPCP: augmentation is disabled and it did not record anything at that moment in the logs.
I bet you have the same gap without LDAPCP.
The connection reset may be done by a network comp

[2021-09-16 15:44] AmitW02 commented on #149
sure, let me check with network guys.

[2021-09-23 14:19] Yvand commented on #148
@rurikon, the class `System.DirectoryServices.AccountManagement.GroupPrincipal` exposes only 3 properties which LDAPCP could use as claimValue for the group names in `GetGroupsFromActiveDirectory()`:

[code]

In your scenario, would using either `SamAccountName` or `UserPrincipalName` work?

[2021-09-24 11:49] rurikon commented on #148
When installing, LDAPCP automatically sets group claim type to query SamAccountName, so that would be a logical choice.

Another option, if it's not too complex, is to check if the setting matches one of the exposed ones (Name, SamAccountName or UserPrincipalName). If it does, use the setting, and if it doesn't, default to SamAccountName. This is probably what I would aim for, because it gives the

[2021-09-24 13:04] Yvand commented on #148
Understood. So in your case, properties `Name` and `SamAccountName` have different values?
The change completely makes sense, but I want to be very careful because if I do it, in most cases LDAPCP would switch without any warning to `SamAccountName` and I'm really concerned about the potential impacts after an update.

[2021-09-26 11:51] #147 closed

[2021-09-27 15:17] rurikon commented on #148
Yes, Name and SamAccountName are different in our environment. According to my tests, when we have SamAccountName as the group claim type, people picker works "as intended" but augmentation doesn't work at all. People picker will add rights to _c:0-.t|claimprovider|my-group-samaccountname_ (or any other property we define in settings), but the .NET augmentation will always add _c:0-.t|claimprovide

[2021-09-28 12:49] k4ntj3 opened #150 "What to expect updating from v5.1"
I've seen that updating LDAPCP from v5.1 to version >10 is a major update and that the claim type configuration will be reset.

"Version 10 is a major update that has breaking changes. Updating to v10 (or newer) will reset claim type configuration list, and all customization made to that list will be lost."

What does this exactly mean? Will the providerrealms be reset or more?
Will it be enough w

[2021-09-28 14:50] k4ntj3 commented on #150
After some research I guess below site will be cleared and none of the above.

https://CA/_admin/Ldapcp/ClaimsTable.aspx

Can this be confirmed? :D

[2021-09-28 14:58] Yvand commented on #150
@k4ntj3 exactly, that's what is reset.
It does not reset/change anything to SharePoint configuration itself

[2021-09-29 07:21] Yvand commented on #148
@rurikon I thought about it, and I completely agree with your summary. The impact can be only positive, regardless if default configuration of LDAPCP was changed or not.
I'll start working on this feature soon and update this thread when done.
Thank you for your inputs.

[2021-09-29 07:37] k4ntj3 commented on #150
Great Thx for the feedback!

[2021-10-03 03:51] bryanhart73 opened #151 "Issue with LDAP group augmentation and interactive sign in"
Running 14.1.20191007.981 and SharePoint 2019 using non-AD LDAP.  Running into an issue where group permissions are not working correctly on sign in.  Augmentation is enabled and I see it happening without any errors in the ULS log (most of the users are members of ~100 groups and the list in the log appears to be correct). A permissions check in the SharePoint UI says the users have access via on

[2021-10-04 09:46] Yvand commented on #151
@bryanhart73 a possible explanation is a mismatch between:
- The value of the group permission you set in the site
- The value of the group claim added by LDAPCP.

By default, LDAPCP creates group claims using format "DomainFADN\groupname".
So you need to double check if the group permission in the SharePoint site also has the format "DomainFADN\groupname" (which it should if it was created throug

[2021-10-05 05:33] bryanhart73 commented on #151
The group permissions were set using LDAPCP via people picker.  This is a non-AD claims environment so the group looks like "c:0-.t|trustrealm|groupname" instead.

[2021-10-05 05:39] bryanhart73 commented on #151
I should also probably say that this same basic configuration (same LDAP server and claims mappings) works fine with SharePoint 2013 and LDAPCP v5.1.  The only modification we had to make there were some minor code changes to LDAPCP to change how the LDAP filters handled case sensitivity.

[2021-10-05 07:48] Yvand commented on #151
@bryanhart73 you really need to compare the group value added by LDAPCP during augmentation with the actual value of the permission.
You mention that group permission looks like `c:0-.t|trustrealm|groupname`.
Can you check if, during augmentation (sign-in), LDAPDP adds groups in the format `groupname` (instead of maybe `domainfqdn\groupname`) ?

[2021-10-05 14:03] bryanhart73 commented on #151
The ULS log show saugmentation adding "groupname", not "domain\groupname".  Case matches as well.

[2021-10-06 09:23] Yvand commented on #151
As a simple test, can you create a new temp site collection, grant permission to a group and test to access as a trusted user member of this group?

[2021-10-06 16:09] bryanhart73 commented on #151
Sorry for the slow response - we ultimately tracked this down to a non-LDAPCP issue.  Someone incorrectly changed permissions on the Site Pages library.  You can close this and thanks for your responses.

[2021-10-06 17:00] Yvand commented on #151
No worries, thank you for your feedback

[2021-10-06 17:00] #151 closed

[2021-10-07 22:12] AmitW02 commented on #149
There is no issue with Network team. While debugging the LDAPCP code, I am getting below error:

![image](https://user-images.githubusercontent.com/90429964/136469127-5cc0eb0f-841a-4d1f-a9e4-ef48330b6f9e.png)

Also, It's not point to braking point. Even I have tried with Visual Studio -> Debug -> Options ->  uncheck "Enable just my code"

[2021-10-08 07:58] Yvand commented on #99
@AmitW02 this looks like another thread took the lock and does not release it.
What version of LDAPCP.dll exactly are you debugging ?

[2021-10-27 04:02] manas93411 opened #152 "ADFS Authentication using LDAPCP"
Dear Yvand,

Need your support on one of the issue which i am facing after implement LDAPCP.
I am trying to implement ADFS authentication on existing SharePoint sites.
After implement LDAPCP, now the default authorization is ADFS claim account, but system should recognize "Active Directory" account as default which was our original way.
I have explained in more details on the attachment. PFA the s

[2021-10-28 14:06] ninarane opened #153 "Unable to find Timer cache .xml file"
Dear Yvand,

Need your support on one of the issue which we are facing in LDAPCP implementation

1. We have deployed the solution using below commands on our standalone SP2019 server.

Add-SPSolution -LiteralPath "PATH TO WSP FILE"
Install-SPSolution -Identity "LDAPCP.wsp" -GACDeployment -local

2. we were also able to update the claims provider name with below commands

$trust = Get-SPTrustedIden

[2021-11-03 07:44] ninarane commented on #153
@Yvand Thanks for the prompt response, we will go ahead with further configuration and let you know if we face any difficulties.

[2021-11-04 18:28] AmitW02 commented on #149
Root cause - Due to another custom claim (not LDAPCP). Added few more conditions in custom claim provider.

[2021-11-04 18:28] #149 closed

[2021-11-05 08:19] Yvand commented on #149
thanks for sharing the outcome !

[2021-11-05 19:24] #150 closed

[2021-11-10 11:20] ShivaCharan20 commented on #124
Hi Yvan’s,
thanks for your reply. Before firewall open to external domain AD connection was not successful. We opened firewall and in central admin I try to test connection with external LDAP., connection is successful.
however when I try to search users in people picker getting below error in SharePoint logs.

LDAPCP
LDAP Lookup
1337
Unexpected
TLDAPCP1 Unexpected error occurred while connecting

[2021-11-12 16:05] Yvand commented on #124
@ShivaCharan20 can you use [this PowerShell script](https://www.ldapcp.com/docs/help/troubleshooting/#replay-ldap-queries) to check if it reproduces the same error, or if it is able to return results?
Please not that to do a good test, you must use the same parameters as the connection you set in LDAPCP

[2021-11-15 03:29] ShivaCharan20 commented on #124
Hi Yvand,
I try given powershell script in one of our APP01 server it is returning the results for which fw is open, where as when I execute the script in wfe02 server., it’s giving “The server is not operational”. WFE02 server firewall is not open to external domain server.
When I check SP logs LAPCP logs are only getting captured in WFE02 server.
Do I need to open firewall in all the servers?
An

[2021-11-15 08:31] Yvand commented on #124
Hi @ShivaCharan20, yes, all SharePoint servers must be allowed to communicate with the external LDAP server.
Yes, you can configure UPS with your trusted identity provider, but that is not related to this discussion and not related to LDAPCP

[2021-11-15 08:57] ShivaCharan20 commented on #124
Hi Yvan Dhuamel,
Thanks for your reply., let me try and update you. Just checking any possibility on UPS (I will try on that as well).
Thanks,
Shiva

[2021-11-18 05:27] #148 closed

[2021-11-19 06:56] vinodkumarbmw opened #154 "Searching with email address no longer possible after migrating to SharePoint 2019"
We have recently setup a new farm using SharePoint 2019 which replicates the existing SharePoint 2013 farm. We have configured LDAPCP as claims provider exactly same as it was in SharePoint 2013. Claims mapping we are using is UPN.

The issue is, in SharePoint 2013 we were able to search the user with email address but in SharePoint 2019, it does not work. If we use sAmAccountName, it returns the

[2021-11-19 15:49] Yvand commented on #154
@vinodkumarbmw go to central administration > security > LDAPCP Claim types configuration page.
At the bottom of the table you click New Item > "Add a mapping between a LDAP object and the main corresponding object type" and fill entries like this:

![image](https://user-images.githubusercontent.com/8788631/142651443-84371304-525e-40f0-bdf6-bfd769c3fef3.png)

It should work immediately after this.

[2021-11-20 06:56] vinodkumarbmw commented on #154
@Yvand Thanks for the quick assistance.
Actually, LDAPCP is configured for external users which are stored in AD differently because the attributes are replicated from LARS directory (internal database for partners/suppliers).

So, for external users, email field was empty in AD so the above mapping did not work.

However, I ran PowerShell command to find out which property contained the email add

[2021-11-22 13:07] #154 closed

[2021-11-23 14:36] Yvand commented on #99
@AmitW02 is this issue still present?

[2021-11-23 15:39] schrockmatthew commented on #99
Not for I.
________________________________
From: Yvan Duhamel ***@***.***>
Sent: Tuesday, November 23, 2021 9:36:12 AM
To: Yvand/LDAPCP ***@***.***>
Cc: schrockmatthew ***@***.***>; Mention ***@***.***>
Subject: Re: [Yvand/LDAPCP] ADFS page stuck at waiting (#99)

@AmitW02<https://github.com/AmitW02> is this issue still present?

—
You are receiving this because you were mentioned.
Reply to this

[2021-11-23 18:34] AmitW02 commented on #99
I am good now. Thanks.

[2021-12-02 17:20] hanspeham opened #155 "No result in Select People or Group dialog"
Dear Yvand!
I am using LDAPCP in a SharePoint 2019 farm and changed to ADFS authentication recently. I use the mail attribute as identity claim and also group claims which are working fine. The LDAPCP configuration is standard (automatic setting), only that I removed the {fqdn} suffix for the role claim.  I have an issue but maybe it is only a misconfiguration.
When I use the Select People or Grou

[2021-12-03 08:17] Yvand commented on #155
hi @hanspeham, can you check the SharePoint logs when you do this search, and filter them on product/area "LDAPCP"?
It should show some information that can explain why it displays no result

[2021-12-03 14:29] hanspeham commented on #155
Hi Yvand!
This is what I get when I click on the search button of the dialog:
12/03/2021 15:14:11.82    w3wp.exe (0x2B8C)    0x2B60    LDAPCP    LDAP Lookup    1337    Unexpected    [LDAPCP] Unexpected error occurred while connecting to LDAP server LDAP://[DOMAIN].com/DC=[DOMAIN],DC=com: System.DirectoryServices.DirectoryServicesCOMException: An operations error occurred.  , Callstack:    at Syste

[2021-12-03 15:47] Yvand commented on #155
It looks like somehow, the default LDAP connection does not work fine in all processes.
To fix it, instead of using the default connetion, can you try to create the LDAP connection manually? You can do that from central administration > LDAPCP global configuration > Add a new LDAP connection ? (and of course do not forget to remove the default one)

[2021-12-04 06:05] #152 closed

[2021-12-06 07:34] hanspeham commented on #155
Hi Yvand! You were right. The automatic configuration was working only partly, I suspect due to security hardening. Manual configuration works.
Kind regards,
 Hans

[2021-12-06 07:34] #155 closed

[2021-12-10 23:54] #153 closed

[2022-01-28 08:56] dssbegj opened #156 "ldaps"
Hello, my company has decided to switch our ldap server to ldaps and i cannot get ladpcp to work.

i see there is an old issue that is closed from 2020 that says its not compatible with ldaps, is this still the case?
https://github.com/Yvand/LDAPCP/issues/125

i havent seen any info in the changelog of ldapcp that mentions ldaps.

[2022-01-30 05:40] logictester opened #157 "Add-SPSolution : Invalid URI: The format of the URI could not be determined."
Hello,
When running the safe mode script (or manual installation) getting: Add-SPSolution : Invalid URI: The format of the URI could not be determined.
Any ideas or help will be greatly appreciated
Thanks

[2022-01-30 05:40] logictester commented on #157
On second attempt, getting: Install-SPSolution : The language-neutral solution package was not found

[2022-01-31 16:07] Yvand commented on #156
LDAPDP uses the standard .NET directory services API and it should be able to connect to any LDAP server which this API supports.
I suggest you use the script in https://www.ldapcp.com/docs/help/troubleshooting/#replay-ldap-queries to try to connect to your LDAPS server. If it works, LDAPCP will also be able to connect

[2022-02-01 07:54] Yvand commented on #157
@logictester how did you fix this?

[2022-02-01 19:03] logictester commented on #157
My entire sharepoint environment was messed up with unknown URI errors, couldn’t do anything, had to reinstall sharepoint and start from scratch and everything worked

From: Yvan Duhamel ***@***.***>
Date: Tuesday, February 1, 2022 at 2:54 AM
To: Yvand/LDAPCP ***@***.***>
Cc: Alex Basin ***@***.***>, Mention ***@***.***>
Subject: Re: [Yvand/LDAPCP] Add-SPSolution : Invalid URI: The format of the U

[2022-02-18 10:53] helderem opened #158 "How to populate second line in results"
We've implemented LDAPCP in our Extranet project and it works very nicely. However my client has the wish to also show the Company from LDAP (LDS) field in the People Picker. In our Intranet environment there is a second line in the People Picker where the JobTitle is shown, I would also like to populate that in our Extranet. No sure if it is at all possible.

This is our internal environment, the

[2022-02-18 15:11] Yvand commented on #158
@helderem what matters is where the PickerEntity metadata "JobTitle" is set.
But from an old memory I think I remember there is a problem with the [JobTitle member](https://docs.microsoft.com/fr-fr/dotnet/api/microsoft.sharepoint.webcontrols.peopleeditorentitydatakeys?view=sharepoint-server). I will test it next week and come back to you with more details

[2022-02-21 16:47] Yvand commented on #158
@helderem it was actually a very old bug in LDAPCP, which I just fixed in https://github.com/Yvand/LDAPCP/commit/b5ce4b104872fcb226038f33e978f7b7cac92584
If you don't want to wait for the hotfix, you could set it through PowerShell instead of the admin page. You can use [this example ](https://www.ldapcp.com/docs/usage/configuration/#add-a-claim-type-to-ldapcp) as a starter.

[2022-02-25 10:18] Yvand commented on #158
@helderem ok, I will check on my side and come back to you with my findings

[2022-02-28 13:46] helderem commented on #158
@Yvand , this works perfectly! Thank you for the support.

[2022-02-28 13:46] #158 closed

[2022-03-13 19:34] #156 closed

[2022-03-16 06:44] kalervojankko opened #159 "Is it possible to hide "Everyone" -group from People Picker?"
Hi,

Our client asked if it is possible to hide the "Everyone" (All authenticated users) -group from People Picker?

From time to time, users inadvertently grant permissions to that group to site collections, libraries and files and we check with custom ps script few times a year where those permissions are granted and then remove them.

I know that you can hide that group from People Picker in SP

[2022-03-17 08:49] Yvand commented on #159
Hi @kalervojankko, permissions "Everyone" and "All Users (authenticationMode)" are created by out of the box claims provider "SPAllUserClaimProvider" and there is no way to configure it (and PeoplePickerSettings have no effect on it).
You can deactivate it as you did with your script, but then it has side effects.
LDAPCP cannot do anything about this, as it does not create those permissions.

[2022-03-17 08:51] kalervojankko commented on #159
Thanks! That's all I needed. :)

[2022-03-17 08:52] #159 closed

[2022-05-02 12:53] Darnould56 opened #161 "People Picker Filtering"
Hello,

We have a SharePoint 2013 farm with multiple webapplications all using ADFS.
For one of them (and only this one), we want to filter the users shown in people picker to the membership of a specific group and/or to a specific OU in Active Directory.

We tried filtering with the "peoplepicker-searchadcustomfilter" property for the sitecollection.
We also tried to use the "UserAccountDirectory

[2022-05-02 14:34] Yvand commented on #161
@Darnould56 I confirm that LDAPCP does not use this property as it is specific to Windows users, and indeed, LDAPCP does not allow you to customize the LDAP filter per web application

[2022-05-20 03:08] rowan659 opened #162 "LDAPs"
just wondering, is LDAPCP supporting LDAPs?

[2022-06-27 22:51] #161 closed

[2022-07-07 05:11] #162 closed

[2022-08-08 14:49] mpatrick210 opened #163 "Force LDAPCP to USE Port 636"
Is there a way to force a LDAPCP connect to user port 636 vs 389?

[2022-08-08 15:12] Yvand commented on #163
You can replace the default connection with your own LDAP connection and set the port to 636 in central admin > Security > LDAPCP global configuration.
If LDAPS is correctly configured on the LDAP server, then the connection should use SSL encryption.

[2022-08-08 15:24] mpatrick210 commented on #163
Hey Yvand - I currently use LDAPCP v2017.10, and do not see a place to set the port. Do we need to update LDAPCP to a new version to see that option? I tried to add the port to the actual LDAP path - LDAP://xx.xx.xx.xx:636 - but that didn't work.

[2022-08-08 15:44] Yvand commented on #163
@mpatrick210 yes it should work, although you should update LDAPCP
The LDAP path is correct, but I forgot that you should also check [SecureSocketsLayer](https://docs.microsoft.com/en-us/dotnet/api/system.directoryservices.authenticationtypes) in the authentication type options

[2022-08-09 06:11] Yvand commented on #163
@mpatrick210 based on the [enum type values](https://docs.microsoft.com/en-us/dotnet/api/system.directoryservices.authenticationtypes?view=dotnet-plat-ext-6.0), you can use `Encryption`, which has the same value as `SecureSocketsLayer`

[2022-08-09 13:18] mpatrick210 commented on #163
@Yvand tried the "Encryption" type, and it fails with:

Unable to connect to LDAP for following reason: The server is not operations. It may be expected if w3wp process of central admin has intentionally no access to LDAP server.

[2022-08-09 14:14] Yvand commented on #163
@mpatrick210 can you try to connect to your LDAP using LDAPS on the SharePoint machine, as the SharePoint farm/apppool account, using ldp.exe as [documented here](https://docs.microsoft.com/en-us/troubleshoot/windows-server/identity/enable-ldap-over-ssl-3rd-certification-authority#verify-an-ldaps-connection) ?

[2022-08-09 15:33] Yvand commented on #163
I did some tests and I think it works if you use the following settings:
LDAP path: `LDAP://dc.contoso.local:636/CN=Users,DC=contoso,DC=local`
[Authentication type](https://docs.microsoft.com/en-us/dotnet/api/system.directoryservices.authenticationtypes?view=netframework-4.8): `Encryption, Secure`

Can you give this a try?
Note that, according to my tests, the path is case sensitive: Make sure to

[2022-08-10 12:28] Yvand commented on #163
@mpatrick210 were you able to validate if it works using the settings above?

[2022-08-10 12:50] mpatrick210 commented on #163
Hey @Yvand I was able to use our domain LDAP://domain.com:636 - but it would not allow us to add new users to sites via the People Picker on our production farm...tested same on our Test and Stage farms, and it seemed to work. FYI - I did not select Encryption or Secure, and did not put the entire path to the domain/containers - so trying to play with that a little bit to see what I may have misse

[2022-08-10 13:50] mpatrick210 commented on #163
@Yvand  Thank you for the further details...I will test these on my test environment and let you know what I find. Thanks!

[2022-08-12 15:00] Yvand commented on #163
@mpatrick210 I tried again and now both scripts fully use LDAPS over SSL.
I'm not sure why I observed differently previously.
But the outcome is that LDAPCP can use LDAPS over SSL if the path looks like this:
`LDAP://contoso.local:636/CN=Users,DC=contoso,DC=local"`
According to my tests the enum AuthenticationTypes does not even matter.
Can you confirm this on your end?

[2022-08-12 15:54] mpatrick210 commented on #163
hey @Yvand I will test this approach...my last tests seemed to work on my dev/test farms, but for the production farm, it seemed to break...it would allow "some" users, but not all...it was very odd behavior

[2022-08-19 20:13] mpatrick210 commented on #163
Hey @Yvand just a quick follow up....I was able to get this to work, turns out it was an issue with cert chain...the reason it worked on lower tiers was that it only had 1 WFE, where as Prod had 6...thought I had update the cert on all of them, but missed a few, and caused the intermittent issues on some of teh WFEs. I appreciate your assistance and support on helping me try and figure this all ou

[2022-08-22 08:12] Yvand commented on #163
@mpatrick210 very good news, thanks for the update!

[2022-08-31 09:01] Odi81 opened #164 "Augmentation does not work with OpenDJ"
We are using SharePoint with OpenDJ. Augmentation does not work, because group membership attribute is "isMemberOf".
https://backstage.forgerock.com/docs/opendj/2.6/configref/is-member-of-virtual-attribute.html

LDAP query only includes attributes "memberOf" and "uniquememberof". Result in Log message:
[LDAPCP] Got 0 group(s) for user "###" in 568 ms from LDAP server "LDAP://###.com:636"

We need

[2022-09-05 14:57] Yvand commented on #164
@Odi81 I will be away this week but I will come back to you next week on this topic
Thank you for your patience

[2022-09-13 07:33] Odi81 commented on #164
@Yvand Yes, we need group based authorization. We have tested the claims provider after extending the GroupMembershipAttributes variable and it worked.

![unnamed](https://user-images.githubusercontent.com/112546549/189837512-6fd8080b-7fd3-4c13-ac26-af4b0a363689.png)

If this can be included in a future release, the issue will be solved.

[2022-09-19 15:34] Yvand commented on #164
Noted. Indeed, for the time being you can manually edit this property to include your LDAP property, which is exactly what the code change would do anyway.
Thanks for reporting this

[2022-10-10 15:15] Jo311 opened #165 "Augmentation and workflow permissions"
Hi,

We are using LDAPCP in a SP16 and SP19 environment and we have an issue with augmentation and AD group membership based permissions when starting Sp2013 workflows.
The error we get when starting a workflow is "_Access denied. You do not have permission to perform this action or access this resource._"

In the LDAPCP settings we have the “Use .Net helper” option activated only, so “Query this

[2022-10-12 15:18] Yvand commented on #165
@Jo311 your observations are basically correct, let me add some precisions:
- option "query this server" determines if this connection is used to get group membership. If it is not set, then this connection is skipped
- when “Use .Net helper” is set: LDAPCP [gets group membership](https://github.com/Yvand/LDAPCP/blob/43b7723c032bf2d0a5cbe8a80e87f3a618a02d9e/LDAPCP/LDAPCP.cs#L1356) using [UserPrinc

[2022-10-13 12:39] Jo311 commented on #165
@Yvand
Thanks for the info.
The way I understand this is that it makes no sense in selecting “Use .Net helper” or not, as long as "query this server" is not selected?

So, as a solution to our initial problem that WFs cannot be started if permissions are given with AD groups, "query this server" must be selected. Selecting “Use .Net helper” or not does not have an influence on this.

I did some ex

[2022-10-14 22:01] renzska opened #166 "Unable to remove email address from people picker popup without breaking quickedit on 2019/SE."
Thanks for your work on LDAPCP. It's been a life saver.

My main goal is to get rid of the "(Email Address)" people picker choices and have both the regular form people picker and the list quick edit people picker work. I want the displayName in the People Picker choices with Title below the displayName. Unfortunately, I cannot get this working correctly.

I'm trying to resolve an issue with the l

[2022-10-14 22:07] renzska commented on #166
Forgot to include this before:

Get-SPTrustedIdentityTokenIssuer Output:

UseStateToRedirect            : False
ProviderUri                   :
ProviderSignOutUri            :
DefaultProviderRealm          :
ProviderRealms                : {}
ClaimTypes                    : {http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress, http://schemas.xmlsoap.org/ws/2005/05/identity/claims/up

[2022-10-14 22:07] renzska commented on #166
And this:

Get-SPClaimProvider

DisplayName                 : System
Description                 : Provides system claim data.
IsEnabled                   : True
IsUsedByDefault             : True
IsVisible                   : True
AssemblyName                : Microsoft.SharePoint, Version=16.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c
TypeName                    : Microsoft.SharePoin

[2022-10-15 01:36] renzska commented on #166
Here are the settings we used on SharePoint 2013 with LDAPCP v3.7.0.0 that worked the way I'm hoping we can get to work on SharePoint 2019 and SharePoint Subscription Edition:

![image](https://user-images.githubusercontent.com/13021263/195963214-0a0c01fb-1b8c-4094-9875-53f62321b352.png)

[2022-10-17 07:00] Jo311 commented on #165
@Yvand
Ok thx you can clos

[2022-10-17 07:00] #165 closed

[2022-10-18 08:21] Yvand commented on #166
@renzska deleting the email address claim type in LDAPCP claims list is the correct approach to get rid of entries like "(EmailAddress) user@domain.com" in the people picker.
The error you got in the quick edit view is because a permission on this claim type already exists, so you need to delete it and recreated under the UPN claim type first

[2022-10-18 16:21] renzska commented on #166
Thanks for the reply. The 3.7.0.0 is from an old environment that I was using to compare against the new environment running the latest v15, which is where we are having the issue.

I’m not sure what you mean when you say:

I’d appreciate it if you could give me more detail on what you meant.

[2022-10-19 07:59] Yvand commented on #166
This issue won't repro in a new list. But if you add a people column and add a user like "(EmailAddress) user@domain.com" you will reproduce it.
You'll need to first delete this user and re-add it in UPN claim format

[2022-10-22 19:05] #163 closed

[2022-10-28 23:54] #164 closed

[2022-11-07 10:19] ykuijs opened #167 "Default logging level triggers Health Analyzer rule"
The default logging level of the LDAPCP\Debug category triggers the Health Analyzer rule "One or more categories are configured with Verbose trace logging". It might be better to set the logging level to Medium for that category as well, so users can set this to VerboseEx when necessary.

![image](https://user-images.githubusercontent.com/15103891/200286106-529de78a-90a2-4b41-b107-2b8f18993e70.png

[2022-11-08 14:42] Yvand commented on #167
Thank you for reporting this! This is a dumb mistake: It should be verbose(ex) by default only in the DLL compiled in debug mode, but it was also verbose in release mode...
I just changed it in https://github.com/Yvand/LDAPCP/commit/fee51aa81cfbeff338ed4771c3184539f4cda09b

[2022-11-18 10:38] turovskysd opened #168 "In Central Administration can't see ADFS users in people picker"
Hello Yvan!

I have issue in SharePoint Subscribe Edition and LDAPCP.
There is no ability to find any ADFS users from Central Administration in people picker.
I can find Windows claim users for example "i:0#.w|domain\user" but I cant see any "i:0ǵ.t|adfs\users" in people picker.

Without LDAPCP , the "ClaimProviderName " has empty in SPTrustedIdentityTokenIssuer is all fine, I can find ADFS users

[2022-11-18 10:44] Yvand commented on #168
Hello @turovskysd, can you check the SharePoint logs and filter on product/area "LDAPCP"? It should show you what goes wrong.

[2022-11-18 11:50] turovskysd commented on #168
Thank you Yvand!

There are 2 critical message in ULS

1.
STS Call: Failed to issue new security token. Exception: 'System.IO.FileNotFoundException: Could not load file or assembly 'ldapcp, Version=1.0.0.0, Culture=neutral, PublicKeyToken=80be731bc1a1a740' or one of its dependencies. The system cannot find the file specified.  File name: 'ldapcp, Version=1.0.0.0, Culture=neutral, PublicKeyToken=80

[2022-11-18 14:57] Yvand commented on #168
@turovskysd what is the role of server that records this error? Does it run the  service “Microsoft SharePoint Foundation Web Application” and/or the central administration?

On this server, does this PowerShell cmdlet work: `Add-Type -AssemblyName "ldapcp, Version=1.0.0.0, Culture=neutral, PublicKeyToken=80be731bc1a1a740"`
Does it work on other SharePoint servers?

Can you double check you did no

[2022-11-18 18:57] turovskysd commented on #168
Yvand thank you!

I have run on search servers

[System.Reflection.Assembly]::Load("System.EnterpriseServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a") | Out-Null
$publish = New-Object System.EnterpriseServices.Internal.Publish

try
{
    # Method Publish.GacRemove() removes the assembly from the GAC if it exists (it is needed for update scenarios)
    $existingAssembly

[2022-11-21 06:34] turovskysd commented on #168
Hello Yvand!

Have you any idyes to resolve issue?

[2022-11-21 08:31] Yvand commented on #168
@turovskysd in central admin > Security > LDAPCP global administration page: Can you try to delete the default LDAP connection and add one where you manually enter the LDAP connection details?

[2022-11-23 01:12] renzska commented on #166
We have opened a ticket with Microsoft and they have been able replicate
the issue in their environment and it is not related to LDAPCP. They will
keep us updated on the issue as they work through it.

Thanks,

John

On Tue, Nov 22, 2022 at 2:17 PM stale[bot] ***@***.***> wrote:

[2022-11-24 10:08] ChristophHannappel opened #169 "Augmentation uses SimpleBind regardless of LDAPConnectionsProp.AuthenticationSettings"
Hello,

I'm using LDACP 15.0.20220421.1394.
The SharePoint Server is placed in a Ressource Active Directory and the User accounts stored in another Active Directory.
Both Domains have a bidirectional trust.
I've added an LDAP Connection with the `AuthenticationSettings = 'Secure, Signing, Sealing'` and the connection test is successfull. Also the People Picker works like a charm.
After i've activa

[2022-11-25 15:52] Yvand commented on #169
@ChristophHannappel I did some tests, and indeed it always use `SimpleBind`.
I'll investigate this further and keep you posted

[2022-11-28 08:46] turovskysd commented on #168
Hello Yvand.
The SharePoint farm has in default this connection

1. Security\LDAPCP Configuration\Global Configuration

There are this options

Registered LDAP connection:
LDAP Path - Connect to SharePoint domain
Username - Process account
Action - Remove button

2. Register a new LDAP connection

Connect to a LDAP server

LDAP path - empty values
Username - empty values
Password - empty values

M

[2022-11-30 09:59] Yvand commented on #168
@turovskysd LDAPCP uses [method Domain.GetDirectoryEntry()](https://learn.microsoft.com/en-us/dotnet/api/system.directoryservices.activedirectory.domain.getdirectoryentry?view=netframework-4.8) to get the default LDAP connection, and somehow, sometimes using it does not work and the LDAP connection has to be set manually.
I don't know what causes this.